
@{
    ViewData["Title"] = "AllocateLeavesLeaveCategoryWise";
}


<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/LeaveAllocation.css" rel="stylesheet" />*@
@*<link href="~/Themes/assets/css/StyleSheets/AllocateLeavesLeaveCategoryWise.css" rel="stylesheet" />*@
  
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    @*<script src="~/js/LeaveAllocation.js"></script>*@
    <script src="~/js/AllocateLeavesLeaveCategoryWise.js"></script>
   
</head>
<body data-screen-name="LeaveAllocation">
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>CATEGORY WISE ALLOCATE LEAVES</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                @*==========================search result Card====================*@
                <div class="card mb-4" id="SearchPage">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                SEARCH CATEGORIES TO ALLOCATE LEAVES
                            </span>
                        </h5>
                    </div>

                    <div class="card-body">
                        <form id="FmAllocateLeavesSearch">
                            <div class="row">
                                <div class="col">
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">LMS Category</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlLmsCategory' class="select2 form-select select2-hidden-accessible" onchange="DdlLmsSubCategory_Calingfunction(this.id,'DdlLmsSubCategory')" asp-items="@(new SelectList(""))">
                                                    <option value=''>Select LMS category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">LMS Sub Category</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlLmsSubCategory' class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))" disabled>
                                                    <option>Select LMS Sub Category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="FN_ClearValues('FmAllocateLeavesSearch')" value="Clear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="GetAllocateLeavesLeaveCategoryWiseTBLViewCalingFunction(event)" value="Search">Search</button>
                                        </div>
                                    </div>
                                    @*--------------------------*@

                                </div>
                            </div>

                        </form>
                    </div>
                </div>



                @*========================== Searched result table Card====================*@

                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <div id="TBLAllocateLeavesSearchedTypePageView_id_Div">

                </div>


            </div>
                </div>
                </div>

</body>
</html>




