
@{
    ViewData["Title"] = "ApplyShortLeaves";
}


<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/ApplyShortLeaves.css" rel="stylesheet" />*@  


    @*<link href="~/datatable/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/datatable/jquery.dataTables.min.css" rel="stylesheet" />*@

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Staff Module /</span>APPLY SHORT LEAVE</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="demo-inline-spacing">
                    <button  class="btn rounded-pill btn-label-primary waves-effect" onclick="LnkApplyShortLeave()">Apply Short Leave</button>
                </div>

                        <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="Date_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="FromTimeHrs_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="ToTimeHrs_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="FromTimeMinates_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="ToTimeMinates_Span_Error"></span>
                        <span class="ErrorMessageSpan" id="Comments_Span_Error"></span>


                            @*-----------------------------Short Leave Details Table-----------------------*@
            <div id="EntireDivShortLeaveDetailsTable">
                <div class="card mb-4" id="AppliedShortLeaves_SearchRecords_Div" style="display:none">
                    <div class="card-header flex-column flex-md-row">
                        <div class="head-label text-center">
                            <h5 class="card-title mb-0">
                                @*<span id="CountOfRecords_AppliedShortLeaves">No Records</span>*@
                                <span>YOUR SEARCH RESULTED &nbsp;<span id="CountOfRecords_AppliedShortLeaves" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                            </h5>
                        </div>
                    </div>

                    <div class="table-responsive text-nowrap">

                        <table id="TblAppliedShortLeaves_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th style="text-align: center;">View Status</th>
                                    <th>Reason</th>
                                    <th>Date</th>
                                    <th>From Time</th>
                                    <th>To Time</th>
                                    <th>Total Time</th>
                                    <th>Status</th>
                                    <th style="text-align: center;">Cancel</th>
                                    <th style="text-align: center;">Print</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot style="display:none">
                                <tr><td style="padding:2px" colspan="9"><div style="text-align:center" id="TblAppliedShortLeaves_SearchRecords_pagination"></div></td></tr>

                            </tfoot>
                        </table>
                        @*<div id="TblAppliedShortLeaves_SearchRecords_pagination">

                </div>*@


                    </div>
                </div>



                @*-----------------------------Print And Cancel And View  Details Table-----------------------*@
                @*<a id="A1" href="#" onclick="javascript:CallPrint('PrintBTN')">PRINT</a>*@
                <button class="btn rounded-pill btn-label-primary waves-effect" id="PrintBTN" style="display:none" onclick="javascript:CallPrint('printDetails_Form')">PRINT</button>

                <div class="card mb-4" id="accordionoc_VIEW" style="display:none">
                    <div class="card-header flex-column flex-md-row">
                        <div class="head-label text-center">
                            <h5 class="card-title mb-0">
                                <span id="ctl00_ContentPlaceHolder1_lblMyLeavesStatusHistory"></span>
                                @*<span>VIEW STATUS ( &nbsp;<span id="ctl00_ContentPlaceHolder1_lblMyLeavesStatusHistory" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S) FOUND).</span>*@
                            </h5>
                        </div>
                    </div>

                    <div class="table-responsive text-nowrap">

                        @*<table id="data-table" class="table table-bordered">*@
                        <table id="GetMyAppliedLeaves_Table_VIEW" class="table table-hover table-bordered no-footer dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Submitted By</th>
                                    <th>Assigned To</th>
                                    <th>Comments</th>
                                    <th>Approval Status</th>
                                    <th>	Overall Status</th>
                                    <th>Applied	Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot style="display:none">
                                <tr><td colspan="10"><div style="text-align:center" id="GetMyAppliedLeaves_Table_VIEW_pagination"></div></td></tr>
                            </tfoot>
                        </table>



                        <form id="printDetails_Form">
                            @*<div class="card">*@
                                <table class="table table-bordered no-footer dataTable">
                                    <tr>
                                        <td>
                                            <link href="~/css/PrintLeavesDetailsTableStyle.css" rel="stylesheet" />
                                            @*<link href="~/Themes/assets/css/StyleSheets/ApplyShortLeaves.css" rel="stylesheet" />*@
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td valign="top">
                                                            <table width="100%" cellspacing="0" cellpadding="3" align="center" class="BCcolor">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table width="100%" cellspacing="0" align="center">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <table id="SchoolnameTable" width="100%" cellspacing="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td width="95px" align="center" rowspan="2" valign="top">
                                                                                                                            <img src="https://www.connect4m.com/R3Images/FeeHeaderPhotos/545/Jnanadeeplogo.png" style=" margin-left: 5%;" alt="">
                                                                                                                        </td>
                                                                                                                        <td class="Leavetitle">
                                                                                                                            <b class="schooltitle"><span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_instancename"></span></b><br>
                                                                                                                            <span style=" font-family: Times New Roman;font-weight:600" id="SchoolnameTable_ADDRESS"></span><br>
                                                                                                                            <br>
                                                                                                                            <b class="subLeavetitle">APPLIED SHORT LEAVE DETAILS</b>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <table width="100%" cellspacing="0" align="center">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="height: 5px;">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <table width="100%" cellspacing="0" align="center">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="height: 15px;">
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td>
                                                                                                                            <table id="GetMyAppliedLeaves_Table_Print" class="table table-bordered no-footer dataTable" border="1" cellspacing="0">
                                                                                                                                <thead>
                                                                                                                                    <tr style='border: 1px solid;' class="subLeavetitle" > <th>S.No </th><th>Submitted By </th><th> Department </th>  <th>Date of Joining </th><th> Submitted To </th> <th>Leave Type </th><th> Date</th><th>From Time (24hrs)</th>  <th>To Time (24hrs)</th> <th> Status</th></tr>
                                                                                                                                </thead>
                                                                                                                                <tbody>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                            <table width="100%" cellspacing="0" cellpadding="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td style="height: 15px;">
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td style="height: 50px; width : 170px">
                                                                                                                                        </td>
                                                                                                                                        <td style="height: 50px; width : 170px">
                                                                                                                                        </td>
                                                                                                                                        <td nowrap="" style="height: 50px; width : 50px">
                                                                                                                                            <table id="TotalNoofDays_TABLE" border="1" style="height: 50px; width : 50px">
                                                                                                                                                <thead>
                                                                                                                                                    <tr>
                                                                                                                                                        <td nowrap="" class="subLeavetitle" align="center" style="height: 20px; width:128px">
                                                                                                                                                            Total Time:

                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </thead>
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>

                                                                                                                                                        <td id="TotalNoofDays_TABLE_TD" nowrap="" style="border:1px solid;height:10px;" align="center" class="bonafidetxt">
                                                                                                                                                            @*0.5*@
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>

                                                                                                                                        </td>
                                                                                                                                    </tr>

                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>




                                        </td>
                                    </tr>
                                </table>
                            @*</div>*@
                        </form>
                    </div>

                </div>



                @*-----------------------------Monthly sHORT lEAVES Details Table-----------------------*@
                <button class="btn rounded-pill btn-outline-info waves-effect" id="lnkShowMyPermissions" onclick="TblMonthlyAppliedShortLeavesCount_SearchRecords_Calingfunction(event, '1', 'TblMonthlyAppliedShortLeaves_SearchRecords', 'CountOfRecords_MonthlyAppliedShortLeaves', 'MonthlyAppliedShortLeaves_SearchRecords_Div')">Show My Short Leaves</button>

                <div id="MonthlyAppliedShortLeaves_SearchRecords_EntireDiv">
                    <div class="card" id="MonthlyAppliedShortLeaves_SearchRecords_Div" style="display:none">

                        <div style=" background-color: aliceblue;">
                            <b>Note:</b>
                            <ul>
                                <li> Monthly Apply Short Leaves  Limit =   2  </li>
                                <li> Yearly Apply Short Leaves  Limit  =   15  </li>
                            </ul>
                        </div>
                        <div class="card-header flex-column flex-md-row">
                            <div class="head-label text-center">
                                <h5 class="card-title mb-0">
                                    @*<span id="CountOfRecords_MonthlyAppliedShortLeaves">No Records</span>*@
                                    <span>YOUR SEARCH RESULTED &nbsp;<span id="CountOfRecords_MonthlyAppliedShortLeaves" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                </h5>
                            </div>
                        </div>
                        <div class="table-responsive text-nowrap">
                            <table id="TblMonthlyAppliedShortLeaves_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Month</th>
                                        <th>Total Applied</th>
                                        <th>Total Approved</th>
                                        <th>Approved Used</th>
                                        <th>Approved Not Used</th>
                                        <th>Waiting for Approval</th>
                                        <th>Rejected</th>
                                        <th>Cancelled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot id="TblMonthlyAppliedShortLeaves_SearchRecordsFooter" style="display:none">
                                    <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="TblMonthlyAppliedShortLeaves_SearchRecords_pagination"></div></td></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

                        @*-------------------------------------Apply Short Leave-----page start------------------*@
                   
            <div class="card mb-4" id="DivApplyShortLeavePage" style="display:none">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">
                        <span>
                            APPLY SHORT LEAVE
                        </span>
                    </h5><small class="required">INDICATE REQUIRED FEILDS</small>
                </div>

                                        <div class="card-body">
                                            <form id="FmApplyShortLeave">
                                                    <div class="row">
                                                        <div class="col">
                                                            @*--------------------------*@
                                                            <div class="row mb-3 ">
                                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Date</label>
                                                                <div class="col-sm-4 ">
                                                                    <input type="date" class="form-control" name="Fromdate" id="TxtDate" />
                                                                </div>
                                                            </div>

                                                            @*--------------------------*@
                                                            <div class="row mb-3 ">
                                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">From Time</label>
                                                                <div class="col-sm-2 ">
                                                                    <div class="position-relative">
                                                                        <select id='FromTimeHours' class="select2 form-select select2-hidden-accessible" name="FromTimeHrs">
                                                                            <option value="">Select</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                            <option value="13">13</option>
                                                                            <option value="14">14</option>
                                                                            <option value="15">15</option>
                                                                            <option value="16">16</option>
                                                                            <option value="17">17</option>
                                                                            <option value="18">18</option>
                                                                        </select>
                                                                        <span>Hrs.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2 ">
                                                                    <div class="position-relative">
                                                                        <select id="FromTimeMinates" class="select2 form-select select2-hidden-accessible" name="FromTimeMin">
                                                                            <option value="">Select</option>
                                                                            <option value="00">00</option>
                                                                            <option value="01">01</option>
                                                                            <option value="02">02</option>
                                                                            <option value="03">03</option>
                                                                            <option value="04">04</option>
                                                                            <option value="05">05</option>
                                                                            <option value="06">06</option>
                                                                            <option value="07">07</option>
                                                                            <option value="08">08</option>
                                                                            <option value="09">09</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                            <option value="13">13</option>
                                                                            <option value="14">14</option>
                                                                            <option value="15">15</option>
                                                                            <option value="16">16</option>
                                                                            <option value="17">17</option>
                                                                            <option value="18">18</option>
                                                                            <option value="19">19</option>
                                                                            <option value="20">20</option>
                                                                            <option value="21">21</option>
                                                                            <option value="22">22</option>
                                                                            <option value="23">23</option>
                                                                            <option value="24">24</option>
                                                                            <option value="25">25</option>
                                                                            <option value="26">26</option>
                                                                            <option value="27">27</option>
                                                                            <option value="28">28</option>
                                                                            <option value="29">29</option>
                                                                            <option value="30">30</option>
                                                                            <option value="31">31</option>
                                                                            <option value="32">32</option>
                                                                            <option value="33">33</option>
                                                                            <option value="34">34</option>
                                                                            <option value="35">35</option>
                                                                            <option value="36">36</option>
                                                                            <option value="37">37</option>
                                                                            <option value="38">38</option>
                                                                            <option value="39">39</option>
                                                                            <option value="40">40</option>
                                                                            <option value="41">41</option>
                                                                            <option value="42">42</option>
                                                                            <option value="43">43</option>
                                                                            <option value="44">44</option>
                                                                            <option value="45">45</option>
                                                                            <option value="46">46</option>
                                                                            <option value="47">47</option>
                                                                            <option value="48">48</option>
                                                                            <option value="49">49</option>
                                                                            <option value="50">50</option>
                                                                            <option value="51">51</option>
                                                                            <option value="52">52</option>
                                                                            <option value="53">53</option>
                                                                            <option value="54">54</option>
                                                                            <option value="55">55</option>
                                                                            <option value="56">56</option>
                                                                            <option value="57">57</option>
                                                                            <option value="58">58</option>
                                                                            <option value="59">59</option>

                                                                        </select>

                                                                        <span>Mins.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*--------------------------*@
                                                            <div class="row mb-3 ">
                                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">To Time</label>
                                                                <div class="col-sm-2 ">
                                                                    <div class="position-relative">
                                                                        <select id='ToTimeHours' class="select2 form-select select2-hidden-accessible" name="ToTimeHrs">
                                                                            <option value="">Select</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                            <option value="13">13</option>
                                                                            <option value="14">14</option>
                                                                            <option value="15">15</option>
                                                                            <option value="16">16</option>
                                                                            <option value="17">17</option>
                                                                            <option value="18">18</option>
                                                                        </select>
                                                                        <span>Hrs.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2 ">
                                                                    <div class="position-relative">
                                                                        <select id="ToTimeMinates" class="select2 form-select select2-hidden-accessible" name="ToTimeMin">
                                                                            <option value="">Select</option>
                                                                            <option value="00">00</option>
                                                                            <option value="01">01</option>
                                                                            <option value="02">02</option>
                                                                            <option value="03">03</option>
                                                                            <option value="04">04</option>
                                                                            <option value="05">05</option>
                                                                            <option value="06">06</option>
                                                                            <option value="07">07</option>
                                                                            <option value="08">08</option>
                                                                            <option value="09">09</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                            <option value="13">13</option>
                                                                            <option value="14">14</option>
                                                                            <option value="15">15</option>
                                                                            <option value="16">16</option>
                                                                            <option value="17">17</option>
                                                                            <option value="18">18</option>
                                                                            <option value="19">19</option>
                                                                            <option value="20">20</option>
                                                                            <option value="21">21</option>
                                                                            <option value="22">22</option>
                                                                            <option value="23">23</option>
                                                                            <option value="24">24</option>
                                                                            <option value="25">25</option>
                                                                            <option value="26">26</option>
                                                                            <option value="27">27</option>
                                                                            <option value="28">28</option>
                                                                            <option value="29">29</option>
                                                                            <option value="30">30</option>
                                                                            <option value="31">31</option>
                                                                            <option value="32">32</option>
                                                                            <option value="33">33</option>
                                                                            <option value="34">34</option>
                                                                            <option value="35">35</option>
                                                                            <option value="36">36</option>
                                                                            <option value="37">37</option>
                                                                            <option value="38">38</option>
                                                                            <option value="39">39</option>
                                                                            <option value="40">40</option>
                                                                            <option value="41">41</option>
                                                                            <option value="42">42</option>
                                                                            <option value="43">43</option>
                                                                            <option value="44">44</option>
                                                                            <option value="45">45</option>
                                                                            <option value="46">46</option>
                                                                            <option value="47">47</option>
                                                                            <option value="48">48</option>
                                                                            <option value="49">49</option>
                                                                            <option value="50">50</option>
                                                                            <option value="51">51</option>
                                                                            <option value="52">52</option>
                                                                            <option value="53">53</option>
                                                                            <option value="54">54</option>
                                                                            <option value="55">55</option>
                                                                            <option value="56">56</option>
                                                                            <option value="57">57</option>
                                                                            <option value="58">58</option>
                                                                            <option value="59">59</option>

                                                                        </select>

                                                                        <span>Mins.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*--------------------------*@
                                                            <div class="row mb-3 ">
                                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Reason</label>
                                                                <div class="col-sm-4 ">
                                                                    <textarea class="form-control" id="TxtAreaReason" name="Comments" maxlength="500" rows="3"></textarea>
                                                                    <label class="form-label"><label class="form-label" id="TextareacountSPAN">500</label> Character(s) remaining.</label>
                                                                </div>
                                                            </div>

                                                            @*--------------------------*@
                                                            <div class="row justify-content-end">
                                                                <div class="col-sm-8">
                                                                    <button type="button" class="btn btn-info waves-effect waves-light" id="Backbutton1" onclick="BackToDisplayShortLeaves(this.id)" value="Back">Back</button>
                                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearbutton1" onclick="FN_ClearValues(this.id,'FmApplyShortLeave','AppliedEmployeesNames_Id')" value="Clear">Clear</button>
                                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="savebuttonId" value="Submit">Submit</button>
                                                                </div>
                                                            </div>
                                                            @*--------------------------*@

                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                               


            </div>
                </div>
        </div>


</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
<script src="~/js/ApplyShortLeaves.js"></script>

