
@{
    ViewData["Title"] = "AssignLeavestoStaff";
}



<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/AssignLeavestoStaff.css" rel="stylesheet" />*@
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

    <script src="~/js/AssignLeavestoStaff.js"></script>
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>ASSIGN LEAVES TO STAFF</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="PayrollCategoryId_Span_Error"></span>
                <span class="ErrorMessageSpan" id="PayrollSubCategoryId_Span_Error"></span>
                @*==========================search result Card====================*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                SEARCH USERS TO ALLOCATE LEAVES
                            </span>
                        </h5><small class="required">INDICATES REQUIRED FIELDS</small>
                    </div>

                    <div class="card-body">
                        <form id="FmAssignLeavesToStaffSearch">
                            <div class="row">
                                <div class="col">
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">LMS Category</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlLmsCategory' class="select2 form-select select2-hidden-accessible" onchange="DdlLmsSubCategory_Calingfunction(this.id,'DdlLmsSubCategory')" asp-items="@(new SelectList(""))">
                                                    <option value=''>Select LMS category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">LMS Sub Category</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlLmsSubCategory' class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))" >
                                                    <option>Select LMS Sub Category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="FN_ClearValues('FmAllocateLeavesSearch')" value="Clear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="_TblAssignLeavesToStaffTblViewCalingFunction(event)" value="Search">Search</button>
                                        </div>
                                    </div>
                                    @*--------------------------*@

                                </div>
                            </div>

                        </form>
                    </div>

                </div>


                @*-----Searched Result page*@


                <div id="_TblAssignLeavesToStaffSearchedTypePageView_id_Div">

                </div>

            </div>
            </div>
                </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function CheckAllCheckBoxes() {
        debugger;
        var check = this.checked;
        $(":checkbox").prop("checked", check)
    }


    //====>>>>> CLEAR FUNCTION  ADDING BY ARJUN
    //function clearForm(formId) {
    //    debugger;
    //    var form = document.getElementById(formId);
    //    if (form) {
    //        form.reset(); // Reset the form elements
    //        var validationSpans = form.querySelectorAll('span[data-valmsg-for]');
    //        validationSpans.forEach(span => {
    //            span.textContent = ''; // Clear validation messages
    //        });
    //    }
    //}

</script>




