
@{
    ViewData["Title"] = "AssignLeavestoStaff";
}



<!DOCTYPE html>
<html>
<head>
    <link href="~/Themes/assets/css/StyleSheets/AssignLeavestoStaff.css" rel="stylesheet" />
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/AssignLeavestoStaff.js"></script>

</head>
<body>




    <!-- Loading Spinner -->
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loader"></div>
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>

    @*@Html.Partial("_SearchLeaveTypePagePartialView")*@
    <div class="card">
        <div class="card-header pb-0" style="padding-top: 0px;">
            <h6 style="text-align: center; color: black; margin-top: 5px; "><strong>ASSIGN LEAVES TO STAFF</strong></h6>
        </div>
        <div class="card-body" style=" padding-top: 0px;">



            <div class="default-according style-1">
                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="PayrollCategoryId_Span_Error"></span>
                <span class="ErrorMessageSpan" id="PayrollSubCategoryId_Span_Error"></span>

                <div class="card" >
                    <div class="card-header " style="background-color:black ;">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon12" aria-expanded="true" aria-controls="collapse11">

                                SEARCH USERS TO ALLOCATE LEAVES
                                <span style="margin-left: 50%;">
                                    * INDICATES REQUIRED FIELDS
                                </span>
                            </button>

                        </h5>
                    </div>

                    <div class="collapse show" id="collapseicon12" aria-labelledby="collapseicon" data-bs-parent="#accordionoc12345" style="">

                        <div class="card ">
                            <div class="card-body">
                                <form id="FmAssignLeavesToStaffSearch">
                                    <div style="margin-left:20%;font-size:12px">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label" style="margin-top: -4px;"><i style="color:red">*</i> LMS Category  :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlLmsCategory' title="Select category" onchange="DdlLmsSubCategory_Calingfunction(this.id,'DdlLmsSubCategory')" class=" input-air-primary " style="width: 230px; color: black; font-size: inherit;height:20px" asp-items="@(new SelectList(""))">
                                                            @*<select id='DdlDepartmentId' name="Departmentid" onchange="DdlClassId_Calingfunction(this.id,'DdlClassId')" class="form-group input-air-primary form-select" style="width: 230px; color: black; font-size: inherit;" asp-items="@(new SelectList(""))">*@

                                                            @*<select id='DdlDepartmentId' name="Departmentid" onchange="DdlClassId_Calingfunction(this.id,'DdlClassId')" class="form-control input-air-primary form-select" style="width: 230px; color: black; font-size: inherit;" asp-items="@(new SelectList(""))">*@
                                                           <option value=''>Select LMS category</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label" style=" margin-top:-4px;"><i style="color:red">*</i>LMS Sub Category :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id="DdlLmsSubCategory" title="Select Sub Category" asp-items="@(new SelectList(""))" class=" input-air-primary " style="width: 230px; color: black; font-size: inherit;height:20px"><option value="">Select LMS Sub Category</option></select>
                                                    </div>
                                                </div>
                                                <div style="margin-left:207px">
                                                    <input type="button" class="btn btn-light " onclick="FN_ClearValues('FmAllocateLeavesSearch')" id="BtnClearSearchForm" style="padding:4px 12px;border-radius:6px;" value="Clear">&nbsp;&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-primary active" onclick="_TblAssignLeavesToStaffTblViewCalingFunction(event)" id="BtnSearchId" style="padding:3px 8px;border-radius:6px;" value="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            @*-----Searched Result page*@


            <div id="_TblAssignLeavesToStaffSearchedTypePageView_id_Div">

            </div>


        </div>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function CheckAllCheckBoxes() {
        debugger;
        var check = this.checked;
        $(":checkbox").prop("checked", check)
    }
 
</script>




