@model IEnumerable<Connect4m_Web.Models.Attendenceproperites.AttendancePosting>
@{
    Layout = null;
}



@if (ViewBag.AllValues["Returnvalues"].ToString() == "0")
{
    <span id="ErrorMessage" class="text-danger">
    The Selected date "@ViewBag.AllValues["StartDate"]" is declared as "@ViewBag.AllValues["HolidayName"]" holiday.
    </span>
}
else if (ViewBag.AllValues["Returnvalues"].ToString() == "-1")
{
<span id="ErrorMessage" class="text-danger">
    You are allowed to post the attendance only for past "@ViewBag.AllValues["HolidayName"]" days . To post attendance for selected date"@ViewBag.AllValues["HolidayName"]" , please contact Quro 4M administrator.
</span>  
}
else
{
    <div class="row">
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="SMS_Stu_Checkboxid">
            <label class="form-check-label " for="SmsToStudent" id="SMS_Stu_Checkboxid">SMS to Students</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="SMS_Par_Checkboxid">
            <label class="form-check-label " for="SmsToStudent" id="SMS_Par_Checkboxid">SMS to Parents</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="Email_Stu_Checkboxid">
            <label class="form-check-label " for="SmsToStudent" id="Email_Stu_Checkboxid">Send Email To Students</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="Email_Par_Checkboxid">
            <label class="form-check-label " for="SmsToStudent" id="Email_Par_Checkboxid">Send Email To Parents</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="Email_Par_Checkboxid">
            <label class="form-check-label " for="SmsToStudent" id="Email_Par_Checkboxid">Send SMS to On duty students</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="selectAll">
            <label class="form-check-label " for="SmsToStudent" id="selectAll">Check All</label>
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="form-check-input checkbox_animated" id="selectAll">
            <label class="form-check-label " for="SmsToStudent" id="selectAll">Check All On duty</label>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 mb-3">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">@*YOUR SEARCH RESULTED*@ <span id="Recordscount" class="badge badge-center rounded-pill bg-primary bg-glow"></span> @*RECORDS*@.</h5>
            </div>
            <div class="card-body">
                @*<table id="Bankaccountstbl" class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>S NO</th>
                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                    </table>*@
                <div class="row justify-content text-center">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success waves-effect waves-light" id="btnsubmit">Get Attendance Form</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


