@model Connect4m_Web.Models.AttendanceModel
@{
    ViewData["Title"] = "CreateLeaveTypePageView";
    Layout = null;
}

        <div class="card mb-4" id="CreateLeaveTypePage">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="CreateLeaveType_Span_CreatePage">  SAVE LEAVE TYPE</span>
                </h5> <small class="required">INDICATES REQUIRED FIELDS</small>
            </div>

            <div class="card-body">
                <form id="FmCreateLeaveType">
                        <div class="row">
                            <div class="col">
                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Leave Type</label>
                                    <div class="col-sm-4 ">
                                        <input type="text" class="form-control" name="Leavetype" id="TxtLeavetype_Createpage" placeholder="Leave Type">
                                    </div>
                                </div>

                                @*--------------------------*@

                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Leave Short Name</label>
                                    <div class="col-sm-4 ">
                                        <input type="text" class="form-control" name="ShortName" id="TxtLeaveShortName_Createpage" placeholder="Leave Short Name">
                                    </div>
                                </div>
                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Description</label>
                                    <div class="col-sm-4 ">
                                        <textarea class="form-control" name="Description" id="TxtAreaDescription_Createpage" onkeyup="CharacterCountingFunction('TxtAreaDescription_Createpage','250','TextareaDescriptioncountSPAN')" maxlength="250" rows="3" placeholder="Description"></textarea>
                                        <label class="form-input-label" id="TextareaDescriptioncountSPAN"></label>

                                    </div>
                                </div>
                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Carry Forward</label>
                                    <div class="col-sm-4 ">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" asp-for="Carryforward_bool" id="TxtCarryForward_Createpage" />

                                        </div>
                                    </div>
                                </div>
                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Allow Leave Apply for Past Days</label>
                                    <div class="col-sm-4 ">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" asp-for="AllowPastDates_bool" id="TxtAllowLeaveApplyforPastDays_Createpage" checked="checked" />
                                            @if (ViewBag.Leavetypeid != 0 && ViewBag.LeavetypeidCount > 0)
                                            {
                                                <input type="image" class="imgAuditIconAllowPastDays" id="imgAuditIconAllowPastDays" src="~/IconImages/searchbtn image.png" onclick="_ViewChangeActivities(event,'tblLeaveType', @ViewBag.Leavetypeid, 'AllowPastDates')">
                                            }
                                        </div>
                                    </div>
                                </div>
                                @*--------------------------*@
                                <div hidden>
                                    <input type="hidden" class="form-control" asp-for="Leavetypeid" id="HdnLeavetypeid">
                                    <input type="hidden" class="form-control" id="HdnPaginationTextActiveid">
                                </div>
                                @*--------------------------*@
                                <div class="row justify-content-end">
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-info waves-effect waves-light" id="BtnBacktoList" onclick="BackTOSearhLeaveTypes(event)" value="Back To Search">Back To Search</button>
                                        <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClear" onclick="FN_ClearValues('FmCreateLeaveType','TxtAreaDescription_Createpage')">Clear</button>
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSave" onclick="FN_LeaveTypes_Save(event)" value="Save">Save</button>
                                    </div>
                                </div>
                                @*--------------------------*@
                          
                            </div>
                        </div>

                </form>
            </div>
        </div>
 




