@model Connect4m_Web.Models.LoginModel
@{
    ViewData["Title"] = "ErrorPage";
    Layout = null;
}

@*<h1 style="position:center">You do not have permission to do this action. Please contact site administrator.</h1>*@


<!DOCTYPE html>
<html lang="en"
      class="light-style layout-wide customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Login | Welcome to Quro Schools</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css" />


    <!-- Loading Spinner-->
    <link href="~/css/loading.css" rel="stylesheet" />




    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>

    @*@RenderSection("Scripts", required: false);*@

</head>
<body data-screen-name="LoginPage">

    <!-- Content -->

    <div class="authentication-wrapper authentication-cover authentication-bg">
        <div class="authentication-inner row">

            <!--Loading Spinner-->
            <div id="loading">
                <div id="loading-text">
                    <img src="~/Images/buffering_image.gif" />
                </div>
            </div>


            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 p-0">
                <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                    <img src="../assets/img/illustrations/auth-login-illustration-light1.png"
                         alt="auth-login-cover"
                         class="img-fluid my-5 auth-illustration"
                         data-app-light-img="illustrations/auth-login-illustration-light1.png"
                         data-app-dark-img="illustrations/auth-login-illustration-dark1.png" />

                    <img src="../assets/img/illustrations/bg-shape-image-light.png"
                         alt="auth-login-cover"
                         class="platform-bg"
                         data-app-light-img="illustrations/bg-shape-image-light.png"
                         data-app-dark-img="illustrations/bg-shape-image-dark.png" />
                </div>
            </div>
            <!-- /Left Text -->
            <!-- Login -->
            <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
                <div class="w-px-400 mx-auto">
                    <!-- Logo -->
                    <div class="app-brand mb-4">
                        <a href="#" class="app-brand-link gap-2">
                            <img src="../assets/img/QuroSchool_Logo.png" width="150" />

                        </a>
                    </div>
                    <!-- /Logo -->
                    <h3 class="mb-1">Welcome to Quro Schools 👋</h3>
                    <p class="mb-4">Please sign-in to your account</p>
                    <form class="mb-3" id="LoginForm">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <span id="errorSpan" style="color:red;display:block;">@ViewBag.ErrorMessage</span>
                            <label for="Username" class="form-label">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="TxtUsername"
                                   asp-for="Username"
                                   placeholder="Enter your username"
                                   autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                @*<a href="#">
                                        <small>Forgot Password?</small>
                                    </a>*@
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       class="form-control" id="TxtPassword"
                                       asp-for="Password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="RememberMe" id="ChkRememberMe" />
                                <label class="form-check-label" asp-for="RememberMe"> Remember Me </label>
                            </div>
                        </div>

                        <button class="btn btn-primary d-grid w-100" id="SubmitBtn" type="submit">Sign in</button>
                    </form>

                    @*<p class="text-center">
                            <span>New on our platform?</span>
                            <a href="#">
                                <span>Create an account</span>
                            </a>
                        </p>*@

                    <div class="divider my-4">
                        <div class="divider-text">or</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                            <i class="tf-icons fa-brands fa-facebook-f fs-5"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                            <i class="tf-icons fa-brands fa-google fs-5"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                            <i class="tf-icons fa-brands fa-twitter fs-5"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/pages-auth.js"></script>

    <!-- login js-->
    <!-- Plugin used-->

    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

    @*@RenderSection("Scripts", required: false)*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @*<script>
            $(document).on("click", "#SubmitBtn", function (event) {
                debugger;
                $("#errorSpan").empty();
            });
        </script>*@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/CommonScripts.js"></script>
    <script>

        //===============Hide and Show password activity
        function togglePasswordVisibility() {
            debugger;
            var passwordInput = document.getElementById("password");
            var togglePassword = document.querySelector(".toggle-password");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                togglePassword.innerHTML = "&#x1F440;"; // Eye icon when password is visible
            } else {
                passwordInput.type = "password";
                togglePassword.innerHTML = "&#x1F441;"; // Eye slash icon when password is hidden
            }
        }



        // Check if the password should be remembered
        document.addEventListener('DOMContentLoaded', function () {
            const rememberMeCheckbox = document.getElementById('ChkRememberMe');
            const passwordInput = document.getElementById('TxtPassword');
            const UsernameInput = document.getElementById('TxtUsername');
            if (localStorage.getItem('rememberPassword') === 'true') {
                rememberMeCheckbox.checked = true;
                passwordInput.value = localStorage.getItem('savedPassword');
                UsernameInput.value = localStorage.getItem('savedUsername');
            }
        });


        //---------------------------------   When Click ON submit Button
        $("#LoginForm").submit(function (event) {
            // debugger;
            event.preventDefault();
            loaddingimg.css('display', 'block');
            //$('#Insert_MSC input[type="radio"]').prop("disabled", false);
            //$('#Insert_MSC #dropdown_PayrollCategoryName_MSC').prop("disabled", false);
            var formdata_CSA = $(this).serialize();

            var formElement = document.getElementById('LoginForm');
            setTimeout(function () {
                var validationMessages = formElement.getElementsByClassName('field-validation-error');
                // var validationMessages2 = formElement.getElementsByClassName('error2');
                var validationmelength = validationMessages.length;
                if (validationmelength == 0) {

                    $("#errorSpan").text('');
                    // debugger;
                    //  loaddingimg.css('display', 'none');
                    CommonAjaxFunction('POST', '/Attendance/LoginPage', formdata_CSA, function (response) {
                        //  debugger;
                        $("#errorSpan").empty();
                        if (response == "correct") {
                            loaddingimg.css('display', 'none');
                            // $("#loading").css('display', 'none');

                            // this for remenber password
                            const rememberMeCheckbox = document.getElementById('ChkRememberMe');
                            const passwordInput = document.getElementById('TxtPassword');
                            const UsernameInput = document.getElementById('TxtUsername');

                            if (rememberMeCheckbox.checked) {
                                // If "Remember Password" is checked, save the password to localStorage
                                localStorage.setItem('rememberPassword', 'true');
                                localStorage.setItem('savedPassword', passwordInput.value);
                                localStorage.setItem('savedUsername', UsernameInput.value);
                            } else {
                                // If not checked, clear the saved password
                                localStorage.removeItem('rememberPassword');
                                localStorage.removeItem('savedPassword');
                                localStorage.removeItem('savedUsername');
                            }

                            window.location.href = "/UserScreens/SchoolWelcomePage";
                        } else {
                            $('.alert-danger p').text("Please Enter Correct Username/Password.");
                            $(".alert-danger").show().delay(5000).fadeOut()

                            //  $("#errorSpan").text("Invalid User ID/Password.");
                            // $("#loading").css('display', 'none');
                            loaddingimg.css('display', 'none');
                        }
                    }, function (status, error) {
                        // loaddingimg.css('display', 'none');
                        loaddingimg.css('display', 'none');
                    }, false);
                } else {
                    $('.alert-danger p').text("Please Enter a All Required Fields.");
                    $(".alert-danger").show().delay(5000).fadeOut();
                }
            }, 50);
        })
    </script>
</body>
</html>
