@model Connect4m_Web.Models.LeaveDelegationModel
@{
    ViewData["Title"] = "LeaveDelegation";
}

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/LeaveDelegation.css" rel="stylesheet" />
        <link href="~/Themes/assets/css/StyleSheets/GeneralStyleSheet.css" rel="stylesheet" />
        <link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@

    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="~/js/LeaveDelegation.js"></script>

    @*<script src="~/js/PaginationToTables.js"></script>*@


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <script>
        //Main Ready function
        $(document).ready(function () {
            // Button click event
            try {
                debugger;
                TblLeaveDelegationList_SearchedRecords_PagePartialViewFunction();
            } catch (e) {
                $("#Main_Span_Error").text("Something Error");
            }
        });
    </script>
</head>
<body>

    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>LEAVE DELEGATION</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="demo-inline-spacing">
                    <button class="btn rounded-pill btn-outline-info waves-effect" id="BtnAAddLeaveDelegation" onclick="AddLeaveDelegationPage_PagePartialViewFunction()">
                        Add Delegation
                    </button>
                </div>

                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlDepartment_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlRole_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlUser_Span_Error"></span>
                <span class="ErrorMessageSpan" id="TxtFromDate_Span_Error"></span>

                <span class="ErrorMessageSpan" id="TxtToDate_Span_Error"></span>


                @*-----TblLeaveDelegationList_SearchedRecords Result page*@
                <div id="TblLeaveDelegationList_SearchedRecords_Div">
                </div>

                @*-----AddLeaveDelegationPage_Div Result page*@
                <div id="AddLeaveDelegationPage_Div">
                </div>


            </div>
        </div>
    </div>
</body>
</html>



@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>*@


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>

<script type="text/javascript">


    var js = jQuery.noConflict(true);
    // js(document).ready(function () {



    function DataBind(currentPage) {
        debugger;
        var table = js('#TblLeaveDeligationAuthorityList_SearchedRecords').DataTable({
            //lengthMenu: [],
            bInfo: false,
            bProcessing: false,
            bLengthChange: false,
            bfilter: false,
            bSort: true,
            searching: false,
            aaSorting: [],
            paging: true,
            bPaginate: false,
            //dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'copyHtml5',
            //        exportOptions: {
            //            columns: [0, ':visible']
            //        }
            //    },
            //    {
            //        extend: 'excelHtml5',
            //        exportOptions: {
            //            // columns: ':visible'
            //            columns: [1, 2, 3, 4]

            //        }
            //    },
            //    {
            //        extend: 'pdfHtml5',
            //        exportOptions: {
            //            columns: [0, 1, 2]
            //        }
            //    },
            //    'colvis'
            //],
            // responsive: true // Enable responsive design
        });

       // table.page(currentPage).draw('page');

        //$("#exportExcelButton").click(function () {
        //    debugger;
        //    table.button('0').trigger();
        //});


    }


    //});
</script>

