

@{
    ViewData["Title"] = "ManageLeaveTypes";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Themes/assets/css/StyleSheets/ManageLeaveTypes.css" rel="stylesheet" />

    @*this link for exclamatory icon with red color in delete popup*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Loading Spinner -->
    <!--<div class="loading-overlay" id="loadingOverlay">
        <div class="loader"></div>
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>-->

    @*@Html.Partial("_SearchLeaveTypePagePartialView")*@
    <div class="card">
        <div class="card-header pb-0" style="padding-top: 0px;">
            <h6 style="text-align: center; color: black; margin-top: 5px; "><strong>MANAGE LEAVE TYPES</strong></h6>
        </div>
        <div class="card-body" style=" padding-top: 0px;">
           <a id="BtnCreateNewLeaveTypes" style=" cursor: pointer; margin-left: 784px; letter-spacing: 0px; color: blue; font-weight: 600;" onclick="CreateNewLeaveTypes()"> Create Leave Type </a>
            <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
            <span class="ErrorMessageSpan" id="Leavetype_CreatePage_Span_Error"></span>
            <span class="ErrorMessageSpan" id="LeaveShortName_CreatePage_Span_Error"></span>

            <div class="default-according style-1" id="SearchLeaveTypePagePartialView">

            </div>

            @*-----create page*@
            <div id="CreateLeaveTypePageView_id">

            </div>

        </div>
    </div>


    @*-----------------------------------------Delete Popup-----------------------------*@
    <div class="popup" id="deletePopup">
        <div class="popup-content">
            <div class="container" id="SuccessFulDiv">
                <div class="circle">
                    <div class="checkmark" style=" color: #2ecc71;"></div>
                </div>
                <h4 id="SuccessMessageid" style="color: #2ecc71;"></h4>
            </div>
            <div id="ConformationDiv">
                <i class="fa fa-exclamation-circle" style="font-size:48px;color:red"></i>
                <p id="ConfirmMessageid" style="color:black;font-size:17px;"></p>
                <button id="confirmDeleteButton" onclick="confirmDeleteButtonCallingFun()" style="color: white; background-color: cadetblue;">Yes, Delete</button>
                <button id="cancelDeleteButton">Cancel</button>
                <input type="hidden" id="PopupTrid" />
            </div>
            <button id="OKButton" style="background-color: chocolate; color: white; padding: 5px 36px; ">Ok</button>
        </div>
    </div>


</body>
</html>



<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ManageLeaveTypes.js"></script>

@*<script src="~/js/PaginationToTables.js"></script>*@
<script src="~/js/GeneralFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script>
   var js = jQuery.noConflict(true);
    //Main Ready function
    $(document).ready(function () {
        // Button click event
        try {
            debugger;
            SearchLeaveTypePagePartialViewFunction();
        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    });


</script>