
@{
    ViewData["Title"] = "ManageCompansatoryLeaves";
}


<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="~/js/LeaveDelegation.js"></script>
    @*<script src="~/js/GeneralFunctions.js"></script>*@
    @*<script src="~/js/LeaveCancellation.js"></script>*@
</head>
<body>



    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE COMPENSATORY LEAVES</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                <ul class="nav nav-pills mb-1" id="myTab" role="tablist">
                    <li class="nav-item"><button class="nav-link active" id="home-tab" onclick="lnkCompensatoryLeavesSummery_callingFun(event)" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Compensatory Leaves Summery</button></li>
                    <li class="nav-item"><button class="nav-link" onclick="lnkCompensatoryLeavesDetails_callingFun(event)" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Compensatory Leaves Details</button></li>
                    <li class="nav-item"><button class="nav-link " onclick="lnkAddCompensatoryLeaves_callingFun(event)" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Add Compensatory Leaves </button></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    @*------------------------------Tab code end----*@
                    @*--------------tab 1----------------div code start----*@

                    <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="DdlDepartment_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="DdlUser_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="TxtFromDate_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="TxtDayType_Span_Error"></span>


                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>EMPLOYEE COMPENSATORY LEAVES STATUS HAVING  &nbsp;<span id="TblLeavesSummeryCounts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>

                            <div class="table-responsive text-nowrap" id="DivTblLeavesSummery" style="display:none">
                                <table id="TblLeavesSummery" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Employee Name</th>
                                            <th>Department</th>
                                            <th>Leave Type</th>
                                            <th>Total</th>
                                            <th>Lapsed</th>
                                            <th>Used</th>
                                            <th>Approved</th>
                                            <th>In Process</th>
                                            <th>Available</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>



                        </div>
                    </div>
                    @*-------------tab 1-----------------div code end----*@



                    @*-------------------tab 2-----------div code start----*@
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        COMPENSATORY LEAVES SEARCH
                                    </span>
                                </h5>
                            </div>

                            <div class="card-body">
                                <form id="FmCOMPENSATORYLEAVESSEARCH">
                                    <div class="row">
                                        <div class="col">

                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Department</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlDepartment' class="select2 form-select select2-hidden-accessible" name="InstanceClassificationId" onchange="AppliedEmployeeNames_Caliingfunction(this.id,'DdlEmployee','0','selectname')" asp-items="@(new SelectList(""))">
                                                            <option value=''>Select a Department</option>
                                                        </select>
                                                        @*<span asp-validation-for="InstanceClassificationId" class=" text-danger "></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Employee</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlEmployee' class="select2 form-select select2-hidden-accessible" name="UserId" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Select a Employee</option>
                                                        </select>
                                                        @*<span asp-validation-for="UserId" class=" text-danger "></span>*@

                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="FN_ClearValues('FmCOMPENSATORYLEAVESSEARCH','DdlEmployee')" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="TblDataTableWithColumns_CallingFunction(event, 'noStop', '/Attendance/TblCompensatoryLeavesDetails_CallingFunction', 'TblcompensatoryLeaves_SearchedRecords', 'Counts','FmCOMPENSATORYLEAVESSEARCH','DivTblcompensatoryLeaves_SearchedRecords');" value="Search">Search</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @*-----GetSearchedRecords Result page*@
                        <div class="card">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap" id="DivTblcompensatoryLeaves_SearchedRecords" style="display:none">
                                <table id="TblcompensatoryLeaves_SearchedRecords" class="table table-hover table-bordered no-footer dataTable link">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>CampOfleaveid</th>
                                            <th>S No</th>
                                            <th>Employee Name</th>
                                            <th>Department</th>
                                            <th>Leave Type</th>
                                            <th>Compensate Date</th>
                                            <th>Day</th>
                                            <th>	Expiry Date</th>
                                            <th>Is Lapsed</th>
                                            <th>Is Applied</th>
                                            <th>Created On</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                    @*---------------------tab 2---------div code end----*@



                    @*---------------------tab 3---------div code start----*@
                    <div class="tab-pane fade  " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        MANAGE COMPENSATORY LEAVES
                                    </span>
                                </h5><small class="required float-end"> INDICATES REQUIRED FIELDS</small>
                            </div>
                            <div class="card-body">
                                <form id="FmAddCompensatory">
                                    <div class="row">
                                        <div class="col">
                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Department</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlDepartment_save' class="select2 form-select select2-hidden-accessible" name="InstanceClassificationId" onchange="AppliedEmployeeNames_Caliingfunction(this.id,'DdlEmployee_save','0','selectname')" asp-items="@(new SelectList(""))">
                                                            <option value=''>Select a Department</option>
                                                        </select>
                                                        @*<span asp-validation-for="InstanceClassificationId" class=" text-danger "></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Employee</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlEmployee_save' class="select2 form-select select2-hidden-accessible" name="UserId" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Select a Employee</option>
                                                        </select>
                                                        @*<span asp-validation-for="UserId" class=" text-danger "></span>*@

                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Compensate Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="txtCompensateDate" name="Fromdate" oninput="compareDatesNotGreaterThanTodayById(this.getAttribute('id'), 'Compensate Date')" />
                                                    <span class="compare text-danger"></span>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Day Type</label>
                                                <div class="col-sm-4">
                                                    <div class="col mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" id="Full_Day" type="radio" name="Daystype" value="0" />
                                                            <label class="form-check-label" for="Full_Day">Full Day</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check" id="Half_Day" type="radio" name="Daystype" value="1" />
                                                            <label class="form-check-label" for="Half_Day"> Half Day</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                            <div class="row mb-3 " id="DaySession" style="display:none">
                                                <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Day Session</label>
                                                <div class="col-sm-4">
                                                    <div class="col mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check1" id="RdnMorning" type="radio" name="Daysession" value="1" />
                                                            <label class="form-check-label" for="RdnMorning">Morning</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input check1" id="RdnAfternoon" type="radio" name="Daysession" value="2" />
                                                            <label class="form-check-label" for="RdnAfternoon">Afternoon</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <input type="hidden" name="Leavetypeid" id="CompOffLeaveID" />
                                            @*--------------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="button" class="btn btn-warning waves-effect waves-light" id="BtnClearform" onclick="FN_ClearValues('FmAddCompensatory', 'DdlEmployee_save',this.value)" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSaveId" onclick="SaveCompensatoryleaves(event)" value="Save">Save</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                    @*----------------------tab 3--------div code end----*@

                    @*----------------------------Tab code start-----*@
                </div>
            </div>
        </div>

    </div>


</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/Datatable/datatable.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Attendance/TblCompensatoryLeavesSummery_CallingFunction", 'TblLeavesSummery', 'TblLeavesSummeryCounts', '', 'DivTblLeavesSummery',);
    });

    $("input[type='radio'].check").click(function () {
        debugger;
        $("#RdnMorning").prop("checked", false);
        $("#RdnAfternoon").prop("checked", false);
        if ($(this).is(":checked")) {
            if ($(this).val() == "1") {
                $("#DaySession").show();

            } else {
                $("#DaySession").hide();
            }
        }
    });

    var js = jQuery.noConflict(true);


    //===========================================This is for delete===========================

    function DeleteCompensatoryLeavesFunction(CompOffLeaveID) {
        debugger;
        CommonDeleteFunction_Vs1('Camp Off Details', "POST", "/Attendance/ManageCompansatoryLeaves?ButtonName=Delete&CompOffLeaveID=" + CompOffLeaveID, function (response) {
            TblDataTableWithColumns_CallingFunction(event, 'noStop', '/Attendance/TblCompensatoryLeavesDetails_CallingFunction', 'TblcompensatoryLeaves_SearchedRecords', 'Counts', 'FmCOMPENSATORYLEAVESSEARCH', 'DivTblcompensatoryLeaves_SearchedRecords');

        });
    }


    //  To get edit page
    function EditCompensatoryLeavesFunction(CompOffLeaveID) {
        try {
            debugger;
            // var CompOffLeaveID = $(this).closest('tr').find('td:eq(0)').text();
            $("#ErrorMessageSpan").empty();
            loaddingimg.css('display', 'block');
            $.ajax({
                url: "/Attendance/TblCompensatoryLeavesSummery_CallingFunction?CompOffLeaveID=" + CompOffLeaveID + "&submitButton=" + "EDITBTN",
                type: "GET",
                success: function (response) {
                    debugger;
                    //lnkAddCompensatoryLeaves_callingFun(event);

                    $('#contact-tab').tab('show');
                    //  $("#contact-tab").click();

                    FN_ClearValues('FmAddCompensatory', 'DdlEmployee_save');
                    DepartmentsDropdown_Caliingfunction('DdlDepartment_save', response[0].instanceClassificationId, 'Edit', "SelectName");

                    AppliedEmployeeNames_Caliingfunction(this.id, 'DdlEmployee_save', response[0].userId, 'Edit', response[0].instanceClassificationId)


                    $("#txtCompensateDate").val(response[0].fromdate.split('T')[0]);

                    $("#CompOffLeaveID").val(response[0].leavetypeid);

                    if (response[0].daystype == "") {
                        $("#Half_Day").prop('checked', false);
                        $("#Full_Day").prop('checked', true);
                        $("#DaySession").hide();
                    }
                    else {
                        $("#DaySession").show();
                        $("#Half_Day").prop('checked', true);
                        $("#Full_Day").prop('checked', false);
                        if (response[0].daystype == "2") {
                            $("#RdnMorning").prop('checked', false);
                            $("#RdnAfternoon").prop('checked', true);
                        } else {
                            $("#RdnMorning").prop('checked', true);
                            $("#RdnAfternoon").prop('checked', false);
                        }
                    }


                    window.scrollTo(0, 0);
                    $("#BtnSaveId").prop('disabled', false);
                    $("#BtnSaveId").val("Update");
                    $("#BtnSaveId").text("Update");
                    $("#BtnClearform").val("Back to Search");
                    $("#BtnClearform").text("Back to Search");
                    $("#BtnClearform").prop("disabled", false);

                    loaddingimg.css('display', 'none');
                },
                error() {
                    loaddingimg.css('display', 'none');
                    $("#Main_Span_Error").text("Something Error");
                }
            });
        } catch (e) {
            loaddingimg.css('display', 'none');
            $("#Main_Span_Error").text("Something Error");
        }
    }


    //This is for save and Update Leave
    function SaveCompensatoryleaves(event) {
        try {
            debugger;
            event.preventDefault();

            $(".ErrorMessageSpan").empty();

            var DdlDepartment = $("#DdlDepartment_save").val();
            var DdlUser = $("#DdlEmployee_save").val();
            var TxtFromDate = $("#txtCompensateDate").val();
            var c = 0;
            if (DdlDepartment === "" || DdlDepartment === "0" || DdlUser === "" || TxtFromDate === "" || $("input[type='radio'].check").is(":checked") == false || $("input[type='radio'].check1").is(":checked") == false) {

                debugger;
                if (DdlDepartment === "" || DdlDepartment === "0") {
                    $("#DdlDepartment_Span_Error").text('Department');
                    c++;
                }
                if (DdlUser === "") {
                    $("#DdlUser_Span_Error").text('Employee');
                    c++;
                }
                if (TxtFromDate === "") {
                    $("#TxtFromDate_Span_Error").text('Compensate Date');
                    c++;
                }
                if ($("input[type='radio'].check").is(":checked") == false) {
                    $("#TxtDayType_Span_Error").text('Day Type');
                    c++;
                }
                debugger;
                if ($("input[type='radio'].check").is(":checked") == true && $("input[type='radio'].check:checked").val() == "1") {
                    if ($("input[type='radio'].check1").is(":checked") == false) {
                        $("#TxtDayType_Span_Error").text('Day Session');
                        c++;
                    }
                }
                if (c > 0) {
                    $("#Main_Span_Error").text('Following fields have invalid data :');
                    window.scrollTo(0, 0);
                    return;
                }
                //  return;
            }


            debugger;
            var today = new Date();
            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var TodayDate = year + '-' + month + '-' + day;


            if (Date.parse(TxtFromDate) > Date.parse(TodayDate)) {
                $("#Main_Span_Error").text('Compensate Date should not be greater than todays date.');
                window.scrollTo(0, 0);
                return;
            }

            var date = new Date(TxtFromDate);
            date.setDate(date.getDate() + 90);
            TodayDate = date.getDate().toString().padStart(2, '0') + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getFullYear();


            var today1 = new Date(TxtFromDate);
            year = today1.getFullYear();
            month = ('0' + (today1.getMonth() + 1)).slice(-2);
            day = ('0' + today1.getDate()).slice(-2);
            TxtFromDate = day + '-' + month + '-' + year;

            var formData = new FormData($("#FmAddCompensatory")[0]);
            //var formData = new FormData(this);
            var ButtonName = $("#BtnSaveId").val();
            // var formData = new FormData(this);


            Swal.fire({
                /*title: "Are you sure?",*/
                text: ("For the selected Compensate Date '" + TxtFromDate + "' Expiry Date will be  '" + TodayDate + "'  by adding 90 days to Compensate Date."),
                //type: "warning", -  doesn't exist
                showCancelButton: false,
                showCloseButton: true, // optional
                showConfirmButton: true, // optional
                confirmButtonColor: 'blue',
                confirmButtonText: "Ok",
                icon: "info",
                //closeOnConfirm: false -  doesn't exist
            })
                .then(function (isConfirm) {
                    if (isConfirm.isConfirmed) {
                        loaddingimg.css('display', 'block');
                        $.ajax({
                            url: "/Attendance/ManageCompansatoryLeaves?ButtonName=" + ButtonName,
                            type: "POST",
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.message == "Record Saved successfully." || response.message == "Record updated successfully.") {
                                    if (ButtonName != "Update") {
                                        $("#BtnClearform").prop('disabled', true);
                                    }
                                    $("#BtnSaveId").prop('disabled', true);
                                    //  $("#Main_Span_Error").text(response.message);
                                    $('.alert-success p').text(response.message);
                                    $(".alert-success").show().delay(6000).fadeOut()
                                }
                                else {
                                    // $("#Main_Span_Error").text(response.message);
                                    $('.alert-danger p').text(response.message);
                                    $(".alert-danger").show().delay(6000).fadeOut();
                                }
                                loaddingimg.css('display', 'none');
                            },
                            error: function (xhr, status, error) {
                                loaddingimg.css('display', 'none');
                                $("#Main_Span_Error").text("Something Error");
                            }
                        });
                    }
                    else {
                        return; //close popup
                    }
                });
            window.scrollTo(0, 0);

        } catch (x) {
            loaddingimg.css('display', 'none');
            $("#Main_Span_Error").text("Something Error");
        }
    }



    function lnkCompensatoryLeavesSummery_callingFun(Formid) {

        try {
            $("#ErrorMessageSpan").empty();
            TblDataTableWithColumns_CallingFunction(event, 'noStop', "/Attendance/TblCompensatoryLeavesSummery_CallingFunction", 'TblLeavesSummery', 'TblLeavesSummeryCounts', '', 'DivTblLeavesSummery',);

        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    }

    function lnkCompensatoryLeavesDetails_callingFun(event) {
        try {
            debugger;
            $("#ErrorMessageSpan").empty();
            FN_ClearValues('FmCOMPENSATORYLEAVESSEARCH', 'DdlEmployee');
            DepartmentsDropdown_Caliingfunction('DdlDepartment', '1', 'SelectName');
            TblDataTableWithColumns_CallingFunction(event, 'noStop', '/Attendance/TblCompensatoryLeavesDetails_CallingFunction', 'TblcompensatoryLeaves_SearchedRecords', 'Counts', 'FmCOMPENSATORYLEAVESSEARCH', 'DivTblcompensatoryLeaves_SearchedRecords');
        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    }

    function lnkAddCompensatoryLeaves_callingFun(event) {
        debugger;
        try {
            $("#ErrorMessageSpan").empty();
            $("#DaySession").hide();
            $("#BtnSaveId").prop('disabled', false);
            $("#BtnClearform").prop('disabled', false);
            $("#BtnSaveId").val("Save").text("Save");
            //  $("#BtnSaveId").text("Save");
            $("#BtnClearform").val("Clear").text("Clear");
            // $("#BtnClearform").text("Clear");
            FN_ClearValues('FmAddCompensatory', 'DdlEmployee_save');
            DepartmentsDropdown_Caliingfunction('DdlDepartment_save', '1', 'SelectName');
        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    }


    function FN_ClearValues(FormId, Dropdownid, BTNvalue) {
        try {
            debugger;
            $("#ErrorMessageSpan").empty();
            document.getElementById(FormId).reset(); // Reset the form
            if (BTNvalue == "Back to Search") {
                $("#profile-tabs").tab('show');
                TblDataTableWithColumns_CallingFunction(event, 'noStop', '/Attendance/TblCompensatoryLeavesDetails_CallingFunction', 'TblcompensatoryLeaves_SearchedRecords', 'Counts', 'FmCOMPENSATORYLEAVESSEARCH', 'DivTblcompensatoryLeaves_SearchedRecords');
            } else {


                // document.getElementById('FmAddCompensatory').reset();
                $("#" + Dropdownid).empty();
                $("#" + Dropdownid).append('<option value="">Please select Employee</option>');
                $("#" + Dropdownid).prop("disabled", true);
            }
            //if (valuefornotclear != "no")
            //    $(".ErrorMessageSpan").empty();

        } catch (x) {
            $("#Main_Span_Error").text("Something Error");
        }
    }




    //function TblDataTableWithColumns_CallingFunction(event, val, Url, tablename, TableCountsId, FormId) {

</script>
