

@{
    ViewData["Title"] = "ManageLeaveTypes";
}

<!DOCTYPE html>
<html>
<head>
    <!--<link href="~/Themes/assets/css/StyleSheets/ManageLeaveTypes.css" rel="stylesheet" />-->

    @*this link for exclamatory icon with red color in delete popup*@
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE LEAVE TYPES</h4>

        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="demo-inline-spacing">
                    <button id="BtnCreateNewLeaveTypes" class="btn rounded-pill btn-label-primary waves-effect" onclick="CreateNewLeaveTypes()"> Create Leave Type </button>
                    </div>
                    <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="Leavetype_CreatePage_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="LeaveShortName_CreatePage_Span_Error"></span>

                    <div id="SearchLeaveTypePagePartialView">

                    </div>

                    @*-----create page*@
                    <div id="CreateLeaveTypePageView_id">

                    </div>

                </div>
            </div>
                </div>


</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ManageLeaveTypes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
@*<script src="~/js/PaginationToTables.js"></script>*@
@*<script src="~/js/GeneralFunctions.js"></script>*@
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />*@
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script>
   var js = jQuery.noConflict(true);
    //Main Ready function
    $(document).ready(function () {
        // Button click event
        try {
            debugger;
            SearchLeaveTypePagePartialViewFunction();
        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    });


</script>