
@{
    ViewData["Title"] = "ManagePastDaysLeave";
}


<!DOCTYPE html>
<html>
<head>
    <!--<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />

    <link href="~/Themes/assets/css/StyleSheets/AssignLeavestoStaff.css" rel="stylesheet" />-->
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />*@
    <!--<link href="~/Themes/assets/css/StyleSheets/GeneralStyleSheet.css" rel="stylesheet" />-->


    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

    <script src="~/js/AssignLeavestoStaff.js"></script>
    <script src="~/js/LeaveDelegation.js"></script>
    @*<script src="~/js/GeneralFunctions.js"></script>*@
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE PAST DAYS LEAVE</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlDepartment_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlUser_Span_Error"></span>
                <span class="ErrorMessageSpan" id="DdlLeaveType_Span_Error"></span>
                <span class="ErrorMessageSpan" id="AllowPastDates_bool_Span_Error"></span>

                @*==========================search result Card====================*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                ALLOW APPLY LEAVE FOR PAST DAYS TO EMPLOYEES
                            </span>
                        </h5><small class="required">INDICATES REQUIRED FIELDS</small>
                    </div>

                    <div class="card-body">
                        <form id="FmAlloPastdaysform">
                            <div class="row">
                                <div class="col">


                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Department</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlDepartment' class="select2 form-select select2-hidden-accessible" name="InstanceClassificationId" onchange="AppliedEmployeeNames_Caliingfunction(this.id,'DdlEmployee','0','selectname')" asp-items="@(new SelectList(""))">
                                                    <option value=''>Select a Department</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Employee</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlEmployee' class="select2 form-select select2-hidden-accessible" name="UserId" asp-items="@(new SelectList(""))" required>
                                                    <option value=''>Select a Employee</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Employee</label>
                                        <div class="col-sm-4 ">
                                            <div class="position-relative">
                                                <select id='DdlLeaveType' class="select2 form-select select2-hidden-accessible" name="Leavetypeid" onchange="Spanclearfunction()" asp-items="@(new SelectList(ViewBag.LeaveType1,"Value","Text"))">
                                                    <option value=''>-------Select-------</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@

                                    <div class="row mb-3 ">
                                        <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Allow Apply Leave for Past Days</label>
                                        <div class="col-sm-4 ">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="AllowPastDates_bool" name="AllowPastDaysFlagUser" value="1" />
                                            </div>
                                        </div>
                                    </div>
                                    @*--------------------------*@
                                    <div class="row justify-content-end">
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="SavePastDayseaves(event)" value="Allow">Allow</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>



                @*========================== Searched result table Card====================*@

            <div class="card" id="TblAlloPastdaysform_Div" style="display:none">
                <div class="card-header flex-column flex-md-row">
                    <div class="head-label text-center">
                        <h5 class="card-title mb-0">
                            @*<span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">@Model.Count()</span>  RECORD(S).</span>*@
                            <span>EMPLOYEE PAST DAYS LEAVE APPLIED STATUS </span>
                        </h5>
                    </div>
                </div>

                <div class="table-responsive text-nowrap">
                    @*<form id="Fm_TblAlloPastdaysform_SearchedRecords" >*@
                    <table id="TblAlloPastdaysform_SearchedRecords" class="table table-hover table-bordered no-footer dataTable">
                        <thead class="table-dark">
                            <tr>
                                <th>Employee</th>
                                <th>Department</th>
                                <th>Leave Type</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Created On</th>
                                <th>Applied Status</th>
                                <th>Used On</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    @*</form>*@
                </div>

            </div>
                    
            </div>
        </div>
    </div>
</body>
</html>


@*<button id="exportExcelButton">Export Excel</button>*@

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




@*<script src="~/Datatable/datatable.min.js"></script>*@
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script>

    var js = jQuery.noConflict(true);

    $(document).ready(function () {

        DepartmentsDropdown_Caliingfunction('DdlDepartment', '1', 'SelectName');

        TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Attendance/TblAllowLeavePastDays_CallingFunction", 'TblAlloPastdaysform_SearchedRecords', 'counts', 'Fm_TblAlloPastdaysform_SearchedRecords','TblAlloPastdaysform_Div');
    });

    


    //function CheckAllCheckBoxes() {
    //    debugger;
    //    var check = this.checked;
    //    $(":checkbox").prop("checked", check)
    //}

</script>






