
@{
    ViewData["Title"] = "StudentLeaveApproval";
}

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Themes/assets/css/StyleSheets/StudentLeaveApproval.css" rel="stylesheet" />*@
    @*<link href="~/Themes/assets/css/StyleSheets/LoadingSpinner.css" rel="stylesheet" />

        <link href="~/Themes/assets/css/StyleSheets/GeneralStyleSheet.css" rel="stylesheet" />*@


    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />*@

    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@

    <style>
      
        /*#FmAppliedLeavesHistory_SearchRecordsForScrollid {
            max-height: 150px;*/ /* set the maximum desired height */
            /*overflow-y: auto;
        }

        #FmAppliedLeavesSummery_SearchRecordsForScrollid {
            max-height: 150px;
            overflow-y: auto;
        }

        .popup {
            display: none;*/ /* Hide the popup by default */
            /*position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);*/ /* Semi-transparent background */
            /*overflow: auto;
        }

        .popup-content {
            background-color: #fff;
            width: 1000px;
            margin: 100px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            overflow: auto;
            max-height: 650px;
        }

        .nav-item:hover {
            background-color: rgba(77,138,255,0.1);
            border-color: #ecf3fa;*/
            /*color: #4d8aff;*/
            /* //color: white;*/
            /*color: #4d8aff;
        }*/

       
    </style>


    <!-- ✅ load jQuery ✅ -->
    <!-- ✅ load DataTables ✅ -->

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Student Module /</span>LEAVE APPROVAL</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" id="ctl00_ContentPlaceHolder1_lnkApproveReject"><a class="nav-link active" id="home-tab" onclick="lnkApproveReject_callingFun(event)" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Approve / Reject</a></li>
                    <li class="nav-item" id="ctl00_ContentPlaceHolder1_lnkApproved"><a class="nav-link" id="profile-tabs" onclick="lnkApproved_callingFun(event)" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Approved Leaves</a></li>
                    <li class="nav-item" id="ctl00_ContentPlaceHolder1_lnkRejected"><a class="nav-link " id="contact-tab" data-bs-toggle="tab" onclick="lnkRejected_callingFun(event)" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Rejected Leaves</a></li>
                </ul>


                <div class="tab-content" id="myTabContent">
                    @*------------------------------Tab code end----*@

                    @*--------------tab 1----------------div code start----*@

                    <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="Fromdate_Span_Error"></span>
                    <span class="ErrorMessageSpan" id="Todate_Span_Error"></span>

                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        SEARCH STUDENTS
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                @*<form id="ApproveReject_Form " class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">*@
                                <form id="ApproveReject_Form">
                                    <div class="row">
                                        <div class="col">

                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Department</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlDepartmentId' class="select2 form-select select2-hidden-accessible" name="Departmentid" onchange="DdlClassId_Calingfunction(this.id,'DdlClassId')" asp-items="@(new SelectList(""))">
                                                            <option value=''> Select a Department</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Class</label>
                                                <div class="col-sm-4 ">
                                                    <div class="position-relative">
                                                        <select id='DdlClassId' class="select2 form-select select2-hidden-accessible" name="Classid" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=""> Please select a section </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            @*--------------------------*@
                                            <div class="row mb-3 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Leave Submitted From Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtSearchFromDate" name="Fromdate" />
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Leave Submitted To Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtSearchToDate" name="Todate" />
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnClearSerach" onclick="FN_ClearValues()" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnSearchDetails" onclick="TblApplied_SearchRecords_Calingfunction(event,'1','TblApplied_SearchRecords','32','0','ctl00_ContentPlaceHolder1_lblNumRecords','ExportExcelLink_ApproveReject','ctl00_ContentPlaceHolder1_txtSearchFromDate','ctl00_ContentPlaceHolder1_txtSearchToDate','FmApplied_SearchRecords_Div','ctl00_ContentPlaceHolder1_txtfirstname','ctl00_ContentPlaceHolder1_txtlastname','ctl00_ContentPlaceHolder1_txtAdmNo','StudentLeaveApproval')" value="Search">Search</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                        @*searched result table*@
                        @*<a id="ExportExcelLink_ApproveReject" class="ExportExcelLink" onclick="ExportExcelLink('TblApplied_SearchRecords','StudentLeaveApproval')" style="font-weight: bold; cursor: pointer; letter-spacing: 0px; font-size: 11px; ">Export to Excel</a>*@

                        <div class="card" id="FmApplied_SearchRecords_Div" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        @*<span id="ctl00_ContentPlaceHolder1_lblNumRecords">No Records</span>*@
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="ctl00_ContentPlaceHolder1_lblNumRecords" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                @*<form id="FmApplied_SearchRecords">*@

                                <table id="TblApplied_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>S No</th>
                                            <th>Student Name</th>
                                            <th>Admission Number</th>
                                            <th>Class - Section</th>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No. of Days</th>
                                            <th>Comments</th>
                                            <th>Applied By</th>
                                            <th>Date Applied On</th>
                                            <th>Waiting Status</th>
                                            <th>View File</th>
                                            <th>Approve/Reject</th>
                                            <th>Attendance Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    @*<tfoot>
                                            <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="TblApplied_SearchRecords_pagination"></div></td></tr>

                                        </tfoot>*@
                                </table>

                                @*</form>*@
                            </div>
                        </div>

                        @*========================This is Popup======================*@
                        @*<div id="popup" class="popup" style=" z-index:900;">*@
                        <div class="modal fade  show" id="popup" tabindex="-1" style="background-color: rgba(75, 70, 92, 0.4); display: none; padding-left: 0px;" data-select2-id="editUser" aria-modal="true" role="dialog">
                            <div class="modal-dialog modal-lg modal-simple modal-edit-user" data-select2-id="88">
                                <div class="modal-content p-3 p-md-5" data-select2-id="87">
                                    <div class="modal-body" data-select2-id="86">
                                        <button type="button" onclick="ClosePopup()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="text-center mb-4">
                                            <h3 class="mb-2">Approve/Reject Leave</h3>
                                            @*<p class="text-muted">Updating user details will receive a privacy audit.</p>*@
                                        </div>
                                        <div class="card mb-3">
                                            <h10 class="mb-2">PAST LEAVES DETAILS</h10>
                                            <div class="card-header flex-column flex-md-row">
                                                <div class="head-label">
                                                    <h10 class="card-title mb-0">
                                                        @*<span id="lblLeaveHistoryNumRecordsCounts"> No Data Found.</span>*@
                                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="lblLeaveHistoryNumRecordsCounts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                                    </h10>
                                                </div>
                                            </div>
                                            <div class="table-responsive text-nowrap">
                                                <table id="TblAppliedLeavesHistory_SearchRecords" class="table table-responsive tableid">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th>Sl. No.</th>
                                                            <th>From Date</th>
                                                            <th>To Date</th>
                                                            <th>Leave Type</th>
                                                            <th>Approved / Rejected Remarks</th>
                                                            <th>Leave Status</th>
                                                            <th>View File</th>
                                                            <th>Approved / Rejected Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="TblAppliedLeavesHistory_SearchRecords_pagination"></div></td></tr>

                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>

                                        @*=============summery Table====================*@
                                        <div class="card mb-4">
                                            <h10 class="mb-2">LEAVES SUMMARY</h10>
                                            <div class="card-header flex-column flex-md-row">
                                                <div class="head-label">
                                                    <h10 class="card-title mb-0">
                                                        @*<span id="lblLeaveTypesSummaryNumRecordsCounts">  No Data Found.</span>*@
                                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="lblLeaveTypesSummaryNumRecordsCounts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                                    </h10>
                                                </div>
                                            </div>
                                            <div class="table-responsive text-nowrap" id="FmAppliedLeavesSummery_SearchRecordsForScrollid">
                                                <table id="TblAppliedLeavesSummery_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th>Sl. No.</th>
                                                            <th>Leave Type</th>
                                                            <th>Leaves Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                        @*=================================Form====================list box===========*@
                                        <form id="Fm_ApproveandReject_PopUp">
                                            <div class="row">
                                                <div class="col">
                                                    @*--------------------------*@
                                                    <div class="row mb-1 " id="Attendence_Div">
                                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Attendance Percentage</label>
                                                        <div class="col-sm-4 ">
                                                            <label class="form-control-plaintext" id="AttendancePercentage"></label>
                                                        </div>
                                                    </div>
                                                    @*--------------------------*@
                                                    <div class="row mb-1 ">
                                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Type </label>
                                                        <div class="col-sm-8 ">
                                                            <div class="col mt-2">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input check" id="SanctionedradioBtn" type="radio" name="SanctionId" value="1" />
                                                                    <label class="form-check-label" for="SanctionedradioBtn">Sanctioned</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input check" id="NonSanctionedradioBtn" type="radio" name="SanctionId" value="2" />
                                                                    <label class="form-check-label" for="NonSanctionedradioBtn"> Non Sanctioned</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*--------------------------*@
                                                    <div class="row mb-2 ">
                                                        <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Remarks</label>
                                                        <div class="col-sm-5 ">
                                                            <textarea class="form-control" id="TXTareaRemarks_Popup" name="Comments" maxlength="500" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    @*--------------------------*@
                                                    @*<input type="text" name="Userid" id="Userid_Popup" />*@
                                                    <input type="hidden" name="StudentLeaveDetailsID" id="StudentLeaveDetailsID_Popup" />
                                                    <input type="hidden" name="InstanceClassificationId" id="InstanceClassificationId_Popup" />
                                                    <input type="hidden" name="InstanceSubClassificationId" id="InstanceSubClassificationId_Popup" />
                                                    <input type="hidden" id="TblApplied_SearchRecords_Tr_Id" />

                                                    @*--------------------------*@
                                                    <div class="row justify-content-end">
                                                        <div class="col-sm-8">
                                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnApprove" onclick="StudentLeaveApproval_Save(event, this.value)" value="Approve">Approve</button>
                                                            <button type="button" class="btn btn-danger waves-effect waves-light" id="BtnReject" onclick="StudentLeaveApproval_Save(event, this.value)" value="Reject">Reject</button>
                                                            <button type="button" class="btn btn-warning waves-effect waves-light" id="BtnCancel" onclick="ClosePopup()" value="Cancel">Cancel</button>
                                                        </div>
                                                    </div>
                                                    @*--------------------------*@
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*--------------tab 1----------------div code end----*@




                    @*----------tab 2--------------------div code start----*@
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        SEARCH FOR APPROVED LEAVES
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <form id="Approved_Form">

                                    <div class="row">
                                        <div class="col">
                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end required" for="basic-default-name">From Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtStartDate" />
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end required" for="basic-default-name">To Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtEndDate" />
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">First Name</label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" class="form-control" id="ctl00_ContentPlaceHolder1_txtfirstname" placeholder="First Name" />
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Last Name</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtlastname" placeholder="Last Name" />
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Admission Number</label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" class="form-control" id="ctl00_ContentPlaceHolder1_txtAdmNo" placeholder="Admission Number" />
                                                </div>

                                            </div>
                                            @*--------------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnApproveClear" onclick="FN_ClearValuesForAppliedleaves('ctl00_ContentPlaceHolder1_txtfirstname','ctl00_ContentPlaceHolder1_txtlastname','ctl00_ContentPlaceHolder1_txtAdmNo')" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnSearch" onclick="TblApplied_SearchRecords_Calingfunction(event,'1','TblApproved_SearchRecords','31','1','ctl00_ContentPlaceHolder1_lblApprovedNumRecords','ExportExcelLink_Approved','ctl00_ContentPlaceHolder1_txtStartDate','ctl00_ContentPlaceHolder1_txtEndDate','FmApproved_SearchRecords_Div','ctl00_ContentPlaceHolder1_txtfirstname','ctl00_ContentPlaceHolder1_txtlastname','ctl00_ContentPlaceHolder1_txtAdmNo','StudentApprovedLeaves')" value="Search">Search</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        @*searched result table*@
                        @*<a id="ExportExcelLink_Approved" class="ExportExcelLink" onclick="ExportExcelLink('TblApproved_SearchRecords','StudentApprovedLeaves')" style="font-weight: bold; cursor: pointer; letter-spacing: 0px; font-size: 11px; ">Export to Excel</a>*@

                        <div class="card" id="FmApproved_SearchRecords_Div" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        @*<span id="ctl00_ContentPlaceHolder1_lblApprovedNumRecords">No Records</span>*@
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="ctl00_ContentPlaceHolder1_lblApprovedNumRecords" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table id="TblApproved_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            @*<th>S No</th>*@
                                            <th>Student Name</th>
                                            <th>Admission Number</th>
                                            <th>Class - Section</th>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No. of Days</th>
                                            <th>Comments</th>
                                            <th>Applied By</th>
                                            <th>Approved Date</th>
                                            <th>Approved By</th>
                                            <th>View File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    @*<tfoot>
                                            <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="TblApproved_SearchRecords_pagination"></div></td></tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        </div>
                    </div>
                    @*------------------------------div code end----*@

                    @*--------tab 3----------------------div code start----*@

                    <div class="tab-pane fade  " id="contact" role="tabpanel" aria-labelledby="contact-tab">


                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">
                                    <span>
                                        SEARCH FOR REJECTED LEAVES
                                    </span>
                                </h5>
                            </div>
                            <div class="card-body">
                                <form id="Rejected_Form">
                                    <div class="row">
                                        <div class="col">

                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end required" for="basic-default-name">From Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtRejectFromDate" />
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end required" for="basic-default-name">To Date</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtRejectToDate" />
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">First Name</label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" class="form-control" id="ctl00_ContentPlaceHolder1_txtFirstNameReject" placeholder="First Name" />
                                                </div>
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Last Name</label>
                                                <div class="col-sm-4 ">
                                                    <input type="date" class="form-control" id="ctl00_ContentPlaceHolder1_txtLastNameReject" placeholder="Last Name" />
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                            <div class="row mb-2 ">
                                                <label class="col-sm-2 col-form-label  text-end " for="basic-default-name">Admission Number</label>
                                                <div class="col-sm-4 ">
                                                    <input type="text" class="form-control" id="ctl00_ContentPlaceHolder1_txtAdmNoReject" placeholder="Admission Number" />
                                                </div>

                                            </div>
                                            @*--------------------------*@
                                            <div class="row justify-content-end">
                                                <div class="col-sm-8">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnRejectClear" onclick="FN_ClearValuesForAppliedleaves('ctl00_ContentPlaceHolder1_txtFirstNameReject','ctl00_ContentPlaceHolder1_txtLastNameReject','ctl00_ContentPlaceHolder1_txtAdmNoReject')" value="Clear">Clear</button>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light" id="ctl00_ContentPlaceHolder1_btnRejectSearch" onclick="TblApplied_SearchRecords_Calingfunction(event,'1','TblRejected_SearchRecords','30','2','ctl00_ContentPlaceHolder1_lblRejectedNumRecords','ExportExcelLink_Rejected','ctl00_ContentPlaceHolder1_txtRejectFromDate','ctl00_ContentPlaceHolder1_txtRejectToDate','FmRejected_SearchRecords_Div','ctl00_ContentPlaceHolder1_txtFirstNameReject','ctl00_ContentPlaceHolder1_txtLastNameReject','ctl00_ContentPlaceHolder1_txtAdmNoReject','StudentRejectedLeaves')" value="Search">Search</button>
                                                </div>
                                            </div>
                                            @*--------------------------*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @*=====================searched result table=========================*@
                        @*<a id="ExportExcelLink_Rejected" class="ExportExcelLink" onclick="ExportExcelLink('TblRejected_SearchRecords','StudentRejectedLeaves')" style="font-weight: bold; cursor: pointer; letter-spacing: 0px; font-size: 11px; ">Export to Excel</a>*@

                        <div class="card" id="FmRejected_SearchRecords_Div" style="display:none">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        @*<span id="ctl00_ContentPlaceHolder1_lblRejectedNumRecords">No Records</span>*@
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="ctl00_ContentPlaceHolder1_lblRejectedNumRecords" class="badge badge-center rounded-pill bg-primary bg-glow"></span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table id="TblRejected_SearchRecords" class="table table-hover table-bordered no-footer dataTable">
                                    <thead class="table-dark">
                                        <tr>
                                            @*<th>S No</th>*@
                                            <th>Student Name</th>
                                            <th>Admission Number</th>
                                            <th>Class - Section</th>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No. of Days</th>
                                            <th>Comments</th>
                                            <th>Applied By</th>
                                            <th>Rejected Date</th>
                                            <th>Rejected By</th>
                                            <th>View File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    @*<tfoot>
                                            <tr><td style="padding:2px" colspan="10"><div style="text-align:center" id="TblRejected_SearchRecords_pagination"></div></td></tr>
                                        </tfoot>*@
                                </table>


                            </div>
                        </div>




                    </div>
                    @*------------------------------div code end----*@



                    @*----------------------------Tab code start-----*@
                </div>
            </div>
        </div>
    </div>


</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script src="~/js/StudentLeaveApproval.js"></script>

<link href="~/Datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Datatable/datatable.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script src="~/assets/vendor/libs/popper/popper.js"></script>@*for popup*@
@*<script src="~/assets/vendor/libs/node-waves/node-waves.js"></script>*@


<script type="text/javascript">
    var js = jQuery.noConflict(true);
</script>

@*<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        //function call12() {
        //    var val = $(this).closest('tr').find('td:eq(3)').text();
        //    alert(val)
        //}
    </script>*@



@*this for export to excel*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script>

        function ExportExcelLink(LeaveLevels_SearchRecords_Table, ExelsheetName) {
            var sheet = XLSX.utils.table_to_sheet(document.getElementById(LeaveLevels_SearchRecords_Table));

            debugger;

            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, sheet, 'Sheet JS');

            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            saveAs(new Blob([s2ab(wbout)], { type: 'application/octet-stream' }), ExelsheetName + '.xls');
        }

    </script>*@