@model Connect4m_Web.Models.FormDataModel
@{
    ViewData["Title"] = "SubmitFormData";
}
<style>
    .subLeavetitle {
        border: 2px solid;
    }
</style>
<div style="width: 100%;">
    <table id="tblPrintLeave" cellpadding="0" width="100%" cellspacing="0" class="tablesideborders">
        <tbody>
            <tr>
                <td style="height: 24px; padding-left: 15px; padding-right: 15px;">





                    <style type="text/css">

                        .BCcolor {
                            border: 4px solid #000000;
                        }

                        .BCcolor2 {
                            border: 2px solid #000000;
                        }

                        .subLeavetitle {
                            font-family: Times New Roman;
                            font-size: 12px;
                            font-weight: bold;
                            color: #000000;
                            text-align: center;
                            letter-spacing: 1px;
                        }

                        .Leavetitle {
                            font-family: Times New Roman;
                            font-size: 16px;
                            font-weight: bold;
                            color: #000000;
                            text-align: center;
                            letter-spacing: 1px;
                            height: 10px;
                            text-transform: uppercase;
                        }

                        .bonafidetxt {
                            font-family: Arial;
                            font-size: 12px;
                            font-style: normal;
                            color: #000000;
                            height: 50px;
                            width: 100px;
                        }

                        .dottedbonafidetxt {
                            font-family: Arial;
                            font-size: 11px;
                            font-style: normal;
                            padding-left: 12px;
                            padding-right: 12px;
                            color: #000000;
                            height: 15px;
                            border-bottom: 3px dotted #000000;
                        }

                        body {
                            font-family: Times New Roman;
                            font-size: 15px;
                            color: #000000;
                        }
                    </style>




                    <table>
                    </table><table>
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table width="100%" cellspacing="0" cellpadding="3" align="center" class="BCcolor">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="788px" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="740px" cellspacing="0" align="center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="95px" align="center" rowspan="2" valign="top">
                                                                                                    <img src="https://www.connect4m.com/R3Images/FeeHeaderPhotos/545/Jnanadeeplogo.png" @*width="70px" height="90px"*@ alt="">
                                                                                                </td>
                                                                                                <td class="Leavetitle">
                                                                                                    <b class="schooltitle">ADS SCHOOL</b><br>
                                                                                                    Raghav Nagar,Hyderabad,Talangana - 500003<br>
                                                                                                    <br>
                                                                                                    <b class="subLeavetitle">Applied Leave Details</b>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="740px" cellspacing="0" align="center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="height: 5px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="100%" cellspacing="0" cellpadding="2" align="center" class="BCcolor2">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="740px" cellspacing="0" align="center">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="height: 15px;">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <table width="100%" border="1" cellspacing="0">

                                                                                                        <tbody>
                                                                                                            <tr class="subLeavetitle"> <th>S.No </th><th>Submitted By </th><th> Department </th>  <th>Date of Joining </th><th> Submitted To </th> <th>Leave Type </th><th>From Date</th><th>To Date</th>  <th>NO of Days</th><th> Available</th> <th> Status</th></tr>
                                                                                                            <tr> <td class="bonafidetxt" nowrap="" align="center"> &nbsp; 1</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp;Administration</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 10 Mar 2004</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Admin</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; EL</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 08 Jun 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 08 Jun 2023</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 0.5</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; 1.5</td><td class="bonafidetxt" nowrap="" align="center"> &nbsp; Self-Approved</td> </tr>
                                                                                                            <tr>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="height: 15px;">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td style="height: 50px; width : 170px">
                                                                                                                </td>
                                                                                                                <td style="height: 50px; width : 170px">
                                                                                                                </td>
                                                                                                                <td nowrap="" style="height: 50px; width : 50px">
                                                                                                                    <table border="1" style="height: 50px; width : 50px">

                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td nowrap="" class="subLeavetitle" align="center" style="height: 50px; width : 128px">
                                                                                                                                    Total No of Days:

                                                                                                                                </td>
                                                                                                                                <td nowrap="" align="center" class="bonafidetxt">
                                                                                                                                    0.5
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>

                                                                                                                </td>
                                                                                                            </tr>

                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>




                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="ctl00$ContentPlaceHolder1$hndUserIds" id="ctl00_ContentPlaceHolder1_hndUserIds">
                </td>
            </tr>
        </tbody>
    </table>
    <b class="xbottomG"><b class="xb4G"></b><b class="xb3G"></b><b class="xb2G"></b><b class="xb1G"></b></b>
</div>


<form id="myFormF" action="controller/action" method="POST">
    <input type="text" name="rakesh1[0].Name"  value="RAkesh"/>
    <input type="text" name="rakesh1[0].Email" value="23w" />
  
    <input type="text" name="rakesh1[3].Name" value="sri"/>
    <input type="text" name="rakesh1[3].Email" value="123"/>

    <!-- Add more input fields as needed -->
    <input type="submit" value="Submit" />
</form>


<h1>SubmitFormData</h1>
<td>
    <div class="fa fa-edit" style="font-size: 20px; color: red">
        <input type="text" hidden="" class="ID_APPEND_For_Edit" readonly="" id="row1" value="row1">
    </div>
    <input name="marriagechecking_Int" type="text" id="marriagecheckingCT" value="0">
    <input type="file" asp-for="file" name="file" id="attachdocumentCT">
    <input name="Batchid" type="text" id="BatchidCT" value="83108" hidden="">
    <input name="LeaveApplicationId" type="text" id="LeaveApplicationIdCT" value="105557" hidden="">
</td>
<form class="myForm" enctype="multipart/form-data">


    <table id="tableid">
        <thead>

        </thead>
        <tbody>
            <tr>

                <td>


                    <input type="text" name="Name" id="Name" value="Arjun" />
                    <input name="Email" type="text" id="Email" value="MAni">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" id="Name" value="Sri" />
                    <input name="Email" type="text" id="Email" value="SRi12">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" id="Name" value="RAk" />
                    <input name="Email" type="text" id="Email" value="RA12">
                </td>
            </tr>
        </tbody>
    </table>

</form>
<button id="submitBtn">Submit</button>
<div id="143rakesh">
    <input type="file" name="file" class="qw" id="file3" />

    <input type="file" name="file" class="qw" id="file3" />
</div>

@*url: "/Attendance/SubmitFormData",*@

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#myFormF').submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting normally
            var formData = new FormData(this);
            // Send the data to the controller using AJAX
            $.ajax({
                url: "/Attendance/SubmitFormData",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Handle the response from the controller
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.log(error);
                }
            });
        });
    });




    $(document).ready(function () {

        /* $(".myForm").submit(function (e) {*/
        $('#submitBtn').click(function (e) {
            e.preventDefault(); // Prevent the default form submission

            alert(1)
            // var formDataList = [];
            //var formDataArray = [];
            /*       var formDataList = [];*/
            debugger;

            // var formData1 = new FormData();

            //let pdf = document.getElementById('file3').files;
            //for (var i = 0; i < pdf.length; i++) {
            //    formData.append("Course_PDF", $("#file3")[0].files[i]);
            //    count++;
            //}
            debugger;
            // var formDataModel = [];
            var formdataa = new FormData();

            let pdf = $("#143rakesh #file3");
            //alert(pdf.length);
            ////let pdf = document.getElementById('file3').files;
            //for (var i = 0; i < pdf.length; i++) {
            //    formdataa.append("Course_PDF", $(".qw")[0].files[0]);
            //    /*count++;*/
            //}
            $('#143rakesh #file3').each(function () {
                var form = $(this);
                formdataa.append("Course_PDF", form[0].files[0]);
            })

            for (var i = 0; i < pdf.length; i++) {

                var Name = 'John Doe' + i;
                var Email = 'rrr' + i;


                var file = pdf[0].files;
                var rakesh = { Name: Name, Email: Email }
                formdataa.append("Rocks", JSON.stringify(rakesh));

                /*  formdataa.append("filename", file);*/
                // formDataModel.push(rakesh);
                //formData1.append("file", $("#file3")[0].files[i]);
                //count++;
            }



            //  var formData=
            // formDataModel = [
            //    { Name: "John Doe", Email: "rrr", num: 12 },
            //    { Name: "Jane Smith", Email: "SSSs", num: 1245 },
            //    // Add more employee objects as needed
            //];
            /* formData1.append('listIte[]', formDataModel);*/


            // Send the form data list via AJAX
            $.ajax({
                url: "/Attendance/SubmitFormData1", // Replace with your controller and action
                type: 'POST',
                //  data: JSON.stringify(formDataModel),
                data:formdataa,
                /*contentType: 'application/json',*/


                //data: formData1,
                processData: false,
                contentType: false,
                /*   dataType: 'json',*/

                //data: JSON.stringify(formDataList), // Convert the list to JSON string
                //dataType: 'json',
                //processData: false,
                // contentType: 'application/json', // Set the content type to JSON
                /*dataType: 'json',*/
                success: function (response) {
                    // Handle the success response
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log(xhr.responseText);
                }
            });
        });
    });


    //$(document).ready(function () {
    //    /*$(".myForm").submit(function (event) {*/
    //    $('#submitBtn').click(function (e) {

    //        e.preventDefault(); // Prevent the default button click behavior

    //       // var formData1 = new FormData(this);
    //        //var formDataList = []; // Array to hold form data
    //        var formDataArray = [];
    //        // Iterate over each form
    //        debugger;

    //        //$('#form1, #form2').each(function () {
    //        $('.myForm').each(function () {
    //            debugger;
    //          // var form = $(this); // Get the current form
    //          // var formData = new FormData(form[0]); // Create FormData from the form
    //           var form = $('.myForm');
    //            var formData = (this).serializeArray();


    //           // var formData = new FormData($(this)[0]);
    //          //  var formData = new FormData($(".myForm").serialize());
    //            //var formData = new FormData(this); // Create FormData for each form

    //            formDataArray.push(formData);

    //            //formDataList.push(formData); // Add FormData to the list
    //        });

    //        // Send form data via AJAX
    //        $.ajax({
    //            url: "/Attendance/SubmitFormData", // Replace with your controller and action
    //            type: 'POST',
    //            data: { formDataArray: formDataArray }, // Send the array of form data
    //            //processData: false, // Prevent jQuery from processing the data
    //           //contentType: false, // Prevent jQuery from setting the content type
    //            success: function (response) {
    //                // Handle the success response
    //                console.log(response);
    //            },
    //            error: function (xhr, status, error) {
    //                // Handle the error response
    //                console.log(xhr.responseText);
    //            }
    //        });
    //    });
    //});

    //$(document).ready(function () {
    //    $('#submitBtn').click(function (e) {
    //        e.preventDefault(); // Prevent the default form submission

    //        // Create a new instance of FormData
    //        var combinedFormData = new FormData();

    //        // Get each form and its FormData
    //        var form1Data = new FormData($('#form1')[0]);
    //        var form2Data = new FormData($('#form2')[0]);

    //        // Append the FormData to the combined FormData
    //        appendFormData(combinedFormData, form1Data);
    //        appendFormData(combinedFormData, form2Data);

    //        // Send the combined FormData via AJAX
    //        $.ajax({
    //            url: "/Attendance/SubmitFormData",// Replace with your controller and action
    //            type: 'POST',
    //            data: combinedFormData,
    //            processData: false, // Prevent jQuery from processing the data
    //            contentType: false, // Prevent jQuery from setting the content type
    //            success: function (response) {
    //                // Handle the success response
    //                console.log(response);
    //            },
    //            error: function (xhr, status, error) {
    //                // Handle the error response
    //                console.log(xhr.responseText);
    //            }
    //        });
    //    });

    //    // Function to append FormData to another FormData
    //    function appendFormData(target, source) {
    //        for (var pair of source.entries()) {
    //            target.append(pair[0], pair[1]);
    //        }
    //    }
    //});

</script>

<form id="myForm1">
    <!-- Form fields -->
    <button type="submit" name="submitButton" value="Save" class="form-button">Save</button>
    <button type="submit" name="submitButton" value="Cancel" class="form-button">Cancel</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script>
    //This is worked
    $(document).ready(function () {


        var clickedButtonValue = null; // Variable to store the clicked button value

        $('.form-button').click(function () {
            clickedButtonValue = $(this).val(); // Store the clicked button value
        });
        $('#myForm1').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting

            //var clickedButtonValue = $(event.originalEvent.explicitOriginalTarget).val();
            //console.log(clickedButtonValue);
            alert(clickedButtonValue)
            // Continue with form submission or perform other actions based on the clicked button value
        });
    });

</script>







@*//this is old code*@


<h1>SubmitFormData</h1>
<td>
    <div class="fa fa-edit" style="font-size: 20px; color: red">
        <input type="text" hidden="" class="ID_APPEND_For_Edit" readonly="" id="row1" value="row1">
    </div>
    <input name="marriagechecking_Int" type="text" id="marriagecheckingCT" value="0">
    <input type="file" asp-for="file" name="file" id="attachdocumentCT">
    <input name="Batchid" type="text" id="BatchidCT" value="83108" hidden="">
    <input name="LeaveApplicationId" type="text" id="LeaveApplicationIdCT" value="105557" hidden="">
</td>
<form class="myForm" enctype="multipart/form-data">


    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>



                    <input type="file" name="File" />
                </td>
                <td>
                    <div class="fa fa-edit" style="font-size: 20px; color: red">
                        <input type="text" name="Name" value="John1" />
                    </div>

                    <input name="Email" type="text" id="LeaveApplicationIdCT" value="MAni">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" value="Rakesh1" />


                    <input type="file" name="file" id="fileInput" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="Name" value="Arjun" />

                    <input type="text" name="Email" value="Arjun" />
                    <input type="file" name="file" id="fileInput" />
                </td>
            </tr>
        </tbody>
    </table>

</form>
<button id="submitBtn">Submit</button>





<form id="myForm12" class="myForm12">

    <input type="text" asp-for="Name" value="John" />
    <input type="email" name="Email" value="john@example.com" />

    <input type="file" name="file" id="fileInput" />

    <button id="submitBtn1">Submit</button>
</form>
@*<form class="myForm">*@
@*<form id="form2">*@
<!--<input type="text" name="Name" value="Rakesh" />-->
@*<input type="email" name="Email" value="RAkesh@example.com" />*@

<!--<input type="file" name="file" />
</form>
<form class="myForm">-->
@*<form id="form1">*@
<!--<input type="text" name="Name" value="Sri" />-->
@*<input type="email" name="Email" value="john@example.com" />*@

<!--<input type="file" name="file" />
</form>-->

<button id="submitBtn">Submit</button>

@*url: "/Attendance/SubmitFormData",*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        /* $(".myForm").submit(function (e) {*/
        $('#submitBtn').click(function (e) {
            e.preventDefault(); // Prevent the default form submission

            alert(1)
            var formDataList = [];
            var formDataArray = [];
            /*       var formDataList = [];*/
            debugger;

            var formData1 = new FormData();

            // Append the file to FormData
            //var fileInput = document.getElementById('fileInput'); // Replace with the actual ID of your file input element
            //var file = fileInput.files[0]; // Assuming you want to append the first selected file
            //formData1.append('file', file);

            //formDataList.push(formData1);

            // Loop through each form
            $('.myForm tbody tr').each(function () {
                //$('.myForm12').each(function () {
                var form = $(this);
                var formData = {};
                debugger;

                /*  $('.myForm').each(function () {*/
                //debugger;
                //formDataArray.push(new FormData(this));
                //formDataList.push(new FormData(this));

                //var formData2 = new FormData();
                //formData2.append('file', $('#fileInput').prop('files')[0]);
                //formDataArray.push(formData2);
                //var formData1 = new FormData(this);
                //formDataArray.push(formData1);

                //var form = $(this);
                //var formData = {};



                //Loop through each form field
                form.find(':input').each(function () {
                    var input = $(this);
                    /*formData[input.attr('name')] = input.val();*/
                    debugger;
                    if (input.attr('type') === 'file') {
                        /*var fileInput = $('#fileInput')[0];*/

                        // Add the file to the formData object
                        /*formData.file = fileInput.files[0];*/

                        //var fileInput = document.getElementById('fileInput'); // Replace with the actual ID of your file input element
                        //var file = fileInput.files[0]; // Assuming you want to append the first selected file
                        //formData.append('file', file);
                        //var filedata1 = document.getElementById("attachdocument");
                        //var zab = document.getElementById('attachdocumentCT')
                        //zab.files = filedata1.files;

                        debugger;

                        var files = this.files[0];
                        //$('#attachdocumentCT').prop('files', this.files);
                        /*     formData.append('file', this.files[0]);*/
                        /*formDataList.push(formData);*/
                    } else {
                        formData[input.attr('name')] = input.val();
                    }
                });

                //Add the form data to the list
                formDataList.push(formData);
            });

            // Send the form data list via AJAX
            $.ajax({
                url: "/Attendance/SubmitFormData", // Replace with your controller and action
                type: 'POST',


                //data: formData1,
                //processData: false,
                //contentType: false,
                /*   dataType: 'json',*/

                data: JSON.stringify(formDataList), // Convert the list to JSON string
                dataType: 'json',
                processData: false,
                contentType: 'application/json', // Set the content type to JSON
                /*dataType: 'json',*/
                success: function (response) {
                    // Handle the success response
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log(xhr.responseText);
                }
            });
        });
    });


    //$(document).ready(function () {
    //    /*$(".myForm").submit(function (event) {*/
    //    $('#submitBtn').click(function (e) {

    //        e.preventDefault(); // Prevent the default button click behavior

    //       // var formData1 = new FormData(this);
    //        //var formDataList = []; // Array to hold form data
    //        var formDataArray = [];
    //        // Iterate over each form
    //        debugger;

    //        //$('#form1, #form2').each(function () {
    //        $('.myForm').each(function () {
    //            debugger;
    //          // var form = $(this); // Get the current form
    //          // var formData = new FormData(form[0]); // Create FormData from the form
    //           var form = $('.myForm');
    //            var formData = (this).serializeArray();


    //           // var formData = new FormData($(this)[0]);
    //          //  var formData = new FormData($(".myForm").serialize());
    //            //var formData = new FormData(this); // Create FormData for each form

    //            formDataArray.push(formData);

    //            //formDataList.push(formData); // Add FormData to the list
    //        });

    //        // Send form data via AJAX
    //        $.ajax({
    //            url: "/Attendance/SubmitFormData", // Replace with your controller and action
    //            type: 'POST',
    //            data: { formDataArray: formDataArray }, // Send the array of form data
    //            //processData: false, // Prevent jQuery from processing the data
    //           //contentType: false, // Prevent jQuery from setting the content type
    //            success: function (response) {
    //                // Handle the success response
    //                console.log(response);
    //            },
    //            error: function (xhr, status, error) {
    //                // Handle the error response
    //                console.log(xhr.responseText);
    //            }
    //        });
    //    });
    //});

    //$(document).ready(function () {
    //    $('#submitBtn').click(function (e) {
    //        e.preventDefault(); // Prevent the default form submission

    //        // Create a new instance of FormData
    //        var combinedFormData = new FormData();

    //        // Get each form and its FormData
    //        var form1Data = new FormData($('#form1')[0]);
    //        var form2Data = new FormData($('#form2')[0]);

    //        // Append the FormData to the combined FormData
    //        appendFormData(combinedFormData, form1Data);
    //        appendFormData(combinedFormData, form2Data);

    //        // Send the combined FormData via AJAX
    //        $.ajax({
    //            url: "/Attendance/SubmitFormData",// Replace with your controller and action
    //            type: 'POST',
    //            data: combinedFormData,
    //            processData: false, // Prevent jQuery from processing the data
    //            contentType: false, // Prevent jQuery from setting the content type
    //            success: function (response) {
    //                // Handle the success response
    //                console.log(response);
    //            },
    //            error: function (xhr, status, error) {
    //                // Handle the error response
    //                console.log(xhr.responseText);
    //            }
    //        });
    //    });

    //    // Function to append FormData to another FormData
    //    function appendFormData(target, source) {
    //        for (var pair of source.entries()) {
    //            target.append(pair[0], pair[1]);
    //        }
    //    }
    //});

</script>

<form id="myForm1">
    <!-- Form fields -->
    <button type="submit" name="submitButton" value="Save" class="form-button">Save</button>
    <button type="submit" name="submitButton" value="Cancel" class="form-button">Cancel</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<script>
    //This is worked
    $(document).ready(function () {


        var clickedButtonValue = null; // Variable to store the clicked button value

        $('.form-button').click(function () {
            clickedButtonValue = $(this).val(); // Store the clicked button value
        });
        $('#myForm1').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting

            //var clickedButtonValue = $(event.originalEvent.explicitOriginalTarget).val();
            //console.log(clickedButtonValue);
            alert(clickedButtonValue)
            // Continue with form submission or perform other actions based on the clicked button value
        });
    });

</script>