@model Connect4m_Web.Models.Attendenceproperites.Attendance_Summary
@{
    ViewData["Title"] = "Summary";
}

<html>
<head>

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Attendance /</span>VIEW ATTENDANCE SUMMARY </h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            ATTENDANCE SUMMARY
                        </h5> <small class="text-muted float-end">* INDICATES MANDATORY FIELD</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form class="form" id="Summerydetails">
                                    <div class="row mb-3">
                                        <label asp-for="InstanceClassificationId" class="control-label col-sm-4 col-form-label text-end required space">Department</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="Ddldepartment" asp-for="InstanceClassificationId">
                                                </select>
                                                <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="InstanceSubclassificaitionId" class="control-label col-sm-4 col-form-label text-end required space">Class</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="DdlSubClass" asp-for="InstanceSubclassificaitionId">
                                                </select>
                                                <span asp-validation-for="InstanceSubclassificaitionId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="Studentuserid" class="control-label col-sm-4 col-form-label text-end required space">Student Name</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="Studentnamesddl" asp-for="Studentuserid">
                                                </select>
                                                <span asp-validation-for="Studentuserid" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="CommonClearFunction('Summerydetails')" id="BtnClear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light">Search </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Attendance_Summary_Tbl">

            </div>
        </div>
    </div>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="~/js/Attendancesummary.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}