

@{
    ViewData["Title"] = "GetMonthWiseFullStatusofClassAttendanceReporttbldata";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tblStaffLeavesearchresults td {
        padding: 2px;
        border: 3px solid black;
        font-weight: 600;
    }

    #FirstTable td {
        border: 1px solid black;
    }

    .ScreenShotImage span {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .ScreenShotImage:hover span {
        display: inline-block;
    }

    .ScreenShotImage {
        position: relative;
    }

        .ScreenShotImage:hover::before {
            display: none;
            position: absolute;
        }
</style>

<div id="Registertablediv1">
    <div class="row mb-2">
        <div class="col-md-12 col-lg-12 mb-3">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">
                        STEPS TO BE FOLLOWED TO TAKE PRINT
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <table width="100%" cellpadding="0" cellspacing="0" align="center" class="tablesideborders">
                                <tbody>
                                    <tr>
                                        <td style="height: 24px;">
                                            <table cellpadding="0" id="tblinstructions" width="100%" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="24%">
                                                            &nbsp;<b>Step 1:-</b>&nbsp;
                                                            <a class="ScreenShotImage" href="#">
                                                                (<u>View screenshot</u>)
                                                                <span>
                                                                    <img id="screenshotImage1" src="~/Images/Print1.jpg" width="302px" height="237px" alt="" style="border: 1px solid #cbcbcb;">
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <label>Click on "Preferences" button on General Tab of Print window.</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="24%">
                                                            &nbsp;<b>Step 2:-</b>&nbsp;
                                                            <a class="ScreenShotImage" href="#">
                                                                (<u>View screenshot</u>)
                                                                <span>
                                                                    <img id="screenshotImage2" src="../Images/Print2.jpg" width="302px" height="237px" alt="" style="border: 1px solid #cbcbcb;"><br>
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <label>Click on "Orientation" Dropdown and select "Landscape" option.</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="24%">
                                                            &nbsp;<b>Step 3:-</b>&nbsp;
                                                            <a class="ScreenShotImage" href="#">
                                                                (<u>View screenshot</u>)
                                                                <span>
                                                                    <img id="screenshotImage3" src="~/Images/Print.jpg" width="302px" height="237px" alt="" style="border: 1px solid #cbcbcb;"><br>
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <label>Adjust left and right margins by clicking print preview option.</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content" style=" color: #7367f0;">
    <div class="col-sm-6">
        <a herf="Javascript:void(0);" id="_MonthwiseattendancereportExportExcel">Export To Excel</a>      
    </div>
    <div class="col-sm-6 text-end">
        <a herf="javascript:void(0);" id="_monthwiseattendancereportPrint">Print</a>       
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12 col-lg-12 mb-3">
        <div class="card mb-4" id="PayementdetailsSearchpagemaindiv">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        ATTENDANCE DETAILS
                    </span>
                </h5>
            </div>
            <div class="card-body" id="Getmonthwiseattendnacetblmain">
                <div class="card-datatable text-nowrap">
                    <div id="Printmonthwiseattendancereport">

                        <div class="col-12">
                            <label class=" space">NOTE</label>
                        </div>
                        <div class="row">
                            <label class="col-1 text-end space  ">P </label>
                            <label class="col-2 ">Present </label>
                            <label class="col-2 text-end space">DA </label>
                            <label class="col-2 ">Doctor Appointment </label>
                            <label class="col-2 text-end space">1HP </label>
                            <label class="col-2 ">First half Present  </label>
                        </div>
                        <div class="row">
                            <label class="col-1 text-end space  ">A </label>
                            <label class="col-2 ">Absent </label>
                            <label class="col-2 text-end space">NA </label>
                            <label class="col-2 ">No Application </label>
                            <label class="col-2 text-end space">2HP </label>
                            <label class="col-2 ">Second half Present  </label>
                        </div>
                        <div class="row">
                            <label class="col-1 text-end space  ">OS </label>
                            <label class="col-2 ">Out of Station </label>
                            <label class="col-2 text-end space">NE </label>
                            <label class="col-2 ">No Examination </label>
                            <label class="col-2 text-end space">IL </label>
                            <label class="col-2 ">Illness  </label>
                        </div>
                        <div class="row">
                            <label class="col-1 text-end space  ">UW </label>
                            <label class="col-2 ">Urgent Work </label>
                            <label class="col-2 text-end space">PL </label>
                            <label class="col-2 ">Preparatory Leave </label>
                            <label class="col-2 text-end space">O </label>
                            <label class="col-2 ">Others  </label>
                        </div>
                        <div class="row">
                            <label class="col-1 text-end space  ">OL </label>
                            <label class="col-2 ">Official Leave </label>
                            <label class="col-2 text-end space">UFR </label>
                            <label class="col-2 ">Urgent Family Reason </label>
                        </div>
                        <div class="row">
                            <label class="col-3 text-center">-------------</label>
                            <label class="col-3 text-center">-------------</label>
                            <label class="col-3 text-center">-------------</label>
                            <label class="col-3 text-center">-------------</label>
                        </div>

                        <div class="table-responsive text-nowrap">
                            <div style=" text-align: center; font-weight: 500;">
                                <b>Quro Schools</b>
                                <p>Attendance for  <span id="Selectedepartmentspid"></span>,<span id="SelecteSectionspid"></span> for the month of <span id="selectedmonthid"></span>,  <span id="SelectedYearid"></span></p>
                            </div>
                            <table id="myTable" class="table table-hover table-bordered">
                                <thead class="table-dark" id="tablehead">

                                <tbody id="tableBody">
                                </tbody>
                                <tfoot id="tablefooter">

                                </tfoot>
                            </table>
                            <div id="AttendanceSignaturesdiv">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/GeneralFunctions.js"></script>
<script src="~/js/Monthwiseclassattendancereport.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>