@model Connect4m_Web.Models.Attendenceproperites.MonthWiseclassattendancereport
@{
    ViewData["Title"] = "MonthWiseFullStatusofClassAttendanceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .table-border {
            border-collapse: collapse;
            border: 1px solid black;
        }
        .cell-border {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="flex-grow-1 container-p-y container-xxl">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Reports /</span>MONTHLY ATTENDANCE REPORT</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <span class="ErrorMessageSpan text-danger" id="Main_Span_Error"></span>
                <div class="card mb-4" id="PayementdetailsSearchpagemaindiv">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="AddNewText_Span_CreatePage">
                                SEARCH USERS
                            </span>
                        </h5> <small class="text-muted float-end">* INDICATES MANDATORY FIELD</small>
                    </div>
                    <div class="card-body" id="CreateNewSubjectsDiv">
                        <form id="Monthlyattendanceformid" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col">
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end required space" asp-for="Month" for="basic-default-name">Month </label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="Month" asp-for="Month">
                                                    <option value="">---------Select---------</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <span asp-validation-for="Month" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end required space" asp-for="Year" for="basic-default-name">Year</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="Year" asp-for="Year">
                                                    <option value="">---------Select---------</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                </select>
                                                <span asp-validation-for="Year" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end required space" asp-for="ClassificationId" for="basic-default-name">Department </label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="Ddldepartment" asp-for="ClassificationId"></select>
                                                <span asp-validation-for="ClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end required space" asp-for="SubClassificationId" for="basic-default-name">Class </label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="DdlClass" asp-for="SubClassificationId">
                                                </select>
                                                <span asp-validation-for="SubClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="CommonClearFunction('FmSubjectSearch')" id="BtnClear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="Btnsearch">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Appendsmonthwiseattendancereportdiv" style="display:none;">

        </div>
    </div>
</body>
</html>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/Datatable/jquery.dataTables.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

@*<script src="~/js/GeneralFunctions.js"></script>*@
<script src="~/js/Monthwiseclassattendancereport.js"></script>

<script>
    $(document).ready(function () {
        debugger;
        fetchDataAndPopulateDropdown(
            '/Reports/MonthWisedepartmentdd',         // URL for data fetching
            '#Ddldepartment',                         // Dropdown selector
            'instanceClassificationId',               // Field name for option values
            'classificationName',                     // Field name for option text
            'manageClassification'                    // Response value return class name
        );
    });
</script>