
@{
    ViewData["Title"] = "CreateUsers";
    Layout = null;
}

@*<link href="~/css/PayRoll.css" rel="stylesheet" />
<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />*@
<input type="hidden" value="@ViewBag?.url"  id="UsersControllerAppend" />
<input type="hidden" value="@ViewBag?.UserId"  id="HdnUserIdCreatePage" />

@*<span class="ErrorMessageSpan" id="Main_Span_Error"></span>*@
<div class="demo-inline-spacing tabsofME" id="myTab">
    <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="false" tabindex="-1" id="GeneralInfoTab" onclick="MoveTonextpage('GeneralInfoTab',null,this.id)"> General Info</button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="false" tabindex="-1" id="ParentDetailsTab" onclick="MoveTonextpage('ParentDetailsTab',null,this.id)"> Parent Details</button>
        </li>
        @*<li class="nav-item" role="presentation">

            <button class="btn rounded-pill btn-outline-dark waves-effect float-end" style="display:none;" id="BtnPreview" onclick="Preview_CalingFunction('@ViewBag?.UserId', this)">
                Preview
            </button>
        </li>*@

    </ul>
</div>


    @*<div class="demo-inline-spacing tabsofME" id="myTab" >
            <button class="btn btn-pill btn-outline-primary btn-aprimary tabchanges"  id="GeneralInfoTab" onclick="MoveTonextpage('GeneralInfoTab',null)">
                General Info
            </button>
            <button class="btn btn-pill btn-outline-primary btn-aprimary" style="display:none !important;" id="ParentDetailsTab" onclick="MoveTonextpage('ParentDetailsTab',null)" disabled="disabled">
                Parent Details
            </button>
        </div>*@

    <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" ><a class="nav-link active" id="GeneralInfoTab" style="cursor:pointer" data-bs-toggle="tab"  onclick="MoveTonextpage('GeneralInfoTab',null)" >General Info</a></li>-->
    @*<li class="nav-item" ><a class="nav-link" style="cursor:pointer" data-bs-toggle="tab" onclick="MoveTonextpage('PreviousSchoolInformationTab',null)" >Previous School Information</a></li>*@
    <!--<li class="nav-item"><a class="nav-link" id="ParentDetailsTab" style="cursor:pointer" data-bs-toggle="tab" onclick="MoveTonextpage('ParentDetailsTab',null)" >Parent Details</a></li>-->
    @*<li class="nav-item" ><a class="nav-link" style="cursor:pointer" data-bs-toggle="tab" onclick="MoveTonextpage('EducationDetailsTab',null)" >Edu Details</a></li>*@
    <!--</ul>-->

    <div id="AppendAllUSersDetails">
        <div id="InnerUsersTabs">

        </div>
    </div>

    @*<script src="~/js/PayRoll.js"></script>*@
    @*<script src="~/js/CommonScripts.js"></script>*@
    <script src="~/js/GeneralFunctions.js"></script>
    @*<script src="~/js/ManageUsers.js"></script>*@
    <script>

        $(document).ready(function () {
            var urlofpayroll = $("#UsersControllerAppend").val();
            debugger;
            if (urlofpayroll != undefined) {
                loaddingimg.css('display', 'block');
                var UserId = $("#HdnUserIdCreatePage").val();
                $("#GeneralInfoTab").addClass('active');
                if (UserId == 0) {
                    $("#myTab").find("#ParentDetailsTab").attr('disabled', true);
                } else {
                    $("#myTab").find("#ParentDetailsTab").attr('disabled', false);
                }
                //  var data = { UserId: UserId};
                performCrudOperationCommonFunction('GET', '/Users/' + urlofpayroll, { UserId: UserId }, function (response) {
                    debugger;
                    $('#AppendAllUSersDetails #InnerUsersTabs').html(response);
                    loaddingimg.css('display', 'none');
                }, function (error) {
                    loaddingimg.css('display', 'none');
                    $("#Main_Span_Error").text("Something Error");
                }, false);
            }
        })

        //===================>>>>>>>>>>>>>>====In CreateUsers Page  Functions START
        //function MoveTonextpage(url, data) {
        //    debugger;
        //    document.getElementById("loading").style.display = "block";
        //    data = { UserId: $("#HdnUserIdCreatePage").val() };
        //    CommonAjaxFunction('GET', '/Users/' + url, data, function (response) {
        //        $('#AppendAllUSersDetails #InnerUsersTabs').html(response);
        //        document.getElementById("loading").style.display = "none";
        //    }, function (status, error) {
        //        document.getElementById("loading").style.display = "none";
        //        //  alert("reject");
        //    }, false);
        //}
        //=====================<<<<<<<<<<<<<<<<<<==In CreateUsers Page  Functions END


    </script>




