
.Clear_Btn {
    height: 27px;
    width: 10%;
   /* color: white;
    background-color: #ff0000bd;
    border: none;*/
    font-weight: 800;
}

.Search_Btn {
    height: 27px;
    width: 10%;
    /*color: white;
    background-color: blue;
    border: none;*/
    font-weight: 800;
}

.NextPageBtn {
    border-radius: 8px;
    cursor: pointer;
    border: none !important;
    box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
}

.PreviousPageBtn {
    border-radius: 8px;
    cursor: pointer;
    border: none !important;
    box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
}

.NextPage_Btn {
    height: 27px;
    width: 12%;
   /* color: white;
    background-color: crimson;
    border: none;*/
    font-weight: 800;
}
.PreviousPageBtn {
    border-radius: 8px;
    cursor: pointer;
    border: none !important;
    box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
}

.NextPageBtn {
    border-radius: 8px;
    cursor: pointer;
    border: none !important;
    box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
}

.TableCount_SpId {
    background-color: #fd761e;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}
.Text_CSS {
    width: 197px;
    font-size: 13px;
    color: black;
    height: 27px;
    margin-left: 11px;
    outline:none;
}
/*Headers_Btn*/
.HeaderBtn {
    background-color: black;
    color: white;
    border-radius: 6px;
    width: 99%;
    margin-left: 1px;
    font-family: emoji;
    border: 2px solid black;
    height: 32px;
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
}
.TableCount_Span {
    background-color: white;
    color: red;
    border-radius: 16px;
    font-size: 16px;
    padding: 5px;
    font-weight: 600;
}
.Dropdown {
    height: 25px;
    width: 45%;
    border-radius: 4px;
    margin-top: 4px;
    font-family: none;
}
.Header_text_span {
    /*color: cornsilk;
    font-size: 19px;
    font-weight: bolder;*/
    color: white;
    font-size: 13px;
    font-weight: bolder;
}

/*Tras bin Css start*/
.delete-link {
    display: inline-block;
    text-decoration: none;
}

    .delete-link::before {
        content: "\f2ed";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
    }
/*Tras bin Css End*/





/*New Fee Type Create Btn Style*/
.NewTypebtn {
    text-align: right;
    font-weight: 600;
    color: black;
    font-family: initial;
}

/*Listbox Styles */
.DD_Lb {
    width: 35%;
    height: 72px;
}

.DescriptionTA {
    height: 100px;
    width: 353px;
    outline: none;
    margin-left: 15px;
    border: 1px solid;
    font-size: 15px;
    font-style: italic;
    MARGIN-TOP: 10PX;
}
/*table Styles Code Starting */
table {
    /*width: 102.5%;
    border-collapse: collapse;*/
    /* border: 8px solid #DD7; */
    /*margin-top: -17px;
    background-color: white;
    margin-left: -11px;*/
    width: 103.5%;
    border-collapse: collapse;
    /* border: 8px solid #DD7; */
    margin-top: -17px;
    background-color: white;
    margin-left: -17px;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    border: 1px solid #DC5;
    background-color: blanchedalmond;
    font-size: 14px;
    text-align: center;
    font-family: auto;
    color: black;
    height: 35px;
    padding:5px;

}

td {
    border: 1px solid #DC5;
    font-family: auto;
    font-size: 14px;
    height: 35px;
    padding: 5px
}

tr:hover {
    /*background-color: #f5f5f5;*/
    background-color: antiquewhite;
}
.even-row {
    background-color: #ECE7D9;
}

.odd-row {
    background-color: white;
}

/*table Styles Code End */



/*pagination Adding styles*/

.pagination {
    list-style: none;
    padding-left: 30%;
    column-gap: 1%;
}

.previous-link {
    /* Add your desired styles here */
    /* Example styles: */
    color: blue;
    font-weight: bold;
    /* Add any other styles you want to apply */
}

.Last-link {
    color: blue;
    font-weight: bold;
}
