
@model Connect4m_Web.Models.ExaminationModel
@{
    ViewData["Title"] = "BulkUploadSubjects";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .Ddlstyle {
            width: 230px;
            color: black;
            font-size: inherit;
            height: 27px;
        }

        .errorboxshadow {
            box-shadow: 0 0 0 0.25rem rgb(223 16 35 / 75%);
        }
    </style>

</head>
<body>
    <div class="card">
        <div class="card-header pb-0" style="padding-top: 0px;">
            <h6 style="text-align: center; color: black; margin-top: 5px; "><strong>MANAGE SUBJECTS</strong></h6>
        </div>
        <span class="ErrorMessageSpan" id="Main_Span_Error"></span>

        <a id="BtnCreateNewSubjects" class="BTNCreateNew Undeline" onclick="CreateNewSubjects()">Create Subject</a>

        <div class="card" id="CreateNewSubjects">

        </div>
        <div class="default-according style-1" id="accordionoc9">

            <div class="card-body" style=" padding-top: 0px;" id="CreateNewSubjectsDiv">

                @*<a id="BtnCreateNewExams" class="BTNCreateNew Undeline" href="/Examination/UpdateManageSubjects" onclick="CreateNewExams()">Create Subject</a>*@


                <div class="card" id="CreateNewPage">
                    <div class="card-header " style="background-color:black ;">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapseicon1200" aria-controls="collapse11">
                                <span id="AddNewText_Span_CreatePage">
                                    SEARCH SUBJECTS
                                </span>
                            </button>
                        </h5>
                    </div>

                    <div class="collapse show" id="collapseicon1200" aria-labelledby="collapseicon" data-bs-parent="#accordionoc9" style="">
                        <div class="card ">
                            <div class="card-body">
                                @*<form id="FmExamsCreatePage" asp-action="ManageExams" asp-controller="Examination">*@
                                <form id="FmSubjectSearch">
                                    <div style="margin-left:20%;font-size:12px" id="FmExamsCreate_Div">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"> Subject Name :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="Name" id="TxtSubjectName" style="height: 27px; width: 230px;">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-sm-3 col-form-label  form-label" style=" padding-top: 3px;">Subject Code   :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="SubjectCode" id="TxtSubjectCode" style="height: 27px; width: 230px;">

                                                    </div>
                                                </div>
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"> Department :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlDepartment' name="InstanceClassificationId" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))">
                                                            <option value=''>Select a Department</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"> Class :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlClass' name="InstanceSubClassificationId" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Please select a Class</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div style="margin-left:200px">
                                                    <input type="reset" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="CommonClearFunction('FmSubjectSearch')" id="BtnClear" style="padding:4px 20px;" value="Clear">&nbsp;&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-pill btn-outline-success btn-air-success" onclick="  TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblBulkUploadSubjectsList', 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);" id="BtnSave" style="padding:4px 19px;" value="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                @*searched result table*@
                <div id="Div_TblBulkUploadSubjectsList" style="display:none">
                    <div class="default-according style-1" id="accordionoc123456">
                        <div class="card" id="SearchedTablePage">
                            <div class="card-header " style="background-color:black ;">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11">@*<i class="icofont icofont-briefcase-alt-2"></i>*@  <span id="CountOfRecords_LeaveLevels">YOUR SEARCH RESULTED <span id="Counts" class="number-circle">0</span> RECORD(S).</span></button>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon" data-bs-parent="#accordionoc123456" style="">
                                <div class="card ">
                                    <form id="Fm_TblBulkUploadSubjectsList" class="table-responsive">
                                        @*<table id="LeaveLevels_SearchRecords_Table" class="table table-responsive tableid">*@
                                        <table id="TblBulkUploadSubjectsList" class="display cell-border  tableid">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Subject Name</th>
                                                    <th>Subject Code</th>
                                                    <th>Department</th>
                                                    <th>Class</th>
                                                    <th>Subject Type</th>
                                                    <th>Include In Total</th>
                                                    <th style="text-align:center">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        @*-------------------------------create page-------------------------------*@

        <div id="UpdateManageSubjects">

        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>



<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script src="~/js/GeneralFunctions.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
<script>
    //=====================================Delete Subject
    function DeleteExamsById(InstanceSubjectId) {
        debugger;
        // var UserId = $("#HdnUserId").val();
        var Deletemsg = "Subject";
        CommonDeleteFunctionNew(Deletemsg,"POST", "/Examination/DeleteSubject_CallingFunction?ButtonName=Delete&InstanceSubjectId=" + InstanceSubjectId, function (response) {
            $("#Main_Span_Error").text(response.message);

            TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblBulkUploadSubjectsList', 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
         

        });


        //CommonDeleteFunction('Category', 'GET', '/PayRoll/DeleteManageCategory', data, function (response) {
        //    $('.alert-success p').text("Category deleted successfully.");
        //    $(".alert-success").show().delay(5000).fadeOut()
        //    searchManageCategory();
        //});
        //CommonDeleteFunction(Deletemsg,"POST", "/Examination/DeleteSubject_CallingFunction?ButtonName=Delete&InstanceSubjectId=" + InstanceSubjectId, function (response) {
        //    if (response.message == "Record deleted successfully.") {

        //        TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblBulkUploadSubjectsList', 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);

        //        $('.alert-success p').text("Record deleted successfully.");
        //        $(".alert-success").show().delay(5000).fadeOut()
        //    } else {
        //        $('.alert-danger p').text("you can not delete subject because results has been posted.");
        //        $(".alert-danger").show().delay(5000).fadeOut()
        //        }
        //    //else {
        //    //    Swal.fire({
        //    //        icon: "error",
        //    //        title: "Failed!",
        //    //        text: (responce.response),
        //    //    });
        //    //}
        //   // $("#Main_Span_Error").text(response.message);
        // });
    }

    $(document).ready(function () {
        $("#loadingOverlay").show();
        TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblBulkUploadSubjectsList", 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
        CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)
        $("#loadingOverlay").hide();
    });
    var js = jQuery.noConflict(true);


    //===============================View Subjects details
    // function _ViewSubjects(event,InstanceClassificationId, InstanceSubClassificationId) {
    function _ViewSubjects(event, Id) {
        try {
            event.preventDefault();
            debugger;
            $(".ErrorMessageSpan").empty();
            if (Id == "DdlClassForSingle" && $("#DdlClassForSingle").val() != "") {
                //  $("#ViewSubjectsSymbol").css("display","block")
                $("#ViewSubjectsSymbol").show();
                return;
            }
            var InstanceClassificationId = $("#DdlDepartmentForSingle").val();
            var InstanceSubClassificationId = $("#DdlClassForSingle").val();
            if (InstanceClassificationId == "" || InstanceSubClassificationId == '') {
                $("#ViewSubjectsSymbol").hide();
                return;
            }
            var Url = "/Examination/TblViewSubjectsList?InstanceClassificationId=" + InstanceClassificationId + "&InstanceSubClassificationId=" + InstanceSubClassificationId;
            // Common_ViewChangeActivities(event, Url)
            _ViewChangeActivities(event, '', '', '', Url)
        }
        catch (e) {
            $("#Main_Span_Error").text("Something Error");
        }
    }

    //===============================values getting to edit
    function EditValuesGettingFunction(subjectId) {
        debugger;
        $(".ErrorMessageSpan").empty();
        var data = { InstanceSubjectId: subjectId, Buttonname: "Update" };
        $("#loadingOverlay").show();
        performCrudOperationCommonFunction("GET", "/Examination/UpdateSubjects_PartialView", data, function (response) {
            debugger;
            //  $("#UpdateManageSubjects").html(response);
            $("#accordionoc9").hide();
            $("#UpdateManageSubjects").html(response);
            // $("#Saveclassfication_MS").val("Update");
            $("#loadingOverlay").hide();
        }, function (error) {
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
            //console.error(error);
        });
    }


    //This is for to upload a single deprtment and multiple deprtment
    $(document).on("click", '#RdlMultipleDept,#RdlSingleDept', function (event) {
        debugger;
        $(".ErrorMessageSpan").empty();
        var BtnName = $(this).attr("id");
        var data = { Buttonname: BtnName };
        $("#loadingOverlay").show();

        performCrudOperationCommonFunction("GET", "/Examination/UpdateSubjects_PartialView", data, function (response) {
            debugger;
            //  $("#UpdateManageSubjects").html(response);
            $("#accordionoc9").hide();
            $("#UpdateManageSubjects").html(response);
            if (BtnName == "RdlSingleDept") {
                CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartmentForSingle", "Select a Department", false)
            }
            // $("#Saveclassfication_MS").val("Update");
            $("#loadingOverlay").hide();
        }, function (error) {

            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
            //console.error(error);
        });
    })


    function CreateNewSubjects() {
        try {
            //$("#loadingOverlay").show();
            //debugger;
            //    $("#accordionoc9").hide();
            //    $("#UpdateManageSubjects").empty();
            //    $("#CreateNewSubjects").show();

            //    $("#loadingOverlay").hide();

            $(".ErrorMessageSpan").empty();
            debugger;
            var data = { Buttonname: "BtnCreateNew" };
            $("#loadingOverlay").show();

            performCrudOperationCommonFunction("GET", "/Examination/UpdateSubjects_PartialView", data, function (response) {
                debugger;
                //  $("#UpdateManageSubjects").html(response);
                $("#accordionoc9").hide();
                $("#CreateNewSubjects").html(response);
                $("#UpdateManageSubjects").empty();
                // $("#Saveclassfication_MS").val("Update");
                $("#loadingOverlay").hide();
            }, function (error) {

                $("#loadingOverlay").hide();
                $("#Main_Span_Error").text("Something Error");
                //console.error(error);
            });
        } catch (x) {
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
        }
    }

    function BackTOSearhExams(event) {
        try {
            $("#loadingOverlay").show();
            TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblBulkUploadSubjectsList", 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
            $("#accordionoc9").show();
            $("#CreateNewSubjects").empty();
            $("#UpdateManageSubjects").empty();
            $(".ErrorMessageSpan").empty();
            $("#loadingOverlay").hide();
        } catch (x) {
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
        }
    }


    //$(document).on("click", '#BtnUpdate', function (event) {
    //    try {
    //    event.stopImmediatePropagation();
    //    var ButtonName = $(this).val();
    //    debugger;
    //    $(".ErrorMessageSpan").empty();
    //    var formData = new FormData();
    //    $("#loadingOverlay").show();

    //    performCrudOperationCommonFunction('POST', "/Examination/ManageSubjects?ButtonName=" + ButtonName, formData, function (response) {
    //        debugger;
    //        if (response.message == "Record inserted successfully." || response.message == "Record updated successfully.") {
    //            $("#Saveclassfication_MS").prop('disabled', true);
    //        } else if (response.message == "Record deleted successfully.") {
    //            location.reload();
    //        }
    //        $("#Main_Span_Error").text(response.message);
    //        $("#loadingOverlay").hide();
    //        window.scrollTo(0, 0);
    //    }, function (error) {
    //        // errorCallback function code here
    //    }, true);
    //    } catch (e) {
    //        $("#Main_Span_Error").text("Something Error");
    //        $("#loadingOverlay").hide();
    //    }

    //});
</script>




