
@model Connect4m_Web.Models.SubjectModel
@{
    ViewData["Title"] = "ManageSubjectAssociationForMBA";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .Ddlstyle {
            width: 230px;
            color: black;
            font-size: inherit;
            height: 27px;
        }

        .errorboxshadow {
            box-shadow: 0 0 0 0.25rem rgb(223 16 35 / 75%);
        }
    </style>

</head>
<body>
    <div class="card">
        <div class="card-header pb-0" style="padding-top: 0px;">
            <h6 style="text-align: center; color: black; margin-top: 5px; "><strong>MANAGE SUBJECTS ASSOCIATION</strong></h6>
        </div>
        <div class="default-according style-1" id="accordionoc9">

            <div class="card-body" style=" padding-top: 0px;">
                @*<a id="BtnCreateNewExams" class="BTNCreateNew Undeline" href="/Examination/UpdateManageSubjects" onclick="CreateNewExams()">Create Subject</a>*@

                <div class="card" id="Searchpage">
                    <span class="ErrorMessageSpan" id="Main_Span_Error"></span>
                    <div class="card-header " style="background-color:black ;">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapseicon1200" aria-controls="collapse11">
                                <span>
                                    ASSOCIATE SUBJECTS TO STUDENTS
                                </span>
                            </button>
                        </h5>
                    </div>

                    <div class="collapse show" id="collapseicon1200" aria-labelledby="collapseicon" data-bs-parent="#accordionoc9" style="">
                        <div class="card ">
                            <div class="card-body">
                                @*<form id="FmExamsCreatePage" asp-action="ManageExams" asp-controller="Examination">*@
                                <form id="FmUsersSearchForMBA">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div style="margin-left:20%;font-size:12px">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Department :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlDepartment' asp-for="InstanceClassificationId" name="InstanceClassificationId" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))">
                                                            <option value=''>Select a Department</option>
                                                        </select>
                                                        <span class="ErrorMessageSpan" id="DdlDepartment_ErrorSpan"></span>
                                                        @*<span asp-validation-for="InstanceClassificationId" class="ErrorMessageSpan"></span>*@
                                                    </div>
                                                </div>
                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Class :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlClass' asp-for="InstanceSubClassificationId" name="InstanceSubClassificationId" onchange="ClassOnchange()" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>Please select a Class</option>
                                                        </select>
                                                        <span class="ErrorMessageSpan" id="DdlClass_ErrorSpan"></span>
                                                        @*<span asp-validation-for="InstanceSubClassificationId" class="ErrorMessageSpan" ></span>*@

                                                    </div>
                                                </div>

                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Subjects Type :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlSubjectType' asp-for="SubjectTypeId1" name="SubjectTypeId1" onchange="CommonDropdownFunction('POST', '/Examination/SubjectNamesDropdown_Calingfunction', 'DdlSubject', '------Select------', true,'FmUsersSearchForMBA')" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))">
                                                            <option value=''>------Select------</option>
                                                        </select>

                                                        <span class="ErrorMessageSpan" id="DdlSubjectType_ErrorSpan"></span>
                                                    </div>
                                                </div>

                                                <div class="mb-2 row">
                                                    <label class="col-sm-3 col-form-label  form-label " style="margin-top: -4px;"><i style="color:red">*</i> Subjects :&nbsp;</label>
                                                    <div class="col-sm-9">
                                                        <select id='DdlSubject' asp-for="InstanceSubjectId" name="InstanceSubjectId" class="input-air-primary Ddlstyle" asp-items="@(new SelectList(""))" disabled>
                                                            <option value=''>------Select------</option>
                                                        </select>

                                                        <span class="ErrorMessageSpan" id="DdlSubject_ErrorSpan"></span>
                                                    </div>
                                                </div>

                                                <div style="margin-left:200px">
                                                    <input type="reset" class="btn btn-pill btn-outline-danger btn-air-danger" onclick="ClearFunction()" id="BtnClear" style="padding:4px 20px;" value="Clear">&nbsp;&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-pill btn-outline-success btn-air-success" id="BtnSearch" style="padding:4px 19px;" value="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                @*searched result table*@
                <div id="Div_TblUser" style="display:none">
                    <span class="checkboxclass"><input id="chkSelectAll" type="checkbox" onclick="SelectAllCheckBoxes(this)"><label style="margin-bottom:-0.5rem">Check All</label></span>
                    <div class="default-according style-1" id="accordionoc123456">
                        <div class="card" id="SearchedTablePage">
                            <div class="card-header " style="background-color:black ;">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11">@*<i class="icofont icofont-briefcase-alt-2"></i>*@  <span id="CountOfRecords_LeaveLevels">YOUR SEARCH RESULTED <span id="Counts" class="number-circle">0</span> RECORD(S).</span></button>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon" data-bs-parent="#accordionoc123456" style="">
                                <div class="card ">
                                    <form id="Fm_TblUser" class="table-responsive">
                                        @*<table id="LeaveLevels_SearchRecords_Table" class="table table-responsive tableid">*@
                                        <table id="TblUser" class="display cell-border  tableid">
                                            <thead>
                                                <tr>
                                                    <th style="width:2%">S.No</th>
                                                    <th style="width:11%">Select User</th>
                                                    <th>Registration Number</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            @*<tfoot>
                                                    <tr>
                                                        <td>
                                                            <input type="submit" class="btn btn-success" id="BtnSave" value="Save">
                                                        </td>
                                                    </tr>
                                                </tfoot>*@

                                        </table>
                                        <div style=" margin-left: 43%;">
                                            <input type="submit" class="btn btn-success" id="BtnSave" value="Save">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/GeneralFunctions.js"></script>
<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function () {
        $("#loadingOverlay").show();
        //  TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblBulkUploadSubjectsList", 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
        CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)
        CommonDropdownFunction("GET", "/Examination/SubjectTypesDropdown_Calingfunction", "DdlSubjectType", "------Select------", false)
        $("#loadingOverlay").hide();
    });
    var js = jQuery.noConflict(true);


    //this for clear a subject dropdowns
    function ClassOnchange() {
        $("#DdlSubject").empty();
        $('#DdlSubjectType option:first').prop("selected", true);
    }

    function ClearFunction() {
        $(".ErrorMessageSpan").empty();
        $("#Div_TblUser").hide();
        $("#TblUser tbody").empty();
    }
    //-----------Search Records
    $("#FmUsersSearchForMBA").submit(function (event) {
        debugger;
        event.preventDefault();
        $(".ErrorMessageSpan").empty();
        //var formElement = document.getElementById('FmUsersSearchForMBA');
        //setTimeout(function () {
        //    var validationMessages = formElement.getElementsByClassName('field-validation-error');
        //    // var validationMessages2 = formElement.getElementsByClassName('error2');
        //    var validationmelength = validationMessages.length;
        //    if (validationmelength == 0) {
        //        TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblUserDetailsList', 'TblUser', 'Counts', 'FmUsersSearch', 'Div_TblUser', '', []);
        //    }
        //}, 50);
        $("#DdlDepartment").removeClass("errorboxshadow");
        $("#DdlClass").removeClass("errorboxshadow");
        $("#DdlSubjectType").removeClass("errorboxshadow");
        $("#DdlSubject").removeClass("errorboxshadow");


        var SubjectId = $("#DdlSubject").val();
        var DdlSubjectType = $("#DdlSubjectType").val();
        var DdlClass = $("#DdlClass").val();
        var DdlDepartment = $("#DdlDepartment").val();
        var count = 0;

        if (DdlDepartment === "") {
            $("#DdlDepartment_ErrorSpan").text('Department is Required');
            $("#DdlDepartment").addClass("errorboxshadow");
            count++;
        }
        if (DdlClass === "") {
            $("#DdlClass_ErrorSpan").text('Class is Required');
            $("#DdlClass").addClass("errorboxshadow");
            count++;
        }
        if (DdlSubjectType === "") {
            $("#DdlSubjectType_ErrorSpan").text("Subject type is Required");
            $("#DdlSubjectType").addClass("errorboxshadow");
            count++;
        }
        if (SubjectId === "" || SubjectId === null) {
            $("#DdlSubject_ErrorSpan").text("Subject is Required");
            $("#DdlSubject").addClass("errorboxshadow");
            count++;
        }
        if (count > 0) {
            return;
        } else {
            TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblUserDetailsList', 'TblUser', 'Counts', 'FmUsersSearchForMBA', 'Div_TblUser', '', []);
            $("#chkSelectAll").prop('checked', false);
            $("#BtnSave").prop('disabled', false);
        }
    })




    //=---------------------This is For Submit
    $(document).on("click", '#BtnSave', function (event) {
        try {
            event.preventDefault();
            //event.stopImmediatePropagation();


            var SubjectId = $("#DdlSubject").val();

            var ButtonName = $(this).val();
            debugger;
            $(".ErrorMessageSpan").empty();
            var formData = new FormData($("#FmUsersSearchForMBA")[0]);

            $("#loadingOverlay").show();
            // var Subjectname = $("#Subjectname").val();
            var UsersTable = $("#TblUser tbody tr");
            var Usercheckbox;
            var UsersTableCheckBoxcount = 0;
            var shouldExit = false;
            //this for check a record
            UsersTable.each(function (index) {
                Usercheckbox = $(this).find("td input[type='checkbox']#chkSMS");
                if (Usercheckbox.is(":checked")) { //if check box is checked then it is TRUE
                    var Userid = Usercheckbox.val();
                    var isAssociated = Usercheckbox.attr('class');
                    if (isAssociated != SubjectId && isAssociated != undefined) {
                        UsersTableCheckBoxcount = 0;
                        shouldExit = true;
                        return false;
                    }
                    formData.append("UserIdList", parseInt(Userid) || 0);
                    UsersTableCheckBoxcount++;
                }
            });
            if (shouldExit) {
                $("#Main_Span_Error").text("Subjects overlapping.");
                window.scrollTo(0, 0);
                $("#loadingOverlay").hide();
                return;
            }
            else if (UsersTableCheckBoxcount < 1) {
                $("#Main_Span_Error").text("Select At Least 1 user");
                window.scrollTo(0, 0);
                $("#loadingOverlay").hide();
                return;
            }
            //177947,28728
            var UnselectedUserIDs_Checkboxes = $(UsersTable).find('td:nth-child(2) input[name="selectedUsers"]:not(:checked)');
            var UserIds = UnselectedUserIDs_Checkboxes.map(function () {
                return $(this).val();
            }).get().join(',');
            formData.append("UserIdString", UserIds);

            performCrudOperationCommonFunction('POST', "/Examination/ManageSubjectAssociationForMBA?ButtonName=" + ButtonName, formData, function (response) {
                debugger;
                var SubjectText = "";
                if (response.message == "Record inserted successfully.") {
                    $("#BtnSave").prop('disabled', true);
                }
                if (response.message == "Users Cannot be De-associated either Attendance / Result has been Posted for the subject") {
                    SubjectText = $("#DdlSubject option:selected").text();

                }
                $("#Main_Span_Error").text(response.message + SubjectText);
                $("#loadingOverlay").hide();
                window.scrollTo(0, 0);
            }, function (error) {
                $("#loadingOverlay").hide();
                $("#Main_Span_Error").text("Something Error");
            }, true);
        } catch (e) {
            $("#loadingOverlay").hide();
            $("#Main_Span_Error").text("Something Error");
        }
    });
</script>








