
@model Connect4m_Web.Models.SubjectModel
@{
    ViewData["Title"] = "ManageSubjectAssociationForMBA";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">

        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE SUBJECTS ASSOCIATION</h4>

        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*=============================Search Page============================*@
                <span class="ErrorMessageSpan text-danger" id="Main_Span_Error"></span>
                <div class="card mb-4" id="Searchpage">

                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                ASSOCIATE SUBJECTS TO STUDENTS
                            </span>
                        </h5>
                    </div>

                    <div class="card-body">
                        <form id="FmUsersSearchForMBA" class="needs-validation was-validated" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col">

                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Department</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select id='DdlDepartment' asp-for="InstanceClassificationId" name="InstanceClassificationId" class="select2 form-select select2-hidden-accessible" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)" asp-items="@(new SelectList(""))" required>
                                                    <option value=''>Select a Department</option>
                                                </select>
                                                @*<span class="ErrorMessageSpan text-danger" id="DdlDepartment_ErrorSpan"></span>*@
                                                <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Class</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select id='DdlClass' asp-for="InstanceSubClassificationId" name="InstanceSubClassificationId" class="select2 form-select select2-hidden-accessible" onchange="ClassOnchange()" asp-items="@(new SelectList(""))" disabled required>
                                                    <option value=''>Please select a Class</option>
                                                </select>
                                                @*<span class="ErrorMessageSpan text-danger" id="DdlClass_ErrorSpan"></span>*@
                                                <span asp-validation-for="InstanceSubClassificationId" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Subjects Type</label>

                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select id='DdlSubjectType' asp-for="SubjectTypeId1" name="SubjectTypeId1" class="select2 form-select select2-hidden-accessible" onchange="CommonDropdownFunction('POST', '/Examination/SubjectNamesDropdown_Calingfunction', 'DdlSubject', '------Select------', true,'FmUsersSearchForMBA')" asp-items="@(new SelectList(""))" required>
                                                    <option value=''>------Select------</option>
                                                </select>

                                                @*<span class="ErrorMessageSpan text-danger" id="DdlSubjectType_ErrorSpan"></span>*@
                                                <span asp-validation-for="SubjectTypeId1" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Subjects</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select id='DdlSubject' asp-for="InstanceSubjectId" name="InstanceSubjectId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))" disabled required>
                                                    <option value=''>------Select------</option>
                                                </select>

                                                @*<span class="ErrorMessageSpan text-danger" id="DdlSubject_ErrorSpan"></span>*@
                                                <span asp-validation-for="InstanceSubjectId" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="ClearFunction()" id="BtnClear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearch">Search</button>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>


                @*===============================searched result table======================*@
            <div id="Div_TblUser" style="display:none">
                <div class="form-check">
                    <input id="chkSelectAll" class="form-check-input" type="checkbox" onclick="SelectAllCheckBoxes(this)">

                    <label class="form-check-label" for="chkSelectAll">Check All</label>
                </div>
                <div class="card" id="SearchedTablePage">
                    <div class="card-datatable table-responsive pt-0">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <div class="card-header flex-column flex-md-row">
                                <div class="head-label text-center">
                                    <h5 class="card-title mb-0">
                                        <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                    </h5>
                                </div>
                            </div>
                            <form id="Fm_TblUser">
                                <table id="TblUser" class="datatables-basic table dataTable no-footer dtr-column">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Select User</th>
                                            <th>Registration Number</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                                <div class="row justify-content-end">
                                    <div class="col-sm-7">
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSave" value="Save">Save</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/GeneralFunctions.js"></script>
<link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function () {
        loaddingimg.css('display', 'block');
        //  TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblBulkUploadSubjectsList", 'TblBulkUploadSubjectsList', 'Counts', 'FmSubjectSearch', 'Div_TblBulkUploadSubjectsList', '', []);
        CommonDropdownFunction("GET", "/Attendance/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)
        CommonDropdownFunction("GET", "/Examination/SubjectTypesDropdown_Calingfunction", "DdlSubjectType", "------Select------", false)
        loaddingimg.css('display', 'none');
    });
    var js = jQuery.noConflict(true);


    //this for clear a subject dropdowns
    function ClassOnchange() {
        $("#DdlSubject").empty();
        $('#DdlSubjectType option:first').prop("selected", true);
    }

    function ClearFunction() {
        $(".ErrorMessageSpan").empty();
        $("#Div_TblUser").hide();
        $("#TblUser tbody").empty();
    }

    //================================Search Records=====================
    $("#FmUsersSearchForMBA").submit(function (event) {
        try {
            //debugger;
            event.preventDefault();
            loaddingimg.css('display', 'block');
            $(".ErrorMessageSpan").empty();
            var formElement = document.getElementById('FmUsersSearchForMBA');
            setTimeout(function () {
                var validationMessages = formElement.getElementsByClassName('field-validation-error');
                // var validationMessages2 = formElement.getElementsByClassName('error2');
                var validationmelength = validationMessages.length;
                if (validationmelength == 0) {
                    TblDataTableWithColumns_CallingFunction(event, 'NoStop', '/Examination/TblUserDetailsList', 'TblUser', 'Counts', 'FmUsersSearchForMBA', 'Div_TblUser', '', [], false);
                    $("#BtnSave").prop("disabled", false);
                    $("#chkSelectAll").prop('checked', false);
                } else {
                    loaddingimg.css('display', 'none');
                    $('.alert-danger p').text("Pleae Enter All Required Fields");
                    $(".alert-danger").show().delay(5000).fadeOut();

                }
            }, 50);
        } catch (e) {
            $("#Main_Span_Error").text("Something Error");
            loaddingimg.css('display', 'none');
        }
       
    })



      //================================= This is For Submit ===============
    $(document).on("click", '#BtnSave', function (event) {
        try {
            event.preventDefault();
            //event.stopImmediatePropagation();
            loaddingimg.css('display', 'block');

            var SubjectId = $("#DdlSubject").val();

            var ButtonName = $(this).val();
            debugger;
            $(".ErrorMessageSpan").empty();
            var formData = new FormData($("#FmUsersSearchForMBA")[0]);

            // var Subjectname = $("#Subjectname").val();
            var UsersTable = $("#TblUser tbody tr");
            var Usercheckbox;
            var UsersTableCheckBoxcount = 0;
            var shouldExit = false;
            var Userid; var isAssociated;
            //this for check a record
            UsersTable.each(function () {
                Usercheckbox = $(this).find("td input[type='checkbox']#chkSMS");
                if (Usercheckbox.is(":checked")) { //if check box is checked then it is TRUE
                    Userid = Usercheckbox.val();
                    //var isAssociated = Usercheckbox.attr('class');
                    isAssociated = Usercheckbox.data("instancesubjectid");
                    if (isAssociated != SubjectId && isAssociated != undefined) {
                        UsersTableCheckBoxcount = 0;
                        shouldExit = true;
                        return false;
                    }
                    formData.append("UserIdList", parseInt(Userid) || 0);
                    UsersTableCheckBoxcount++;
                }
            });
            if (shouldExit) {
                $("#Main_Span_Error").text("Subjects overlapping.");
                window.scrollTo(0, 0);
                loaddingimg.css('display', 'none');
                return;
            }
            else if (UsersTableCheckBoxcount < 1) {
                $("#Main_Span_Error").text("Select At Least 1 user");
                window.scrollTo(0, 0);
                loaddingimg.css('display', 'none');
                return;
            }
            //177947,28728
            var UnselectedUserIDs_Checkboxes = $(UsersTable).find('td:nth-child(2) input[name="selectedUsers"]:not(:checked)');
            var UserIds = UnselectedUserIDs_Checkboxes.map(function () {
                return $(this).val();
            }).get().join(',');
            formData.append("UserIdString", UserIds);

            performCrudOperationCommonFunction('POST', "/Examination/ManageSubjectAssociationForMBA?ButtonName=" + ButtonName, formData, function (response) {
                debugger;
                var SubjectText = "";
                if (response.message == "Record inserted successfully.") {
                    $("#BtnSave").prop('disabled', true);
                    $('.alert-success p').text(response.message);
                    $(".alert-success").show().delay(5000).fadeOut()
                }
                if (response.message == "Users Cannot be De-associated either Attendance / Result has been Posted for the subject") {
                    SubjectText = $("#DdlSubject option:selected").text();

                }
                //$('.alert-danger p').text(response.message);
                //$(".alert-danger").show().delay(6000).fadeOut()
                $("#Main_Span_Error").text(response.message + SubjectText);
                loaddingimg.css('display', 'none');
                window.scrollTo(0, 0);
            }, function (error) {
                loaddingimg.css('display', 'none');
                $("#Main_Span_Error").text("Something Error");
            }, true);
        } catch (e) {
            loaddingimg.css('display', 'none');
            $("#Main_Span_Error").text("Something Error");
        }
    });
</script>








