@model Connect4m_Web.Models.ExaminationModel
@{
    ViewData["Title"] = "ManageExams";
}

<!DOCTYPE html>
<html>
<head>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            //  loaddingimg.css('display', 'none');
            TblDataTableWithColumns_CallingFunction(event, 'Stop', "/Examination/TblExamListData", 'TblExamListData', 'Counts', 'FmExamsSearch', 'Div_TblExamListData', 'Exams', [0, 1, 2, 3]);
        });

        var js = jQuery.noConflict(true);

        function EditValuesGettingFunction(examid) {
            debugger;
            // $("#loadingOverlay").show();
            //  var data = { Id: examid };
            CreateNewExams();
            var url = "/Examination/TblExamListData?Id=" + examid;
            performCrudOperationCommonFunction("POST", url, null, function (responce) {
                debugger;
                $("#AddNewText_Span_CreatePage").text("UPDATE EXAM NAME");
                $("#DdlAcademicYearCreatePage1").val(responce[0].academicYearId);
                $("#TxtExamNameCreatePage1").val(responce[0].examName);
                $("#TxtDisplayorderCreatePage").val(responce[0].displayorder);
                $("#TxtExamidCreatePage").val(responce[0].id);

                $('input[name="ExamForAcademics"][value="' + responce[0].exaternalExam + '"]').prop("checked", true);
               // $("#BtnSave").val("Update");
                $("#BtnSave").attr("value", "Update");
                $("#BtnSave").text("Update");

                $("#BtnClear").prop("disabled", true);
            });
            // $("#loadingOverlay").hide();
        }

        function SaveExams(event, FormId) {
            try {
                event.preventDefault();
                debugger;
                $(".ErrorMessageSpan").empty();
                var DdlAcademicYearCreatePage = $("#DdlAcademicYearCreatePage1").val();
                var TxtExamNameCreatePage = $("#TxtExamNameCreatePage1").val();
                var TxtExamNameCreatePage1 = $("#TxtExamNameCreatePage").val();
                if (DdlAcademicYearCreatePage === '' || TxtExamNameCreatePage === '' || $("input[type='radio'].check").is(':checked') == false) {
                    $("#Main_Span_Error").text('Following fields have invalid data :');
                    window.scrollTo(0, 0);
                    if (DdlAcademicYearCreatePage === '') {
                        $("#DdlAcademicYearCreatePage").text("Academic Year");
                    }
                    if (TxtExamNameCreatePage === '') {
                        $("#TxtExamNameCreatePage").text("Exam Name");
                    }
                    if ($("input[type='radio'].check").is(":checked") == false) {
                        $("#RdoExamFor").text("Exam For");
                    }
                    return;
                }
                $("#loadingOverlay").show();
                var data = new FormData($("#" + FormId)[0]);
                performCrudOperationCommonFunction("POST", "/Examination/ManageExams", data, function (responce) {
                    debugger;
                    if (responce.message == "Record inserted successfully." || responce.message == "Record updated successfully.") {
                        $("#BtnSave").prop('disabled', true);
                    }
                    $("#Main_Span_Error").text(responce.message);
                }, function (error) {
                    $("#Main_Span_Error").text("Something Error");
                }, true);
                $("#loadingOverlay").hide();
            } catch (e) {
                $("#Main_Span_Error").text("Something Error");
            }
        }
        //create new page function
        function CreateNewExams() {
            debugger;
            performCrudOperationCommonFunction("POST", "/Examination/Create_Update_Pview_ManageExams", "FmExamsSearch", function (response) {
                debugger;
                $("#MainSearchPage").hide();
                $("#CreateNewExams").html(response);
            }, function (error) {
                //console.error(error);
            });
        }

        function BackTOSearhExams(event) {
            try {
                $("#loadingOverlay").show();
                TblDataTableWithColumns_CallingFunction(event, 'NoStop', "/Examination/TblExamListData", 'TblExamListData', 'Counts', 'FmExamsSearch', 'Div_TblExamListData', 'Exams', [0, 1, 2, 3]);
                $("#MainSearchPage").show();
                $("#CreateNewExams").empty();
                $(".ErrorMessageSpan").empty();
                $("#loadingOverlay").hide();
            } catch (x) {
                $("#loadingOverlay").hide();
                $("#Main_Span_Error").text("Something Error");
            }
        }

        function DeleteExamsById(Examid) {
            debugger;
            var Deletemsg = "Exam";
            CommonDeleteFunction_Vs1(Deletemsg,"POST", "/Examination/ManageExams?ButtonName=Delete&DeleteID=" + Examid,  function (response) {

                    TblDataTableWithColumns_CallingFunction(event, 'NOStop', "/Examination/TblExamListData", 'TblExamListData', 'Counts', 'FmExamsSearch', 'Div_TblExamListData', 'Exams', [0, 1, 2, 3]);
              

            });
        }
    </script>

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span>MANAGE EXAMS</h4>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">

                 @*<a id="BtnCreateNewExams" class="BTNCreateNew Undeline ClsCreateNewLink" style="display:block" onclick="CreateNewExams()">Create Exam</a>*@
                 <button id="BtnCreateNewExams" class="btn rounded-pill btn-outline-dark waves-effect" style="display:block" onclick="CreateNewExams()">Create Exam</button>
                <span class="ErrorMessageSpan text-danger" id="Main_Span_Error"></span>
                <span class="ErrorMessageSpan text-danger" id="DdlAcademicYearCreatePage"></span>
                <span class="ErrorMessageSpan text-danger" id="TxtExamNameCreatePage"></span>
                <span class="ErrorMessageSpan text-danger" id="RdoExamFor"></span>

                <div id="MainSearchPage">
                    @*==========================search result Card====================*@
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                <span>
                                    SEARCH EXAMS
                                </span>
                            </h5>
                        </div>

                        <div class="card-body">

                            <form id="FmExamsSearch" class="needs-validation was-validated" novalidate>
                                <div class="row">
                                    <div class="col">
                                        <div class=" row mb-3">
                                            <label class="col-sm-2 col-form-label  text-end" for="basic-default-name">Academic Year :&nbsp;</label>
                                            <div class="col-sm-4">
                                                <div class="position-relative">
                                                    <select id='DdlAcademicYear' name="AcademicYearId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                                        <option value=''>---------Select--------</option>
                                                        <option value="1737">2016-2017</option>
                                                        <option value="1203">2015-2016</option>
                                                        <option value="761">2014-2015</option>
                                                        <option value="655">2013-2014</option>
                                                        <option value="534">2011-2012</option>
                                                        <option value="688">2009-2010</option>
                                                        <option value="689">2008-2009</option>
                                                        <option value="690">2007-2008</option>
                                                        <option value="694">2006-2007</option>
                                                        <option value="691">2005-2006</option>
                                                        <option value="692">2004-2005</option>
                                                        <option value="693">2003-2004</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-2 col-form-label  text-end" for="basic-default-name">Exam Name </label>
                                            <div class="col-sm-4">
                                                <input type="text" name="ExamName" id="TxtExamName" class="form-control" placeholder="Exam Name">
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-sm-12">
                                                <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="CommonClearFunction('FmExamsSearch')">Clear</button>
                                                <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="TblDataTableWithColumns_CallingFunction(event, 'NOStop', '/Examination/TblExamListData', 'TblExamListData', 'Counts', 'FmExamsSearch', 'Div_TblExamListData', 'Exams', [0,1,2,3]);">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                    @*========================== Searched result table Card====================*@
                    <div id="Div_TblExamListData" style="display:none">
                        @*<div  id="MainSearchPage6">*@
                        <div class="card" id="SearchedTablePage">
                            <div class="card-datatable table-responsive pt-0">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="card-header flex-column flex-md-row">
                                        <div class="head-label text-center">
                                            <h5 class="card-title mb-0">
                                                <span>YOUR SEARCH RESULTED &nbsp;<span id="Counts" class="badge badge-center rounded-pill bg-primary bg-glow">0</span>  RECORD(S).</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <form id="Fm_TblExamListData">
                                        <table id="TblExamListData" class="datatables-basic table dataTable no-footer dtr-column link">
                                            <thead class="table-dark">
                                                <tr><th>S NO</th>
                                                    <th>Exam Name</th>
                                                    <th>
                                                        Display Order
                                                    </th>
                                                    <th>
                                                        Academic Year
                                                    </th>
                                                    <th>External Exam</th>
                                                    <th style="text-align:center">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>

                                    </form>

                                </div>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>

                @*================================ create page Card==============================*@

                <div id="CreateNewExams">

                </div>

            </div>
        </div>
    </div>
</body>
</html>


