@model Connect4m_Web.Models.Attendenceproperites.ChallandetailsTermwise

@{
    ViewData["Title"] = "FeeChallanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!DOCTYPE html>
<html>
<head>

    <link href="~/css/ViewallChallandetailsTermwise.css" rel="stylesheet" />
</head>
<body>
    <div class="card">
        <div class="spinner-container" id="loadingSpinnerContainer">
            <div class="overlay">
                <div id="loadingSpinner">
                    <div class="spinner"></div>
                    <div class="spinner"></div>
                    <div class="spinner"></div>
                </div>
                <div class="loading-text">Loading....</div>
            </div>
        </div>



        <div class="card-header pb-0">
            <div style=" font-size: 50px; text-align: center;">
                <h1 style=" color: black; font-weight: 700; font-size: 19px; margin-top: -13px; ">FEE CHALLAN DETAILS</h1>
            </div>
        </div>
        <div id="validation2" style=" color: red; margin-left: 10px; font-family: none;"></div>
        <div id="validationMessage" style=" color: red; margin-left: 5px; font-family: none;"></div>
        <div id="Search_Pay_For_UsersFileds_Divid" class="card-body">
            <div class="default-according style-1" id="accordionoc">
                <div class="card">
                    <div>
                        <h5 class="mb-0">
                            <button class="collapsed Headers_Btn" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11" style="width:99%;"> <span class="Header_text_span"> SEARCH USERS</span></button>
                        </h5>
                    </div>
                    <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">
                        <div class="card-body" style=" border-bottom-color: aquamarine;">
                            <form asp-controller="FeeSection" asp-action="ViewallChallandetailsTermwise_Tabledata" method="post" id="searchForm">

                              
                                <div class="row">
                                    <div class="row">

                                        <div class="col-6" style=" height: 39px;">
                                            <label class="form-group" style=" margin: 0px 0px 0px 67px;">First Name :</label>
                                            <input type="text" />
                                        </div>
                                        <div class="col-6">
                                            <label class="form-group">Last Name :</label>
                                            <input type="text" />
                                        </div>
                                        <div class="col-6">
                                            <label class="form-group" style=" margin: 0px 0px 0px 69px;">Student Id  :</label>
                                            <input type="text" />
                                        </div>
                                        <div class="checkbox checkbox-success col-6">
                                            <input id="checkbox-primary" type="checkbox">
                                            <label for="checkbox-primary">Only Dues</label>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-group" style=" margin: 0px 0px 0px 107px;">Class :</label>
                                            <select>
                                                <option selected="selected" value="0">---------Select---------</option>
                                                <option value="38743">CHIS_Year-1</option>
                                                <option value="1171">I - A</option>
                                                <option value="1172">II - A</option>
                                                <option value="1173">III - A</option>
                                                <option value="1174">IV - A</option>
                                                <option value="1175">V - A</option>
                                                <option value="1176">VI - A</option>
                                                <option value="1177">VII - A</option>
                                                <option value="38580">XII - B</option>
                                                <option value="1178">VIII - A</option>
                                                <option value="1179">IX - A</option>
                                                <option value="1180">X - A</option>
                                                <option value="29131">X - B</option>
                                                <option value="29132">X - C</option>
                                                <option value="4190">XI - A</option>
                                                <option value="29133">XII - A</option>
                                                <option value="29134">XI - C</option>
                                                <option value="29135">XI - 2014-2015 Passed out</option>
                                                <option value="1434">NonTeaching-Staff</option>
                                                <option value="1433">Office Staff</option>
                                                <option value="1432">Teaching(Staff)</option>
                                                <option value="1435">CCA Teachers</option>
                                                <option value="37785">KG 1</option>
                                                <option value="37786">KG 2</option>
                                                <option value="37787">Class 1</option>
                                                <option value="37796">Class 10</option>
                                                <option value="37797">Class 11</option>
                                                <option value="37798">Class 12</option>
                                                <option value="37788">Class 2</option>
                                                <option value="37789">Class 3</option>
                                                <option value="37790">Class 4</option>
                                                <option value="37791">Class 5</option>
                                                <option value="37792">Class 6</option>
                                                <option value="37793">Class 7</option>
                                                <option value="37794">Class 8</option>
                                                <option value="37795">Class 9</option>
                                                <option value="38747">Level-1</option>
                                                <option value="38748">Level-2</option>
                                                <option value="38749">Level-3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="text-align:center;">
                                        <input type="button" value="Clear" class="btn btn-outline-secondary" />
                                        <input type="submit" value="Search" class="btn btn-outline-success" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ViewallChallandetailsTermwise_Tabledata_PartialViewContainer">

    </div>

</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $('#loadingSpinnerContainer').hide();

        $('#searchForm').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way
            $('#loadingSpinnerContainer').show();
            debugger;
            $.ajax({
                url: $(this).attr('action'), // Get the action URL from the form
                type: $(this).attr('method'), // Get the form's method (POST)
                data: $(this).serialize(), // Serialize the form data
                success: function (response) {
                    // Append the partial view content to the container
                    $('#loadingSpinnerContainer').hide();
                    $('#ViewallChallandetailsTermwise_Tabledata_PartialViewContainer').append(response);
                }
            });
        });
    });
</script>