@model Connect4m_Web.Models.Attendenceproperites.New_GenerateFeeReceipt

@{
    //ViewData["Title"] = "GenerateFeeReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    @*<link href="~/css/GenarateFeeChallana.css" rel="stylesheet" />
        <style>



            .form-group {
                margin-bottom: 0px;
            }
            /*table Styles Code Starting */

            /*table Styles Code End */

            input[type="checkbox"] {
                border: 2px solid #ccc;
                border-radius: 5px;
            }

                /* Styling the checked checkbox */
                input[type="checkbox"]:checked {
                    /* Add any styles you want for the checked checkbox */
                    border: 2px solid #008000; /* Example border style for the checked checkbox */
                    background-color: #008000; /* Example background color for the checked checkbox */
                    color: #fff; /* Example text color for the checked checkbox */
                }
        </style>*@
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">FeeSection /</span>GENERATE FEE CHALLAN </h4>
        <span id="Errormessage" class="text-danger"></span>


        <div class="row mb-2" id="FeeTypesDiscountTbl_Divid">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            SEARCH USERS
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" id="searchFormContainer">
                                <form id="Generatefeereceiptform">
                                    @*searchForm*@
                                    <div class="row mb-3">
                                        <label asp-for="InstanceClassificationId" class="control-label col-sm-2 col-form-label text-end required space">Department </label>
                                        <div class="col-sm-4">
                                            <select class="select2 form-select select2-hidden-accessible" id="DdlDepartment" asp-for="InstanceClassificationId" onchange="CommonDropdownFunction('GET', '/Attendance/DdlClassId_Calingfunction?InstanceClassificationId=' + this.value, 'DdlClass', 'Please select a Class', true)">
                                            </select>
                                            <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>
                                        </div>
                                        <label asp-for="InstanceSubClassificationId" class="control-label col-sm-2 col-form-label text-end required space">Class</label>
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <select class="select2 form-select select2-hidden-accessible" id="DdlClass" asp-for="InstanceSubClassificationId">
                                                </select>
                                                <span asp-validation-for="InstanceSubClassificationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12">
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="CommonClearFunction('Generatefeereceiptform')" id="BtnClear">Clear</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light" id="Searchbtn">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="Userdetailstablediv">
            @*User_Tbl_data*@
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <input type="checkbox" class="form-check-input checkbox_animated" id="CheckAll_UserIds">
                        <label class="form-check-label " for="CheckAll_UserIds" id="CheckAll_UserIds">Check All</label>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                YOUR SEARCH RESULTED  :<span id="TableCount" class="TableCount_SpId"></span> RECORDS.
                            </span>
                        </h5>
                    </div>
                    <div class="card-body" id="FeeRecipt_Table">
                        <table class="table table-bordered" id="FeeRecipttable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Select</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                        <div id="ManageBankAccounts_pagination"></div>
                    </div>

                </div>
            </div>
        </div>


        @*Table Html And Table Data Bind Code End*@

        <div id="Feetermdetailsdiv">
            @*FEE_TERM_DETAILS_DIVID*@
        <div class="row mb-2" id="FeeTypesDiscountTbl_Divid">
            <div class="col-md-12 col-lg-12 mb-3">
                <span class="text-danger" id="ErrorMessageChallana_SpanId"></span>
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            FEE TERM DETAILS
                        </h5><small class="text-muted float-end">* INDICATES MANDATORY FIELD</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form class="form" id="feeChallanForm">
                                    @*GenerateFeeReceipt_New_Users_Challan_Result_Tbl*@
                                <div class="row mb-3">
                                    <label asp-for="FeeTermId" class="control-label col-sm-4 col-form-label text-end required space">Fee Terms </label>
                                    <div class="col-sm-4">
                                        <select multiple class="select2 form-select select2-hidden-accessible" id="Ddlfeetermid" asp-for="FeeTermId">
                                        </select>@*FeeTermId_DD*@
                                        <span asp-validation-for="FeeTermId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="FeeTypeIds" class="control-label col-sm-4 col-form-label text-end required space">Fee Types </label>
                                    <div class="col-sm-4">
                                        <select multiple class="select2 form-select select2-hidden-accessible" id="Ddlfeetype" asp-for="FeeTypeIds">
                                        </select>@*FeeTypeId_DD*@
                                        <span asp-validation-for="FeeTypeIds" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="ReceiptCreatedDate" class="control-label col-sm-4 col-form-label text-end required space">Receipt Created Date </label>
                                    <div class="col-sm-4">
                                        <input type="date" id="Receiptcreateddatetxtid" asp-for="ReceiptCreatedDate" class="form-control">
                                        <span asp-validation-for="ReceiptCreatedDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row justify-content text-center">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="btn">Generate Fee Challan for Selected Students</button>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="row" style=" margin-left: 92px;">
                                            <div style="padding: 0px; text-align: end; margin-top: 5px;" class="form-group col-3">
                                                <label class="control-label lbl"><font style="color: red; font-size: 13px;">*</font> Fee Terms: </label>
                                            </div>
                                            <div class="form-group col-8">
                                                <select asp-for="FeeTermId" id="FeeTermId_DD" class="MultipuleDropdown" multiple>
                                                </select>
                                            </div>
                                            <div style="padding: 0px; text-align: end; margin-top: 5px;" class="form-group col-3">
                                                <label class="control-label lbl" style=" height: 30px;"><font style="color: red; font-size: 13px;">*</font> Fee Types: </label>
                                            </div>
                                            <div class="form-group col-8">
                                                <select asp-for="FeeTypeIds" id="FeeTypeId_DD" class="MultipuleDropdown" multiple>
                                                </select>
                                            </div>
                                            <div style="padding: 0px; text-align: end; margin-top: 5px;" class="form-group col-3">
                                                <label class="control-label lbl" style=" height: 30px;"><font style="color: red; font-size: 13px;">*</font> Receipt Created Date: </label>
                                            </div>
                                            <div class="form-group col-8">
                                                <input type="date" id="Receipt_Created_Date" style="margin-top: 3px; border-radius: 4px; border: 1px solid; width: 36%;" />
                                            </div>
                                        </div>
                                        <div style="margin-left: 27%;">
                                            <input type="submit" value="Generate Fee Challan for Selected Students." class="GFCSS_Btn btn btn-pill btn-outline-primary-2x " />
                                        </div>
                                    </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 mb-3" id="Challana_Usersdivid">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">
                <span>
                    @*YOUR SEARCH RESULTED  :<span id="TableCount" class="TableCount_SpId"></span> RECORDS.*@
                    YOUR SEARCH RESULTED <span id="Challan_Count_SPID" class="TableCount_SpId"></span> RECORDS.
                </span>
            </h5>
        </div>
        <div class="card-body" id="FeeRecipt_Table">
            <table class="table table-bordered" id="Challan_CreatedUserS_Tbl">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Fee Term</th>
                        <th>Fee Type</th>
                        <th>Fee Amount</th>
                        <th>Challan No</th>
                    </tr>
                </thead>
                <tbody id="Challan_CreatedUserS_TblBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/Feereceiptgenerate.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>


    $(document).ready(function () {
        debugger;
        // CommonDropdownFunction("GET", "/AttendanceController/DepartmentsDropdown_Caliingfunction", "DdlDepartment", "Select a Department", false)
        //debugger;
        //$('#Userdetailstablediv').hide();
        //$('#Feetermdetailsdiv').hide();
        //$('#Challana_Usersdivid').hide();

    });

    //$('#Clear_Btn').click(function () {

    //    $('#ErrorMessage_SpanId1').text('');
    //    $('#MessageID').text('');
    //    $('#validationMessage').text('');
    //    $('#validation2').text('');
    //    /*location.reload();*/


    //});



    /*----Fee Terms DROPDOWN FUNCTION CODE START---*/

    //function FeeTerms_dropdown_Function() {

    //    /*  debugger;*/
    //    var dropdown = document.getElementById("Ddlfeetermid");

    //    // Clear existing options
    //    dropdown.innerHTML = "";
    //    /*debugger;*/
    //    // Get the InstanceId value from the hidden input field
    //    const instanceId = document.getElementById("InstanceId_DD").value;

    //    // Construct the fetch URL with the InstanceId as a query parameter
    //    const fetchURL = `/FeeSection/GenerateFeeReceipt_New_FeeTerms_DD?InstanceId=${instanceId}`;

    //    fetch(fetchURL)
    //        .then(response => {
    //            if (!response.ok) {
    //                throw new Error("Request failed with status " + response.status);
    //            }
    //            return response.text();
    //        })
    //        .then(responseText => {
    //            /* debugger;*/
    //            const data = JSON.parse(responseText); // Parse the response

    //            // Get the dropdown element
    //            const dropdown = document.getElementById("Ddlfeetermid");

    //            // Clear existing options
    //            dropdown.innerHTML = "";

    //            // Create the "--select--" option
    //            const selectOption = document.createElement("option");
    //            selectOption.value = ""; // Set the value to an empty string or any other appropriate value
    //            selectOption.textContent = "-----Select------"; // Set the display text for the option
    //            dropdown.appendChild(selectOption);

    //            // Iterate through each item in the data
    //            for (let i = 0; i < data.length; i++) {
    //                const item = data[i];
    //                const option = document.createElement("option");
    //                option.value = item.value;
    //                option.textContent = item.text;
    //                dropdown.appendChild(option);
    //            }
    //        })

    //        .catch(error => {
    //            console.error("Error:", error);
    //        });
    //}

    /* window.addEventListener('load', FeeTerms_dropdown_Function);*/

    /*----Fee Terms DROPDOWN FUNCTION CODE END---*/



    /*--------FeeType DROPDOWN GET BY FeeTerm  dropdown CODE START -----------*/

    function sendFeeType_BY_FeeTermSelectedValue() {
        /*debugger;*/
        var InstanceClassificationdropdownValue = document.getElementById("Ddlfeetermid");
        var selecteValue = InstanceClassificationdropdownValue.value;
        const instanceId = document.getElementById("InstanceId_DD").value;

        fetch("/FeeSection/GenerateFeeReceipt_New_FeeType_DD?InstanceId=" + instanceId + "&FeeTermIds=" + selecteValue)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Request failed with status " + response.status);
                }
                return response.text();
            })
            .then(responseText => {
                /*  debugger;*/
                const data = JSON.parse(responseText); // Parse the response

                // Get the dropdown element
                const dropdown_DD = document.getElementById("Ddlfeetype");

                // Clear existing options
                dropdown_DD.innerHTML = "";

                // Create the  option
                const selectOption = document.createElement("option");
                selectOption.value = "";
                selectOption.textContent = "---------Select-----------";
                dropdown_DD.appendChild(selectOption);

                // Iterate through each item in the data
                for (let i = 0; i < data.length; i++) {
                    const item = data[i];
                    const option = document.createElement("option");
                    option.value = item.value;
                    option.textContent = item.text;
                    dropdown_DD.appendChild(option);
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

    // Attach the event listener to the dropdown
    var dropdown = document.getElementById("Ddlfeetermid");
    //dropdown.addEventListener("change", sendFeeType_BY_FeeTermSelectedValue);

    /*--------FeeType DROPDOWN GET BY FeeTerm dropdown  CODE  END-----------*/










    /*----ROLE DROPDOWN FUNCTION CODE START---*/

    function Role_dropdown_Function() {

        /*  debugger;*/
        var dropdown = document.getElementById("InstanceClassificationId_DD");

        // Clear existing options
        dropdown.innerHTML = "";
        /* debugger;*/
        // Get the InstanceId value from the hidden input field
        const instanceId = document.getElementById("InstanceId_DD").value;

        // Construct the fetch URL with the InstanceId as a query parameter
        const fetchURL = `/FeeSection/GenerateFeeReceipt_New_Classification_DD?InstanceId=${instanceId}`;

        fetch(fetchURL)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Request failed with status " + response.status);
                }
                return response.text();
            })
            .then(responseText => {
                /* debugger;*/
                const data = JSON.parse(responseText); // Parse the response

                // Get the dropdown element
                const dropdown = document.getElementById("InstanceClassificationId_DD");

                // Clear existing options
                dropdown.innerHTML = "";

                // Create the "--select--" option
                const selectOption = document.createElement("option");
                selectOption.value = ""; // Set the value to an empty string or any other appropriate value
                selectOption.textContent = "-----Select------"; // Set the display text for the option
                dropdown.appendChild(selectOption);

                // Iterate through each item in the data
                for (let i = 0; i < data.length; i++) {
                    const item = data[i];
                    const option = document.createElement("option");
                    option.value = item.value;
                    option.textContent = item.text;
                    dropdown.appendChild(option);
                }
            })

            .catch(error => {
                console.error("Error:", error);
            });
    }

    window.addEventListener('load', Role_dropdown_Function);

    /*----ROLE DROPDOWN FUNCTION CODE END---*/



    /*--------Department DROPDOWN GET BY Class dropdown CODE START -----------*/

    //function sendDepartment_BY_ClassSelectedValue() {
    //    /* debugger;*/
    //    var InstanceClassificationdropdownValue = document.getElementById("InstanceClassificationId_DD");
    //    var INCselectedValue = InstanceClassificationdropdownValue.value;
    //    const instanceId = document.getElementById("InstanceId_DD").value;

    //    fetch("/FeeSection/GenerateFeeReceipt_New_Class_DD?InstanceClassificationId=" + INCselectedValue + "&instanceId=" + instanceId)
    //        .then(response => {
    //            if (!response.ok) {
    //                throw new Error("Request failed with status " + response.status);
    //            }
    //            return response.text();
    //        })
    //        .then(responseText => {
    //            /*  debugger;*/
    //            const data = JSON.parse(responseText); // Parse the response

    //            // Get the dropdown element
    //            const dropdown = document.getElementById("InstanceSubClassificationId_DD");

    //            // Clear existing options
    //            dropdown.innerHTML = "";

    //            // Create the  option
    //            const selectOption = document.createElement("option");
    //            selectOption.value = "";
    //            selectOption.textContent = "---------Select-----------";
    //            dropdown.appendChild(selectOption);

    //            // Iterate through each item in the data
    //            for (let i = 0; i < data.length; i++) {
    //                const item = data[i];
    //                const option = document.createElement("option");
    //                option.value = item.value;
    //                option.textContent = item.text;
    //                dropdown.appendChild(option);
    //            }
    //        })
    //        .catch(error => {
    //            console.error("Error:", error);
    //        });
    //}

    //// Attach the event listener to the dropdown
    //var dropdown = document.getElementById("InstanceClassificationId_DD");
    //dropdown.addEventListener("change", sendDepartment_BY_ClassSelectedValue);

    /*--------Department DROPDOWN GET BY Class dropdown  CODE  END-----------*/







    /*--------Search Fee Recipt Users Table data function  code start---------------------------------*/
    function SearchBankAccountsData(event) {

        /* debugger;*/
        event.preventDefault();



        // Get the search input value

        var InstanceId = $('#InstanceId_DD').val();
        var InstanceClassificationId = $('#InstanceClassificationId_DD').val();
        var InstanceSubClassificationId = $('#InstanceSubClassificationId_DD').val();

        $('#validation2').text('');


        // Call the Feesection_TbLData_Callingfunction and pass the search value as a parameter
        ManageBankAccounts_TbLData_function(InstanceId, InstanceClassificationId, InstanceSubClassificationId);
    }
    /*--------Search Fee Recipt Users Table data function code end---------------------------------*/



    /*--------------------------  VALIDATION FUNCTION START-------------------------- */
    function validateForm() {
        /*  debugger;*/


        var InstanceClassificationId = $('#InstanceClassificationId_DD').val();
        var InstanceSubClassificationId = $('#InstanceSubClassificationId_DD').val();



        var validationMessage = "";
        var hasError = false;

        if (InstanceClassificationId === "") {
            validationMessage += "Department  <br>";
            hasError = true;
        }
        if (InstanceSubClassificationId === "") {
            validationMessage += "Class <br>";
            hasError = true;
        }



        if (hasError) {
            $('#validation2').html("Following fields have invalid data :");
            $("#validationMessage").html(validationMessage);
            return false; // Return false to prevent form submission
        } else {
            $("#validationMessage").html("");
            return true; // Return true to proceed with form submission
        }
    }
    /*--------------------------  VALIDATION FUNCTION END -------------------------- */





    /*---------------------Fee Recipt User Table function code start-------------------------------*/

    function ManageBankAccounts_TbLData_function(InstanceId, InstanceClassificationId, InstanceSubClassificationId) {
        var footerAdded = false;
        /*debugger;*/
        if (validateForm()) {
            $.ajax({
                url: '/FeeSection/GenerateFeeReceipt',
                method: 'POST',
                data: {
                    InstanceId: InstanceId,
                    ClassificationId: InstanceClassificationId,
                    SubClassificationId: InstanceSubClassificationId
                },
                success: function (response) {
                    var footerAdded = $('table').data('footerAdded');

                    debugger;

                    $('#Userdetailstablediv').show();

                    $('#Feetermdetailsdiv').hide();
                    $('#Challana_Usersdivid').hide();



                    var CountTabledata = response.length;
                    $('#TableCount').text(CountTabledata);

                    var table = $('#FeeRecipt_Table');
                    var tbody = table.find('tbody');


                    tbody.empty();

                    $.each(response, function (index, bacTable) {
                        var row = $('<tr></tr>');

                        var cell1 = $('<td class="editable-cell"></td>').css({
                            'cursor': 'pointer',
                            'text-align': 'center'

                        });
                        var userId = bacTable.userId;
                        var checkboxId = 'checkbox_' + userId; // Generating a unique id for each checkbox

                        var checkbox = $('<input type="checkbox"/>')
                            .attr('id', checkboxId) // Set the id attribute
                            .attr('value', userId)
                            .prop('name', 'selectedUserIds[]')
                            .addClass('user-checkbox') // Add a class to the checkbox
                            .css({
                                'width': '20px',
                                'height': '20px',
                            });

                        cell1.append(checkbox);
                        var cell2 = $('<td></td>').text(bacTable.firstName);
                        var cell3 = $('<td></td>').text(bacTable.classificationName);
                        var cell4 = $('<td></td>').text(bacTable.subClassificationName);

                        // Append the cells to the row
                        row.append(cell1);
                        row.append(cell2);
                        row.append(cell3);
                        row.append(cell4);

                        $('table tbody').append(row);
                    });


                    if (!footerAdded) {
                        var footerRow = $('<tr></tr>');

                        var goToStep2Button = $('<button></button>').text('Go to Step 2').addClass('go-to-step2-button btn btn-pill btn-outline-primary-2x PreviousPageBtn');
                        goToStep2Button.css({
                            'width': '16%',
                            'margin-left': '40%',
                            'text-align': 'center',
                            'border': '1px solid black',
                            'font-weight': '500',
                            'font-size': '16px'
                        });

                        var colspan = 4;
                        var centeredCell = $('<td colspan="' + colspan + '"></td>').append(goToStep2Button);
                        footerRow.append(centeredCell);

                        $('table tfoot').append(footerRow);
                        $('table').data('footerAdded', true);
                    }


                },
                error: function () {
                    console.log('Error retrieving data.');
                }


            });
        }
    }
    /*----------------------Fee Recipt User Table function code end-------------------------------*/



    // Check/uncheck all checkboxes with the class "user-checkbox"
    function checkAllCheckboxes(checked) {
        debugger;
        $('.user-checkbox').prop('checked', checked);
    }

    // Click event for the "Check All" checkbox
    //$('#CheckAll_UserIds').click(function () {
    //    debugger;
    //    var checked = $(this).prop('checked');
    //    checkAllCheckboxes(checked);
    //});


    // Click event for the "Go to Step 2" button
    $('table').on('click', '.go-to-step2-button', function () {
        debugger;

        var selectedUserIds = [];

        if ($('.user-checkbox:checked').length === 0) {
            window.scroll(0, 0);
            $('#Feetermdetailsdiv').hide();
            $('#Challana_Usersdivid').hide();

            $('#ErrorMessage_SpanId1').text('Please Select Atleast one Student to Generate Challan for Fee.');
            return;
        }

        $('#ErrorMessage_SpanId1').text('');

        FeeTerms_dropdown_Function();
        sendFeeType_BY_FeeTermSelectedValue();


        $('#ErrorMessageChallana_SpanId').text('');

        $('.user-checkbox:checked').each(function () {
            selectedUserIds.push($(this).val());
        });

        // Call the AJAX function to pass the selected user IDs to the Chalan_genarat method
        chalanGenerate(selectedUserIds);
    });

    // Click event for checkboxes with the class "user-checkbox"
    $('table').delegate('.user-checkbox', 'click', function () {
        debugger;

        var userId = $(this).val();
        var isChecked = $(this).prop('checked');
    });

    /*-------============================== Goto  Step 2 button click fire function  code start====================--------------------*/

    function chalanGenerate(userIds) {
        debugger;

        /*alert(userIds);*/
        $('#Feetermdetailsdiv').show();
        console.log("Selected User IDs:", userIds);

        var selectedUserIdsValues = userIds;

    }

    /*-------============================== Goto  Step 2 button click fire function  code start====================--------------------*/



    function validation_GFCS() {



        debugger;
        var FeeTypeId = $('#Ddlfeetype').val();
        var FeeTermId = $('#Ddlfeetermid').val();
        var Receipt_Created_Date = $('#Receipt_Created_Date').val();



        var validationMessage = "";
        var hasError = false;

        if (FeeTypeId === null || FeeTypeId.length === 0) {

            validationMessage += "Select Fee Terms<br>";
            hasError = true;

        }
        if (FeeTermId === null || FeeTermId.length === 0) {
            validationMessage += "Select Fee Types <br>";
            hasError = true;
        }
        if (!Receipt_Created_Date) {
            validationMessage += "Receipt Created Date <br>";
            hasError = true;
        }


        if (hasError) {
            $('#validation2GFCS').html("Following fields have invalid data :");
            $("#validationMessageGFCS").html(validationMessage);
            return false; // Return false to prevent form submission
        } else {
            $("#validationMessageGFCS").html("");
            return true; // Return true to proceed with form submission
        }
    }



    /* ----=============== Generate fee challan for selected studnts button click fire this function start code----==================== */



    //$('#feeChallanForm').submit(function (event) {
    //    debugger;

    //    event.preventDefault(); // Prevent default form submission

    //    FeeTypeIdsSelectedValues = $('#Ddlfeetermid').val();


    //    debugger;

    //    if (FeeTypeIdsSelectedValues.length > 1) {

    //        $('#ErrorMessageChallana_SpanId').text("Please Select only one Fee Term to Generate challan for Miscellaneous Fee.");


    //    } else {
    //        if (validation_GFCS()) {


    //            FeeTypeIds = $('#Ddlfeetype').val();
    //            FeeTermId = $('#Ddlfeetermid').val();
    //            debugger;

    //            var formData = new FormData(this);



    //            var selectedUserIds = [];
    //            $('input.user-checkbox:checked:not(.user-checkbox[value="on"])').each(function () {

    //                selectedUserIds.push($(this).val());

    //            });
    //            console.log(selectedUserIds);



    //            var InstanceId = $('#InstanceId_DD').val();

    //            /*alert(selectedUserIds);*/

    //            $.ajax({
    //                url: '/FeeSection/GenerateFeeReceipt_New_Users_Challan_Result_Tbl?FeeTypeIds=' + FeeTypeIds + '&FeeTermId=' + FeeTermId + '&UserIds=' + selectedUserIds + '&InstanceId=' + InstanceId,
    //                type: 'POST',
    //                processData: false, // Prevent jQuery from processing the data
    //                contentType: false, // Let the server handle the content type
    //                success: function (response) {
    //                    debugger;
    //                    console.log(response);
    //                    debugger;
    //                    $('#Challana_Usersdivid').show();
    //                    var ChallanaCount = response.length;

    //                    $('#Challan_Count_SPID').text(ChallanaCount);

    //                    if (ChallanaCount > 0) {

    //                        $('#ErrorMessageChallana_SpanId').text('Challan is already generated for below user(s).');

    //                    } else if (ChallanaCount == 0) {

    //                        $('#Challana_Usersdivid').hide();
    //                        $('#ErrorMessageChallana_SpanId').text('Fees Haven' + "'" + 't scheduled for selected user(s).');

    //                    }

    //                    var table = $('#Challan_CreatedUserS_Tbl');
    //                    var tbody = table.find('#Challan_CreatedUserS_TblBody');


    //                    $('#validation2GFCS').text('');
    //                    $('#validationMessageGFCS').text('');

    //                    tbody.empty();
    //                    $.each(response, function (index, dataEntry) {
    //                        var row = $('<tr></tr>');

    //                        // Create table cells for each column and populate them with data
    //                        var cell1 = $('<td></td>').text(dataEntry.firstName);
    //                        var cell2 = $('<td></td>').text(dataEntry.termName);
    //                        var cell3 = $('<td></td>').text(dataEntry.feeType);
    //                        var cell4 = $('<td></td>').text(parseFloat(dataEntry.amount).toFixed(2));
    //                       /* var cell4 = $('<td></td>').text(dataEntry.amount);*/
    //                        var cell5 = $('<td></td>').text(dataEntry.userReceiptGenerationID).css('font-weight', 'bold');

    //                        // Append the cells to the row
    //                        row.append(cell1);
    //                        row.append(cell2);
    //                        row.append(cell3);
    //                        row.append(cell4);
    //                        row.append(cell5);

    //                        // Append the row to the table body
    //                        tbody.append(row);
    //                    });

    //                },
    //                error: function (xhr, textStatus, error) {
    //                    // Handle the error in case of AJAX request failure
    //                    console.log(xhr.responseText);
    //                }
    //            })

    //        }

    //    }
    //});



    /* ----=============== Generate fee challan for selected studnts button click fire this function End code----==================== */

</script>


