@model Connect4m_Web.Models.Attendenceproperites.Feeterms
@{
    ViewData["Title"] = "Manage feeterms Insert";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12 col-lg-12 mb-3">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0"><span id="Heading_sptxt">SAVE FEE TERM</span></h5>
            <small class="text-muted float-end">* INDICATES REQUIRED FIELDS</small>
        </div>
        <div class="card-body">
            <form id="Feetermform" enctype="multipart/form-data">
                <div class="row">
                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end required" for="basic-default-name">Academic Year</label>
                            <div class="col-sm-4">
                                <select asp-for="AcademicYearId" class="form-select" id="ddlAcademicYear"></select>
                                <span asp-validation-for="AcademicYearId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label space text-end required" for="basic-default-name">Fee Term</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="TermName" class="form-control" id="TermNametxt" />
                                <span asp-validation-for="TermName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end required" for="basic-default-name">Fee Types</label>
                            <div class="col-sm-4">
                                <select asp-for="FeeTypeId" class="form-select" id="lstfeetypes" multiple></select>
                                <span asp-validation-for="FeeTypeId" class="text-danger"></span>
                                @*@Html.ListBox("ConcedingtypeIds", ViewBag.ConcedingTypes as SelectList, new { @class = "select2 form-select select2-hidden-accessible", @id = "lstConcedingtypes" })*@
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label space text-end" for="basic-default-name">Description</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" asp-for="Description" id="descriptiontxt"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-info waves-effect waves-light" onclick="previouspages('ManageFeeTypes',null)">Previous Page</button>
                                <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="clearForm('Feetermform')" id="btnClear">Clear</button>
                                <button type="button" class="btn btn-dark waves-effect waves-light" id="Svbacktosearchbtn">Back To Search</button>
                                <button type="submit" class="btn btn-success waves-effect waves-light" id="savebtn">Save</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="nextpages('ManageBankAccounts',null)">Next Page</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<script src="~/js/Managefeeterms1.js"></script>




