@model Connect4m_Web.Models.Attendenceproperites.BankAccounts
@{
    ViewData["Title"] = "ManageBankAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>   
    @*<link href="~/css/maps/ManageBankAccounts.css" rel="stylesheet" />*@
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">FeeSection /</span>MANAGE BANK ACCOUNTS</h4>
        <span id="Commonerrormessage" class="text-danger"></span>
        <div class="row justify-content">
            <div class="text-end">
                <a href="javascript:void(0);" id="Addnewfeetypelinkbtn" onclick="lnkAddNew(event)">Create Bank Account</a>
            </div>
            @*<div class="col-sm-12 text-end">
                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light " onclick="Create_NewFeeBankAccount(event);">Create Bank Account</button>
            </div>*@
        </div>
        <div class="row mb-2" id="Mainsearchdiv">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">SEARCH BANK ACCOUNTS</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form class="form" id="bankaccountsserform">
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-4 col-form-label text-end  space">Bank Name </label>
                                        <div class="col-sm-4">
                                            <input type="text" asp-for="BankName" class="form-control" id="Banknametxt">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="control-label col-sm-4 col-form-label text-end  space">Account Number </label>
                                        <div class="col-sm-4">
                                            <input type="text" asp-for="AccountNumber" class="form-control" id="Accountnumbertxt" >
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12">
                                            <button type="reset" class="btn btn-info waves-effect waves-light" onclick="previouspages('ManageFeeTerms',null)">Previous Page</button>
                                            <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="clearForm('bankaccountsserform')" id="searbtnclear">Clear</button>
                                            <button type="button" class="btn btn-success waves-effect waves-light" id="btnsearch">Search</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" onclick="nextpages('ManageFeeDetails',null)">Next Page</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">YOUR SEARCH RESULTED <span id="Recordscount" class="badge badge-center rounded-pill bg-primary bg-glow"></span> RECORDS.</h5>
                    </div>
                    <div class="card-body">
                        <table id="Bankaccountstbl" class="table table-bordered"> 
                            <thead class="table-dark">
                                <tr>
                                    <th>S NO</th>
                                    <th>Bank Name</th>
                                    <th>Account Number</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="Addnew_div1">

        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/js/Managebankaccounts.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





