@model Connect4m_Web.Models.Attendenceproperites.Feeconcedingtypes
@{
    ViewData["Title"] = "MANAGE FEE CONCEDING TYPES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">FeeSection /</span>MANAGE FEE CONCEDING(DISCOUNT) TYPES </h4>
        <div class="row justify-content">
            <span id="Commonerrormessage" class="text-danger"></span>
            <div class="text-end">
                <a href="javascript:void(0);" id="Addnewfeetypelinkbtn" onclick="lnkAddNew(event)">Create Fee Discount Type</a>
            </div>
            @*<div class="col-sm-12 text-end">
                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light " onclick="Create_NewFeeDiscountType(event);">Create Fee Discount Type</button>
            </div>*@
        </div>
        <div class="row mb-2" id="SearchMaindiv">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            SEARCH FEE DISCOUNT TYPES
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row col">
                            <form class="form theme-form" id="Searchfeedescounttypesform">
                                <div class="row mb-3">
                                    <label class="control-label col-sm-4 col-form-label text-end  space">Fee Discount Type </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="ConcedingTypeName" id="Concedingtypenametxt" class="form-control">
                                    </div>
                                </div>
                                <div class="row justify-content text-center">
                                    <div class="col-sm-12">
                                        <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="clearForm('bankaccountsserform')" id="searbtnclear">Clear</button>
                                        <button type="button" class="btn btn-success waves-effect waves-light" id="btnsearch">Search</button>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" onclick="nextpages('ManageFeeTypes',null)">Next Page</button>

                                        @*<button type="reset" class="btn btn-warning waves-effect waves-light" onclick="CommonClearFunction('Searchfeedescounttypesform')" id="BtnClear">Clear</button>
                                        <button type="button" class="btn btn-success waves-effect waves-light" id="Searchbtn">Search</button>
                                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="nextpages('ManageFeeTypes',null)">Next Page</button>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span>
                                YOUR SEARCH RESULTED <span id="Recordscount" class="badge badge-center rounded-pill bg-primary bg-glow"></span> RECORDS.
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="Discounttbl">
                            <thead class="table-dark">
                                <tr>
                                    <th>S.NO</th>
                                    <th>Fee Discount Type</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="Addnew_div1">

        </div>  
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/ManageFeeConcedingtypes.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
