@model Connect4m_Web.Models.Attendenceproperites.ManageFeeDetails

@{
    ViewData["Title"] = "ManageFeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>

    <style>
        .form-group {
            margin-bottom: 0px;
        }

        .label-normal {
            height: 21px;
            margin-top: 2px;
        }

        .label-modified {
            height: 30px;
            margin-top: 40px;
        }
    </style>
    <link href="~/css/ManageFeeDetails.css" rel="stylesheet" />  
</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">FeeSection /</span>SET FEE FOR USERS </h4>
        <span id="Commonerrormessage" class="text-danger"></span>
        <span id="Commonerrormessage1" class="text-danger"></span>
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">SEARCH USERS </h5> <small class="text-muted float-end">* INDICATES MANDATORY FIELD</small>
                    </div>
                    <div class="card-body">
                        <form id="searchForm">
                            <div class="row">
                                <div class="row mb-3">
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end required"> Role</label>
                                        <div class="col-sm-4">
                                            <select id="ddlRole" asp-for="InstanceRoleId" class="form-select"></select>
                                            <span asp-validation-for="InstanceRoleId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label space text-end required">Department</label>
                                        <div class="col-sm-4">
                                            <select asp-for="InstanceClassificationId" id="ddlInstanceClassification" class="form-select" onchange="CommonDropdownFunction('GET', '/FeeSection/ClassddlBind?InstanceClassificationId=' + this.value, 'ddlInstanceSubClassification', '------Select------', true)"></select>
                                            <span asp-validation-for="InstanceClassificationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end required"> Class </label>
                                        <div class="col-sm-4">
                                            <select asp-for="InstanceSubClassificationId" id="ddlInstanceSubClassification" class="form-select">
                                            </select>@*InstanceSubClassificationId_DD*@
                                            <span asp-validation-for="InstanceSubClassificationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end"> Referral</label>
                                        <div class="col-sm-4">
                                            <select asp-for="StudentQuotaId" id="ddlStudentQuota" class="form-select"></select>@*StudentQuotaId_DD*@
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end"> Gender  </label>
                                        <div class="col-sm-4">
                                            <select asp-for="Gender" id="Gender" class="form-select">
                                                <option selected="selected" value="0142">Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="0">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end required"> Academic Year  </label>
                                        <div class="col-sm-4">
                                            <select asp-for="AcademicYearId" id="ddlYears" class="form-select" onchange="CommonDropdownFunction('GET', '/FeeSection/TermsddlBind?AcademicYearId=' + this.value, 'ddlTerms', '------Select------', true)"></select>@*AcademicYearId_DD*@
                                            <span asp-validation-for="AcademicYearId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end required">Fee Term  </label>
                                        <div class="col-sm-4">
                                            <select asp-for="FeeTermId" id="ddlTerms" class="form-select"></select>@*FeeTermId_DD*@
                                            <span asp-validation-for="FeeTermId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end" style="height: 30px;"> Discount </label>
                                        <div class="form-group col-sm-4">
                                            <input type="checkbox" class="form-check-input checkbox_animated" id="Discount_Checkbox_ID" onchange="Disocuntchkfun()">
                                        </div>

                                        <!--<div class="form-group col-sm-4">
                                        <input type="checkbox" id="Discount_Checkbox_ID" onchange="Disocuntchkfun()" />-->
                                        @*toggleDropdownSelection*@
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label class="control-label col-sm-4 col-form-label text-end required space" id="FeetypeLbl_ID"> Fee Type </label>
                                        <div class="form-group col-4">
                                            <div class="custom-dropdown" id="checkboxListFeeType_Container">
                                                <ul class="dropdown-options" id="FeeType_checkboxListFeeType">
                                                    <li>
                                                        <p id="noOptionsMessage" class="NoOptions_message" style="display: none;">No Fee Types available.</p>
                                                    </li>
                                                </ul>
                                                <input type="checkbox" class="form-check-input" id="selectAllFeeTypes" /> Select All Fee Types
                                            </div>
                                            <select asp-for="FeeTypeid" id="ddlFeeTypes" class="select2 form-select select2-hidden-accessible" style="display: none;">
                                            </select>@*FeeTypeid_DD*@
                                        </div>
                                    </div>
                                    <div class="form-group col-5">

                                    </div>
                                    <div class="row mb-2">
                                        <label class="control-label col-sm-4 col-form-label text-end">  </label>
                                        <div class="form-group col-sm-4">
                                            <input type="checkbox" id="checkbox1" class="form-check-input" onclick="Hostlers();" />Hostlers
                                            <input type="checkbox" id="checkbox2" class="form-check-input" onclick="NonHostlers();" />Non Hostlers

                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="col-sm-4 col-form-label space text-end required"> Users  </label>
                                        <div class="col-sm-4">
                                            <div class="custom-dropdown" id="checkboxListUsers_Container">
                                                <ul class="dropdown-options" id="Users_checkboxList">
                                                    <li>
                                                        <p id="noUsers_OptionsMessage" class="NoOptions_message" style="display: none;">Users Not available.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <input type="checkbox" class="form-check-input" id="selectAllUser_Checkboxs" />Select All STUDENT(s)
                                        </div>
                                    </div>
                                    <div class="row justify-content text-center">
                                        <div class="col-sm-12">
                                            <a href="/FeeSection/ManageBankAccounts" id="btnSearchPrevious" class="btn btn-info waves-effect waves-light">Previous Page</a>
                                            <button type="reset" id="searbtnclear" class="btn btn-warning waves-effect waves-light" onclick="clearForm('searchForm')">Clear</button>
                                            @*<button id="btnSearch" class="btn btn-success waves-effect waves-light" onclick="SetPay_Fee_Users_GetForm_Btn(event)">Get Form</button>*@
                                            <button id="btnSearch" class="btn btn-success waves-effect waves-light" onclick="PayfeeforusersGetform(event)">Get Form</button>
                                            <a href="/FeeSection/PayFeeForUsers" id="btnSearchNext" class="btn btn-primary waves-effect waves-light">Next Page</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="partialViewContainer">

            </div>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Managefeedetails.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>
   
    document.getElementById("selectAllFeeTypes").addEventListener("change", function () {
        var checkboxes = document.querySelectorAll("#FeeType_checkboxListFeeType input[type='checkbox']");


        var selectAllChecked = this.checked;


        checkboxes.forEach(function (checkbox) {
            checkbox.checked = selectAllChecked;
        });


        var noOptionsMessage = document.getElementById("noOptionsMessage");
        if (selectAllChecked && checkboxes.length === 0) {
            noOptionsMessage.style.display = "block";
        } else {
            noOptionsMessage.style.display = "none";
        }
    });
    document.getElementById("selectAllUser_Checkboxs").addEventListener("change", function () {
        //var Users_checkboxes = document.querySelectorAll("#Users_checkboxList input[type='checkbox']");

        //var Users_checkboxes = document.querySelectorAll("#Users_checkboxList input[type='checkbox'][style='display: block;']");
        var Users_checkboxes = document.querySelectorAll("#Users_checkboxList input[type='checkbox']:not([style='display: none;'])");

        var selectAllChecked = this.checked;

        Users_checkboxes.forEach(function (checkbox) {
            checkbox.checked = selectAllChecked;
        });


        var noUsers_OptionsMessage = document.getElementById("noUsers_OptionsMessage");
        if (selectAllChecked && Users_checkboxes.length === 0) {
            noUsers_OptionsMessage.style.display = "block";
        } else {
            noUsers_OptionsMessage.style.display = "none";
        }
    });
    function send_USERS_DD_SelectedValue() {

        var InstanceClassificationdropdownValue = document.getElementById("ddlInstanceClassification");
        var InstanceClassificationId = InstanceClassificationdropdownValue.value;


        var InstanceSubClassificationdropdownValue = document.getElementById("ddlInstanceSubClassification");
        var InstanceSubClassificationId = InstanceSubClassificationdropdownValue.value;


        var InstanceRoledropdownValuedropdownValue = document.getElementById("ddlRole");
        var RoleId = InstanceRoledropdownValuedropdownValue.value;


        const instanceId = document.getElementById("InstanceId").value;

        fetch("/FeeSection/Users_DD?InstanceClassificationId=" + InstanceClassificationId + "&instanceId=" + instanceId + "&InstanceSubClassificationId=" + InstanceSubClassificationId + "&RoleId=" + RoleId)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Request failed with status " + response.status);
                }
                return response.text();
            })
            .then(responseText => {

                const data = JSON.parse(responseText); // Parse the response

                data.sort((a, b) => a.firstName.localeCompare(b.firstName));

                const dropdown = document.getElementById("UserId_DD");


                const Users_checkboxList = document.getElementById("Users_checkboxList");

                Users_checkboxList.innerHTML = '';


                for (let i = 0; i < data.length; i++) {
                    const item = data[i];


                    const listItem = document.createElement("li");


                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    //checkbox.id = `checkbox_${item.userId}`;
                    checkbox.value = item.userId;
                    checkbox.id = item.collegeHostel;
                    checkbox.name = item.gender;


                    const label = document.createElement("label");
                    //label.htmlFor = item.userId;
                    label.htmlFor = `checkbox_${item.userId}`;
                    label.textContent = item.firstName;


                    listItem.appendChild(checkbox);
                    listItem.appendChild(label);


                    Users_checkboxList.appendChild(listItem);
                }


            })

            .catch(error => {
                console.error("Error:", error);
            });

    }
    const selectElement = document.getElementById("Gender");
    const listItemContainer = document.getElementById("Users_checkboxList");
    selectElement.addEventListener("change_", function () {
        const selectedValue = selectElement.value;
        debugger;

        for (const listItem of listItemContainer.children) {
            const genderValue = listItem.querySelector("input").name;
            const input_Checkbox_Element = listItem.querySelector("input").value;
            const inputElement = listItem.querySelector("input");

            if (selectedValue === genderValue) {

                listItem.style.display = "flex";
                listItem.querySelector("input").style.display = "block";
                listItem.querySelector("label").style.display = "block";


            }
            else if (selectedValue == "0142") {

                send_USERS_DD_SelectedValue();
            }
            else {
                listItem.style.display = "none";
                listItem.querySelector("input").style.display = "none";
                listItem.querySelector("label").style.display = "none";
                inputElement.checked = false;

            }
        }

    });

</script>


