
@{
    ViewData["Title"] = "Manage_Bank_Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        span.validation {
            display: block;
            color: red;
        }
        .NextPageBtn {
           
            border-radius: 8px;
            cursor: pointer;
            border: none !important;
            box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
        }
        .PreviousPageBtn {
            border-radius: 8px;
            cursor: pointer;
            border: none !important;
            box-shadow: 0 5px 10px 2px rgba(88, 103, 221,0.19);
        }
        
    </style>

    <link href="~/css/maps/ManageBankAccounts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="card">
        <div class="card-header pb-0">
            <div style=" font-size: 20px; text-align: center;">
                <h1 style=" color: black; font-weight: 700; font-size: 19px; margin-top: -13px; ">MANAGE BANK ACCOUNTS</h1>
            </div>
        </div>

        <div style="margin-left: 86%;">
            
            <a class="btn btn-primary" style="color: white; font-size: 13px; margin-left: -60%; border-radius: 15px; height: 35px; border: 1px solid black !important; margin-bottom: 0px; font-family: auto; font-weight: 900;" href="#" onclick="Create_NewFeeBankAccount(event);">
                Create Bank Account
            </a>

        </div>
        <div id="M_Bank_Ac_Tbl_Divid">
            <div class="card-body">
                <div class="default-according style-1" id="accordionoc">
                    <div class="card">
                        <div>
                            <h5 class="mb-0">
                                <button class="btn  collapsed Header_Btn" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11" style="">
                                    <span class="Header_text_span">
                                        SEARCH BANK ACCOUNTS
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">
                            <div class="card-body">
                                <form class="form theme-form" id="SEARCH_FEE_TYPES_FORM">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-group row g-3">
                                            <div id="Ct_Lg_DivId" class="row" style=" margin-top: 10px;">
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <label class="col-sm-5 col-form-label" style="color: black;">Bank Name</label>
                                                    <div class="col-sm-9">
                                                        :<input type="text" name="Bank_NameTXT_Name" id="Bank_Name_TXTid"  style=" outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                    </div>
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <label class="col-sm-5 col-form-label" style="color: black;">Account Number</label>
                                                    <div class="col-sm-9">
                                                        :<input type="text" name="Bank_AcNumberTxt_Name" id="Bank_AcNumber_Txtid" style=" outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                    </div>
                                                </div>
                                                <div style=" display: flex; grid-gap: 16px; margin-left: 218px; margin-top: 10px;">
                                                    <a href="/FeeSection/ManageFeeTerms" class="btn btn-pill btn-outline-primary-2x PreviousPageBtn">Previous Page</a>
                                                   
                                                    <input type="reset" value="Clear" class="btn btn-pill btn-outline-danger-2x" style="border-radius:8px;">
                                                    <input type="submit" value="Search" class="btn btn-pill btn-outline-success-2x" onclick="SearchBankAccountsData(event);" style="border-radius:8px;">
                                                    <a href="/FeeSection/ManageFeeDetails" class="btn btn-pill btn-outline-info-2x NextPageBtn">Next Page</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Table Html And Table Data Bind Code Start*@
            <div class="card-body">
                <div class="default-according style-1" id="accordionoc">
                    <div class="card">
                        <span id="ErrorMessage_SpanId" style="color: red; font-size: 12px; margin-left: 8px;"></span>
                        <h5 class="mb-0">
                            <button class="Header_Btn" data-bs-toggle="" data-bs-target="" aria-controls="" width="99%">
                                <span class="Header_text_span">
                                    YOUR SEARCH RESULTED
                                    <span id="TableCount" style="background-color: white; color: red; border-radius: 16px; font-size: 16px; padding: 5px; font-weight: 600;"></span>
                                    RECORDS
                                </span>
                            </button>
                        </h5>

                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">
                            <div class="card-body">
                                <div id="BankAccounts_Table" style=" margin-top: -15px;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Bank Name</th>
                                                <th>Account Number</th>
                                                <th>Description</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div id="ManageBankAccounts_pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Table Html And Table Data Bind Code End*@
        </div>

        @*Create New Fee type Code Start*@
        <div id="CreateBankAccount_Divid">
            <div style="color: red; font-size: 12px;">
                <div id="validation2" style="color: red;"></div>
                <div id="validationMessage" style="color: red;"></div>
                <p id="MessageID"></p>
            </div>
            <div class="card-body">
                <div class="default-according style-1" id="accordionoc">
                    <div class="card">
                        <div>
                            <h5 class="mb-0">
                                <button class="btn  collapsed Header_Btn" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11" style="">
                                    <span class="Header_text_span">
                                        SAVE BANK DETAILS
                                    </span>
                                </button>                               
                            </h5>
                        </div>
                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">
                            <div class="card-body">

                                <form class="form theme-form" id="Create_NewDiscount_FeeType">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-group row g-3">
                                            <div class="row" style=" margin-top: 10px;">
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <label class="col-sm-5 col-form-label" style=" color: black;"><font style="color: red; font-size: 13px;">*</font>Bank Name :</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" id="BankName_TXTid" @*class="Text_CSS"*@ style=" width: 29%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                    </div>
                                                </div>

                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color: black;"><font style="color: red; font-size: 13px;">*</font>Account Number  :</span>
                                                    <input type="text" id="AccountNumber_TXTid" @*class="Text_CSS"*@ style=" width: 22%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px; height: 26px; " />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color: black;">Branch Code  :</span>
                                                    <input type="text" id="BranchCode_TXTid" @*class="Text_CSS"*@ style="width: 22%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px; height: 27px; " />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color: black;">IFSC Code  :</span>
                                                    <input type="text" id="IFSCCODE_TXTid" @*class="Text_CSS"*@ style=" width: 22%; height: 27px; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="margin-top: 44px; color: black;">Bank Branch Address  :</span>
                                                    <textarea id="Bank_Branch_Address_TXTid" @*class="TextAreaTXT"*@ style="height: 100px; width: 353px; outline: none; margin-left: 15px; border: 1px solid; font-size: 15px; font-style: italic;  "></textarea>                                                  
                                                </div>
                                               <br />
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <label class="col-sm-5 col-form-label" style="margin-top: 44px; color: black;">Description :</label>
                                                    <textarea  id="Description_TXTid" style=" height: 100px; width: 353px; outline: none; margin-left: 15px; border: 1px solid; font-size: 15px; font-style: italic;  MARGIN-TOP: 10PX;"></textarea>
                                                </div>
                                                <div style=" display: flex; grid-gap: 16px; margin-left: 15%; margin-top: 10px;">
                                                    <a href="/FeeSection/ManageFeeTerms" class="btn btn-pill btn-outline-primary-2x PreviousPageBtn">Previous Page</a>
                                                    <input type="reset" value="Clear" id="Clear_Btns" class="btn btn-pill btn-outline-danger-2x" style="border-radius:8px;">
                                                    <input type="submit" id="backToSearchBtn" value="Back to Search" class="btn btn-pill btn-outline-info-2x" style="border-radius: 8px;" onclick="backToSearch(event);">
                                                    <input type="submit" id="Create_NewDiscount_FeeType" value="Save" class="btn btn-pill btn-outline-success-2x" style="border-radius:8px;" onclick="Save_BankAccount(event);">
                                                    <a href="/FeeSection/ManageFeeDetails" class="btn btn-pill btn-outline-info-2x NextPageBtn">Next Page</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Create New Fee type Code End*@


        @*Discount Fee Type Update View Code Start*@


        <div id="UpdateBank_Account_Divid">
            <div style="color: red; font-size: 12px;">
                <div id="Updatevalidation2" style="color: red;"></div>
                <div id="UpdatevalidationMessage" style="color: red;"></div>
                <p id="UpdateMessageID"></p>
            </div>
            <div class="card-body">
                <div class="default-according style-1" id="accordionoc">
                    <div class="card">
                        <div>
                            <h5 class="mb-0">
                                <button class="btn  collapsed Header_Btn" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11" style="">
                                    <span class="Header_text_span">
                                        UPDATE BANK DETAILS
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc" style="">
                            <div class="card-body">

                                <form class="form theme-form" id="Create_NewDiscount_FeeType">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-group row g-3">
                                            <div class="row" style=" margin-top: 10px;">
                                                <div style="display: flex; grid-gap: 16px;">
                                                   <input type="hidden" id="Instance_EditTXTid" />
                                                   <input type="hidden" id="BankAccontid_EditTXTid" />
                                                    <label class="col-sm-5 col-form-label" style="color:black;"><font style="color: red; font-size: 13px;">*</font>Bank Name :</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" id="BankName_EditTXTid"  style=" width: 29%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                    </div>
                                                </div>

                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color:black;"><font style="color: red; font-size: 13px;">*</font>Account Number  :</span>
                                                    <input type="text" id="AccountNumber_EditTXTid" @*class="Text_CSS"*@ style=" width: 22%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px; height: 26px; " />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color:black;">Branch Code  :</span>
                                                    <input type="text" id="BranchCode_EditTXTid" @*class="Text_CSS"*@ style="width: 22%; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px; height: 27px; " />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="color:black;">IFSC Code  :</span>
                                                    <input type="text" id="IFSCCODE_EditTXTid" @*class="Text_CSS"*@ style=" width: 22%; height: 27px; outline: none; margin-left: 15px; border: 1px solid; font-size: 14px;" />
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <span class="col-sm-5 col-form-label" style="margin-top: 44px; color:black;">Bank Branch Address  :</span>
                                                    <textarea  id="Bank_Branch_address_EditTXTid" style="height: 100px; width: 353px; outline: none; margin-left: 15px; border: 1px solid; font-size: 15px; font-style: italic;  "></textarea>
                                                </div>
                                                <div style="display: flex; grid-gap: 16px;">
                                                    <label class="col-sm-5 col-form-label" style="margin-top: 44px;color:black;">Description :</label>
                                                    <textarea  id="description_EditTXTid" style=" height: 100px; width: 353px; outline: none; margin-left: 15px; border: 1px solid; font-size: 15px; font-style: italic;  MARGIN-TOP: 10PX;"></textarea>
                                                </div>
                                                <div style=" display: flex; grid-gap: 16px; margin-left: 15%; margin-top: 10px;">
                                                    <a href="/FeeSection/ManageFeeTerms" class="btn btn-pill btn-outline-primary-2x PreviousPageBtn">Previous Page</a>
                                                    <input type="submit" value="Delete" class="btn btn-pill btn-outline-danger-2x" style="border-radius: 8px; " onclick="Update_View_Delete(event);">
                                                    <input type="submit" id="EditTobackSearchBtn" value="Back to Search" class="btn btn-pill btn-outline-info-2x" style="border-radius: 8px;" onclick="EditTobackSearch(event);">
                                                    <input type="submit" id="Update_BankAccountBtn" value="Update" class="btn btn-pill btn-outline-success-2x" style="border-radius:8px;" onclick="UpdateBankAccount(event);">
                                                     <a href="/FeeSection/ManageFeeDetails" class="btn btn-pill btn-outline-info-2x NextPageBtn">Next Page</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Discount Fee Type Update View Code End*@

    </div>



</body>
</html>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


@*----------------//////--MANAGE BANK ACCOUNT CODE START--//////-------------------------*@

<script>

    $('#Clear_Btns').click(function () {

        $('#validationMessage').text('');
        $('#validation2').text('');

        $('#MessageID').text('');

        $('#BankName_TXTid').val('');
        $('#AccountNumber_TXTid').val('');
        $('#BranchCode_TXTid').val('');
        $('#IFSCCODE_TXTid').val('');
        $('#Bank_Branch_Address_TXTid').val('');
        $('#Description_TXTid').val('');


    });


    $(document).ready(function () {

        $('#M_Bank_Ac_Tbl_Divid').show();
        $('#CreateBankAccount_Divid').hide();
        $('#UpdateBank_Account_Divid').hide();


        debugger;
        ManageBankAccounts_TbLData_function();
    }); 

    /*--------Search maange bank accounts table data function code start---------------------------------*/

    function SearchBankAccountsData(event) {

        debugger;
        event.preventDefault();

        $('#ErrorMessage_SpanId').html('');

        // Get the search input value

        var BankName = $('#Bank_Name_TXTid').val();
        var AccountNumber = $('#Bank_AcNumber_Txtid').val();




        // Call the Feesection_TbLData_Callingfunction and pass the search value as a parameter
        ManageBankAccounts_TbLData_function(BankName, AccountNumber);
    }

    /*--------Search maange bank accounts table data function code end---------------------------------*/

    /*----------------------manage bank accounts table function code start-------------------------------*/

    function ManageBankAccounts_TbLData_function(BankName, AccountNumber) {

        debugger;

        $.ajax({
            url: '/FeeSection/M_N_A_Tbl',
            method: 'GET',
            data: {
                BankName: BankName,
                AccountNumber: AccountNumber
            },
            success: function (response) {


                debugger;

                var CountTabledata = response.length;

                $('#TableCount').text(CountTabledata);

                console.log(response); // Log the response object in the browser's console



                var table = $('#BankAccounts_Table');
                var tbody = table.find('tbody');


                // Clear the existing table body
                tbody.empty();

                // Iterate over the data and create table rows
                $.each(response, function (index, bacTable) {
                    var row = $('<tr></tr>');



                    // Create table cells and populate with data

                    var cell1 = $('<td class="editable-cell"></td>').css('cursor', 'pointer');
                    var text = $('<span></span>').text(bacTable.bankName).css({
                        'color': 'black',
                        'font-weight': '600',
                        'text-decoration': 'underline'
                    }).attr('onclick', 'BankAccount_Edit(' + bacTable.bankAccountId + ')');
                    cell1.append(text);


                    var cell2 = $('<td></td>').text(bacTable.accountNumber);
                    var cell3 = $('<td></td>').text(bacTable.description);
                    var cell4 = $('<td></td>').css('text-align', 'center');
                    var deleteIcon = $('<i></i>').addClass('fas fa-trash-alt'); // Assuming you're using Font Awesome icons
                    deleteIcon.data('row', row);
                    cell4.append(deleteIcon);


                    var cell5 = $('<td hidden></td>').text(bacTable.instanceId);
                    var cell6 = $('<td hidden></td>').text(bacTable.bankAccountId);
                    //var cell6 = $('<td hidden></td>').text(bacTable.academicYearId);
                    //var cell7 = $('<td hidden></td>').text(bacTable.feeTypeId);




                    // Append the cells to the row
                    row.append(cell1);
                    row.append(cell2);
                    row.append(cell3);
                    row.append(cell4);
                    row.append(cell5);
                    row.append(cell6);
                    //row.append(cell7);

                    // Append the row to the table body
                    tbody.append(row);
                });




                /*---------------------------------------------- PAGINATION CODE START ----------------------------------------------*/

                var rowsPerPage = 10; // Number of rows to display per page
                var numPages = Math.ceil(response.length / rowsPerPage);
                var currentPage = 1; // Default current page

                var pagination = $('#ManageBankAccounts_pagination');
                pagination.empty();

                // Create pagination links
                var previousLink = $('<a class="ManageBankAccounts_pagination" style="margin: 0 2px;" href="#">Previous</a>');
                pagination.append(previousLink);

                var startIndex = 1; // Start index for pagination links
                var endIndex = Math.min(numPages, 10); // End index for pagination links

                for (var i = startIndex; i <= endIndex; i++) {
                    var link = $('<a class="ManageBankAccounts_pagination" style="margin: 0 2px;" href="#">' + i + '</a>');
                    pagination.append(link);
                }

                var nextLink = $('<a class="ManageBankAccounts_pagination" style="margin: 0 2px;" href="#">Next</a>');
                pagination.append(nextLink);

                // Show the first page by default
                showPage(currentPage);

                // Adjust pagination alignment
                pagination.css('text-align', 'center');

                // Handle pagination link click event
                pagination.on('click', '.ManageBankAccounts_pagination', function (e) {
                    e.preventDefault();
                    var linkText = $(this).text();
                    if (linkText === "Previous") {
                        currentPage = Math.max(currentPage - 1, 1);
                    } else if (linkText === "Next") {
                        currentPage = Math.min(currentPage + 1, numPages);
                    } else {
                        currentPage = parseInt(linkText);
                    }
                    showPage(currentPage);
                });

                // Function to display the specified page
                function showPage(page) {
                    var start = (page - 1) * rowsPerPage;
                    var end = start + rowsPerPage;

                    tbody.find('tr').hide(); // Hide all rows
                    tbody.find('tr').slice(start, end).show(); // Show rows for the specified page

                    // Update pagination links
                    var newStartIndex = Math.max(1, page - 4);
                    var newEndIndex = Math.min(newStartIndex + 9, numPages);

                    if (newEndIndex === numPages) {
                        newStartIndex = Math.max(1, numPages - 9);
                    }

                    pagination.empty();
                    pagination.append(previousLink);

                    for (var i = newStartIndex; i <= newEndIndex; i++) {
                        var link = $('<a class="ManageBankAccounts_pagination" style="margin: 0 2px;" href="#">' + i + '</a>');
                        pagination.append(link);
                    }

                    pagination.append(nextLink);

                    // Update active class on current page link
                    $('.ManageBankAccounts_pagination').removeClass('active');
                    $('.ManageBankAccounts_pagination').eq(page - newStartIndex + 1).addClass('active');
                }



                /*-------------------------------------- PAGINATION CODE END ---------------------------------------------*/

            },
            error: function () {
                console.log('Error retrieving data.');
            }
        });
    }


    /*----------------------manage bank accounts table function code end-------------------------------*/




    /*----------Create  New Fee Type table Hide and fileds are showing code start------------------------*/
    function Create_NewFeeBankAccount(event) {
        /* debugger;*/
        event.preventDefault();


        /*----------- Messages Ids data Clear------------------*/

        $("#ErrorMessage_SpanId").html('');
        $("#MessageID").html('');
        $("#validationMessage").html('');
        $("#validation2").html('');

        /*----------- Messages Ids data Clear------------------*/


        // Show/hide the div elements based on the link clicked

        $('#M_Bank_Ac_Tbl_Divid').hide();
        $('#CreateBankAccount_Divid').show();
        $('#UpdateBank_Account_Divid').hide();



    }
    /*----------Create  New Fee Type table Hide and fileds are showing code End------------------------*/

    // Function to show/hide the div elements
    function backToSearch(event) {
        event.preventDefault();

        debugger;
        ManageBankAccounts_TbLData_function();

        $("#ErrorMessage_SpanId").html('');
        $("#MessageID").html('');

        $("#UpdateMessageID").text('');
        $("#UpdatevalidationMessage").text('');
      




        $("#BankName_TXTid").val('');
        $("#AccountNumber_TXTid").val('');
        $("#BranchCode_TXTid").val('');

        $("#IFSCCODE_TXTid").val('');
        $("#Bank_Branch_Address_TXTid").val('');
        $("#Description_TXTid").val('');
     


        $('#M_Bank_Ac_Tbl_Divid').show();
        $('#CreateBankAccount_Divid').hide();
        $('#UpdateBank_Account_Divid').hide();

    }

    /*--------------------------  VALIDATION FUNCTION START-------------------------- */
    function validateForm() {
          debugger;


        var AccountNumber = $("#AccountNumber_TXTid").val();
        var BankName = $("#BankName_TXTid").val();



        var validationMessage = "";
        var hasError = false;

        if (AccountNumber === "") {
            validationMessage += "Account Number <br>";
            hasError = true;
        }
        if (BankName === "") {
            validationMessage += "Bank Name <br>";
            hasError = true;
        }



        if (hasError) {
            $('#validation2').html("Following fields have invalid data :");
            $("#validationMessage").html(validationMessage);
            return false; // Return false to prevent form submission
        } else {
            $("#validationMessage").html("");
            return true; // Return true to proceed with form submission
        }
    }
    /*--------------------------  VALIDATION FUNCTION END -------------------------- */






    /*--------------------------  Create New Fee Type Functions Start -------------------------- */
    function Save_BankAccount(event) {
        event.preventDefault();

         debugger;
        if (validateForm()) {

            $('#validation2').text('');
            $('#MessageID').text('');
            debugger;
            var formDataArray = $(this).serializeArray();

            // Add additional values to the formDataArray

            debugger;
            //exec stp_tblInstanceBankAccounts_INSERT InstanceId=545,AccountNumber='123456789',BankName='ABCD',Address='Bank Branch Address',BranchCode='154263',IFCcode='1452369871',Description='Description',AccountName=default,Swiftcode=default,CreatedBy=217606,CreatedDate='2023-07-15 15:40:06.660'

            var AccountNumber = $("#AccountNumber_TXTid").val();
            var BankName = $("#BankName_TXTid").val();
            var Address = $("#Bank_Branch_Address_TXTid").val();

            var BranchCode = $("#BranchCode_TXTid").val();
            var IFCcode = $("#IFSCCODE_TXTid").val();
            var Description = $("#Description_TXTid").val();


            formDataArray.push({ name: 'AccountNumber', value: AccountNumber });
            formDataArray.push({ name: 'BankName', value: BankName });
            formDataArray.push({ name: 'Address', value: Address });
            formDataArray.push({ name: 'BranchCode', value: BranchCode });
            formDataArray.push({ name: 'IFCcode', value: IFCcode });
            formDataArray.push({ name: 'Description', value: Description });

            // Convert the formDataArray back to serialized form data
            var formData = $.param(formDataArray);


            // Perform AJAX POST request
            $.ajax({
                url: '/FeeSection/Manage_Bank_Accounts', // Replace with the actual URL and controller name
                type: 'POST',
                data: formData,
                success: function (response) {
                    debugger;
                   /* alert(response);*/
                    if (response == "0") {

                        $("#MessageID").text("Record Not inserted ");

                    }
                    else if (response == response) {
                        $("#MessageID").text("Record inserted successfully!");
                    }
                    else {
                        // Handle the case when the record insertion fails
                        $("#MessageID").text("Failed to insert the record. Please try again.");
                        // Perform any additional error handling or display error messages
                    }
                },
                error: function (xhr, status, error) {
                    // Handle errors
                }
            });
        }
    }

    /*-------------------------- Create New Fee Type Functions End---------------------------------------------*/

    /*--------------------------  Delete FUNCTION START-------------------------- */
    $('#BankAccounts_Table').on('click', '.fa-trash-alt', function () {
        var row = $(this).data('row');
        debugger;
        var InstanceId = $(this).closest('tr').find('td:nth-child(5)').text();
        var BankAccountId = $(this).closest('tr').find('td:nth-child(6)').text();
       
          //alert('InstanceId=' + InstanceId + ',BankAccountId=' + BankAccountId);


        if (confirm('Are you sure you want to delete the Bank Name?\nClick ' + 'OK' + ' to delete or ' + 'Cancel' + 'to stop deleting.')) {
            deleteFeeType(InstanceId, BankAccountId, row);
        }
    });

    function deleteFeeType(InstanceId, BankAccountId, row) {

        debugger;

        $.ajax({
            url: '/FeeSection/Bank_account_Delete',
            method: 'POST',
            data: {
                InstanceId: InstanceId,
                BankAccountId: BankAccountId
            },
            success: function (response) {
                debugger;
                if (response == '0') {
                    debugger;
                    $('#ErrorMessage_SpanId').text('Record deleted successfully.');

                    row.remove();

                    ManageBankAccounts_TbLData_function();

                    window.scrollTo(0, 0);
                } else if (response == '001324') {
                    $('#ErrorMessage_SpanId').text('Some fee installments are already associated with this Bank Account. So you cannot delete this account.');
                    row.find('td:eq(4)').empty();
                } else  {
                    $('#ErrorMessage_SpanId').text('Record not deleted.');
                }               
            },
            error: function () {
                console.log('Error deleting Fee Type.');
            }
        });
    }
    /*--------------------------  Delete FUNCTION END -------------------------- */



    /*---------------------------------  Edit Fields Geting values To pass parameter Action Method and Append that values In fileds function code start---------------------------------  */

    function BankAccount_Edit(bankAccountId) {
        debugger;
        $('#UpdateMessageID').text('');
        $('#UpdatevalidationMessage').text('');
        $('#Updatevalidation2').text('');

        $.ajax({
            url: '/FeeSection/Bank_Account_EditGet', // Update with the appropriate URL
            method: 'GET',
            data: {
                BankAccountId: bankAccountId
            },
            success: function (response) {
                debugger;


                $('#Instance_EditTXTid').val(response.instanceId);
                $('#BankAccontid_EditTXTid').val(response.bankAccountId);
                $('#BankName_EditTXTid').val(response.bankName);
                $('#AccountNumber_EditTXTid').val(response.accountNumber);

                $('#BranchCode_EditTXTid').val(response.branchCode);

                $('#IFSCCODE_EditTXTid').val(response.ifCcode);
                $('#Bank_Branch_address_EditTXTid').val(response.address);
                $('#description_EditTXTid').val(response.description);


                // Show the update section
                $('#M_Bank_Ac_Tbl_Divid').hide();
                $('#CreateBankAccount_Divid').hide();
                $('#UpdateBank_Account_Divid').show();

            },
            error: function () {
                console.log('Error fetching Fee Type data.');
            }
        });
    }
    /*---------------------------------  Edit Fields Geting values To pass parameter Action Method and Append that values In fileds function code End---------------------------------  */


    /*---------------------------------  IN EDIT VIEW  BACK TO SEARCH HIDE SOME DIV IDS AND SHOW SOME DIV IDS FUNCTION CODE START ---------------------------------  */

    function EditTobackSearch(event) {

        event.preventDefault();

        ManageBankAccounts_TbLData_function();
        $("#ErrorMessage_SpanId").html('');
        $("#MessageID").html('');

        $("#UpdateMessageID").html('');
        $("#UpdatevalidationMessage").text('');

        $('#M_Bank_Ac_Tbl_Divid').show();
        $('#CreateBankAccount_Divid').hide();
        $('#UpdateBank_Account_Divid').hide();

    }
    /*---------------------------------  IN EDIT VIEW  BACK TO SEARCH HIDE SOME DIV IDS AND SHOW SOME DIV IDS FUNCTION CODE END ---------------------------------  */

   


    /*---------------------------------  Update validateForm code Start---------------------------------  */

    function UpdatevalidateForm() {
        debugger;

        var BankName = $('#BankName_EditTXTid').val();

        var AccountNumber = document.getElementById("AccountNumber_EditTXTid").value;

        var Update_validationMessage = "";
        var hasError = false;

        if (BankName === "") {
            Update_validationMessage += "Bank Name is required.<br>";
            hasError = true;
        }
        if (AccountNumber === "") {
            Update_validationMessage += "Account Number is required.<br>";
            hasError = true;
        }

        if (hasError) {
            $('#Updatevalidation2').html("Following fields have invalid data :");
            $("#UpdatevalidationMessage").html(Update_validationMessage);
            return false; // Return false to prevent form submission
        } else {
            $("#UpdatevalidationMessage").html("");
            return true; // Return true to proceed with form submission
        }
    }

    /*---------------------------------  Update validateForm code End---------------------------------  */





    /*---------------------------------  Update Field Geting values function code Start---------------------------------  */

    function UpdateBankAccount(event) {
        event.preventDefault();


        /*------- Update Validation calling this--------------------*/
        if (UpdatevalidateForm()) {

            $('#UpdatevalidationMessage').text('');
            $('#Updatevalidation2').text('');
            $('#UpdateMessageID').text('');
            //exec stp_tblFeeTerms_UPDATE FeeTermId=4616,InstanceId=545,AcademicYearId=2956,TermName='test12345',Description='sdsdf',UpdatedBy=217606,UpdatedDate='2023-07-15 10:58:58.960',FeeTypeIds='1467'
            debugger;

            var InstanceId = $("#Instance_EditTXTid").val();
            var BankAccountId = $("#BankAccontid_EditTXTid").val();
            var AccountNumber = $("#AccountNumber_EditTXTid").val();
            var BankName = $("#BankName_EditTXTid").val();
            var Address = $("#Bank_Branch_address_EditTXTid").val();

            var BranchCode = $("#BranchCode_EditTXTid").val();
            var IFCcode = $("#IFSCCODE_EditTXTid").val();
            var Description = $("#description_EditTXTid").val();

            var UpdateBA_Data = {
                BankAccountId: BankAccountId,
                InstanceId: InstanceId,
                AccountNumber: AccountNumber,
                BankName: BankName,
                Address: Address,
                BranchCode: BranchCode,
                IFCcode: IFCcode,
                Description: Description
            };

            // Call the Update  ManageFeeTypes function and pass the form data
            Update_Bank_Acoounts(UpdateBA_Data);

        }
    }

    /*---------------------------------  Update Field Geting values function code End---------------------------------  */




    /*---------------------------------  Update Field Geting values tTo pass Action Method function code Start---------------------------------  */

    function Update_Bank_Acoounts(UpdateBA_Data) {

        /*var F_T_Name = document.getElementById("feeTypeTextEdit_Value").value;*/

        $.ajax({
            url: '/FeeSection/ManageBankAccount_EditUpdate',
            method: 'POST',
            data: UpdateBA_Data,
            success: function (response) {
                // Handle the response as needed
                debugger;
                console.log(response);
                if (response == "1") {

                    $("#UpdateMessageID").text("Record updated successfully.");

                }

                else if (response == "2") {
                    $("#UpdateMessageID").text("Record updated successfully.");
                }
                else if (response == "0") {

                    $("#UpdateMessageID").text("Fee Type with Name " + '"' + feeType + '"' + " already exists.");

                } else if (response == "") {

                    $('#UpdateMessageID').text('Record updated successfully.');
                }
                else {
                    // Handle the case when the record insertion fails
                    $("#UpdateMessageID").text("Failed to insert the record. Please try again.");
                    // Perform any additional error handling or display error messages
                }
            },
            error: function () {
                console.log('Error saving fee type.');
            }
        });
    }

    /*---------------------------------  Update Field Geting values tTo pass Action Method function code End---------------------------------  */


    /*---------------------------------  Update Update_View_Delete Action Method function code start---------------------------------  */


    function Update_View_Delete(event) {
        debugger;

        event.preventDefault();

        var InstanceId = $("#Instance_EditTXTid").val();
        var BankAccountId = $("#BankAccontid_EditTXTid").val();

        

        if (confirm('Are you sure you want to delete this Fee Term?\nClick ' + 'OK' + ' to delete or ' + 'Cancel' + ' to stop deleting.')) {

            $.ajax({
                url: '/FeeSection/Bank_account_Delete',
                method: 'POST',
                data: {
                    InstanceId: InstanceId,
                    BankAccountId: BankAccountId
                },
                success: function (response) {
                    debugger;

                    if (response == '0') {
                        debugger;
                        $('#ErrorMessage_SpanId').text('Record deleted successfully.');

                        $('#M_Bank_Ac_Tbl_Divid').show();
                        $('#CreateBankAccount_Divid').hide();
                        $('#UpdateBank_Account_Divid').hide();

                        debugger;
                        ManageBankAccounts_TbLData_function();

                      
                    } else if (response == '001324') {
                        $('#ErrorMessage_SpanId').text('Some fee installments are already associated with this Bank Account. So you cannot delete this account.');
                       
                    } else {
                        $('#ErrorMessage_SpanId').text('Record not deleted.');
                    }                   
                }
            });
        }

    }

    /*---------------------------------  Update Update_View_Delete Action Method function code End---------------------------------  */




</script>

@*----------------//////--MANAGE BANK ACCOUNT CODE END--//////-------------------------*@