
@{
    ViewData["Title"] = "ReportOrganisationFeeSummary";
    Layout = null;
}

<div class="card" id="Reportsummary1">

    @*<h5 class="card-header">Dark Table head</h5>*@
    <label class="form-check-label">NOTE:Pocket Money Details are not included in the Fee Details.Click on the below link to view Pocket Money Details.</label>

    <a onclick="bindpockettable()">
        <span>View Pocket money Details</span>
    </a>
    <div class="table-responsive text-nowrap mb-3">
        
        <div id="appendpocketmoney">


        </div>
       
    </div>

    <div class="table-responsive text-nowrap">
       
        <div id="appendinsidetablemain">


        </div>
       
    </div>
</div>


