@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="default-according style-1">

    @*========================== SAVE LEAVE DELEGATION Card====================*@
    <div class="card mb-4" id="SearchPage">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">
                <span>
                    LEAVE DELEGATION
                </span>
            </h5><small class="required">INDICATE REQUIRED FEILDS</small>
        </div>
        <div class="card-body">
            <form id="FmAddLeaveDelegationPage_SaveDetails">
                <div class="row">
                    <div class="col">
                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Department</label>
                            <div class="col-sm-4 ">
                                <div class="position-relative">
                                    <select id='DdlDepartment' class="select2 form-select select2-hidden-accessible" name="InstanceClassificationId" asp-items="@(new SelectList(""))">
                                        <option value=''>---------Select---------</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">Role</label>
                            <div class="col-sm-4 ">
                                <div class="position-relative">
                                    <select id='DdlRole' class="select2 form-select select2-hidden-accessible" name="RoleId" onchange="GetApprovingAuthorityUserName_BY_SelectRoleId()" asp-items="@(new SelectList(""))">
                                        <option value=''>---------Select---------</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Approving Authority </label>
                            <div class="col-sm-4 ">
                                <div class="position-relative">
                                    <select id='DdlUser' class="select2 form-select select2-hidden-accessible" name="Userid" asp-items="@(new SelectList(""))">
                                        <option value=''></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Delegate To</label>
                            <div class="col-sm-4 ">
                                <span id="DelegationToName" style="color:red"></span>
                                <input type="hidden" name="DelegationId" id="HdnDelegationTo_UserId" />
                                &nbsp; <img id="ImgSelect" src="~/IconImages/ArrowMark.gif" />
                                <a id="LnkSelectUser" onclick="AddUserPage_PagePartialViewFunction()" style="font-weight:bold;cursor:pointer">Add User</a>
                            </div>
                        </div>
                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">From Date</label>
                            <div class="col-sm-4 ">
                                <input type="date" class="form-control" id="TxtFromDate" name="Fromdate" />
                            </div>
                        </div>

                        @*--------------------------*@
                        <div class="row mb-3 ">
                            <label class="col-sm-4 col-form-label  text-end required" for="basic-default-name">To Date</label>
                            <div class="col-sm-4 ">
                                <input type="date" class="form-control" id="TxtToDate" name="Todate" />
                            </div>
                        </div>

                        @*--------------------------*@
                        <input type="hidden" id="HdnLeaveDelegationId" name="LeaveDelegationId" />

                        @*--------------------------*@

                        @*--------------------------*@
                        <div class="row justify-content-end">
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-info waves-effect waves-light" id="BtnBack" onclick="BackTOSearhLeaveTypes('FmAddLeaveDelegationPage_SaveDetails')" value="Back">Back</button>
                                <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="FN_ClearValuesDeleigation('FmAddLeaveDelegationPage_SaveDetails')" value="Clear">Clear</button>
                                <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSaveId" onclick="SaveLeavedelegation(event)" value="Save">Save</button>
                            </div>
                        </div>
                        @*--------------------------*@
        
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@*-----AddUserPage_Div  Result page*@
<div id="AddUserPage_Div">
</div>
