
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>

    .arrow-list {
        list-style: none;
       
    }

   

    .arrow-right {
        margin-left: 5px;
        font-size: 12px;
        color: palevioletred;
    }

</style>

<div>   
    <ul class="arrow-list" id="Coollinkslist_Ul">
        @foreach (var link in Model)
        {
            <li>
                <span class="arrow-right">&#9654;</span>
                <a href="@link.LinkURL" target="_blank">@link.LinkName</a>
            </li>
        }
    </ul>
    <div id="Pagination_div" style="text-align:center;"></div>

</div>