@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Connect4m_Web.Models.ExaminationModel
@*_Create_Update_Pview_ManageExams*@

<div  id="accordionoc9">
    <div class="card  mb-4" id="CreateNewPage">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">
                <span id="AddNewText_Span_CreatePage">
                    SAVE EXAM NAME
                </span>
            </h5><span class="float-end required">INDICATES REQUIRED FIELDS</span>
        </div>
       
        <div class="card-body">
            @*<form id="FmExamsCreatePage" asp-action="ManageExams" asp-controller="Examination">*@
            <form id="FmExamsCreatePage">
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="Id" id="TxtExamidCreatePage">
                            <div class="mb-2 row">

                                <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Academic Year</label>
                                <div class="col-sm-4">
                                    <div class="position-relative">
                                        <select id='DdlAcademicYearCreatePage1' name="AcademicYearId" class="select2 form-select select2-hidden-accessible" asp-items="@(new SelectList(""))">
                                            <option value=''>---------Select--------</option>
                                            <option value="1737">2016-2017</option>
                                            <option value="1203">2015-2016</option>
                                            <option value="761">2014-2015</option>
                                            <option value="655">2013-2014</option>
                                            <option value="534">2011-2012</option>
                                            <option value="688">2009-2010</option>
                                            <option value="689">2008-2009</option>
                                            <option value="690">2007-2008</option>
                                            <option value="694">2006-2007</option>
                                            <option value="691">2005-2006</option>
                                            <option value="692">2004-2005</option>
                                            <option value="693">2003-2004</option>
                                        </select>
                                    </div>
                                </div>

                                <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Exam Name</label>
                                <div class="col-sm-4">
                                    <input type="text" id="TxtExamNameCreatePage1" name="ExamName" class="form-control" placeholder="Exam Name">
                                </div>
                            </div>

                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label text-end required" for="basic-default-name">Exam For</label>
                                <div class="col mt-2">
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="1" id="TermExam">
                                        <label class="form-check-label" for="TermExam">Term Exam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="3" id="KT">
                                        <label class="form-check-label" for="KT"> KT</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="4" id="ATKT">
                                        <label class="form-check-label" for="ATKT"> ATKT</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="5" id="FinalExam">
                                        <label class="form-check-label" for="FinalExam"> Final Exam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="0" id="Admissions">
                                        <label class="form-check-label" for="Admissions"> Admissions</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="ExamForAcademics" class="form-check-input check" type="radio" value="2" id="University">
                                        <label class="form-check-label" for="University"> University</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-2 row">
                                <label class="col-sm-2 col-form-label text-end " for="basic-default-name">Display Order</label>
                                <div class="col-sm-4">
                                    <input type="text" id="TxtDisplayorderCreatePage" name="Displayorder" class="form-control" placeholder="Display Order" maxlength="3" oninput="restrictCharacters(this)">
                                    
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="BackTOSearhExams(event)" id="BtnBacktosearch">Back to Search</button>
                                    @*<button type="reset" class="btn btn-warning waves-effect waves-light" onclick="CommonClearFunction('FmExamsCreatePage')" id="BtnClear">Clear</button>*@
                                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="Clearfun('FmExamsCreatePage')" id="BtnClear">Clear</button>

                                <button type="button" class="btn btn-danger waves-effect waves-light" id="Deletebtn" value="Delete" style="display:none;">Delete</button>

                                    <button type="submit" class="btn btn-success waves-effect waves-light" onclick="SaveExams(event,'FmExamsCreatePage')" id="BtnSave">Save</button>

                                </div>
                            </div>

                        </div>
                    </div>
               
            </form>
        </div>

    </div>
</div>


