@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .Scrolling {    
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        animation: scroll 10s linear infinite;
        transform-origin: bottom;
        font-weight: 400;
        color: black;
    }
        .Scrolling:hover {
            animation-play-state: paused;
        }

@@keyframes scroll {
    0% {
        transform: translateY(100%); /* Start from below the element */
    }
    100% {
        transform: translateY(-100%); /* Scroll text to the top */
    }

}
.scrolling-container {
        white-space: nowrap;
        overflow-x: auto;
        width: 109%;
        height: 200px;
    }

    .item {
        display: inline-block;
        margin-right: 20px; /* Adjust spacing between items as needed */
        padding: 6px;
    }
</style>

<div class="scrolling-container">
    <ul class="Scrolling">
        @foreach (var item in Model)
        {
            <li  class="item"  style=" color: #151316; font-size: 11px; font-weight: bold; font-style: normal;">
                @item.Subject      <span> <br />@item.createddate             </span>
            </li>           
        }
    </ul>
</div>