@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

        <div class="card mb-4" id="SearchPage">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span>
                        SEARCH LEAVE TYPES
                    </span>
                </h5>
            </div>

            <div class="card-body">
                <form id="FmSearchLeavesType">
                        <div class="row">
                            <div class="col">


                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Leave Type</label>
                                    <div class="col-sm-4 ">
                                        <input type="text" class="form-control" id="TxtLeavetype" placeholder="Leave Type">

                                    </div>
                                </div>

                                @*--------------------------*@
                                <div class="row mb-3 ">
                                    <label class="col-sm-4 col-form-label  text-end " for="basic-default-name">Description</label>
                                    <div class="col-sm-4 ">
                                        <textarea class="form-control" id="TxtDescription" onkeyup="CharacterCountingFunction('TxtDescription','250','TextareacountSPAN')" maxlength="250" rows="3" placeholder="Description"></textarea>
                                        <span class="text-danger" id="TextareacountSPAN"></span>

                                    </div>
                                </div>
                                @*--------------------------*@

                                <div class="row justify-content-end">
                                    <div class="col-sm-12">
                                        <button type="reset" class="btn btn-warning waves-effect waves-light" id="BtnClearSearchForm" onclick="FN_ClearValues('FmSearchLeavesType','TxtDescription')">Clear</button>
                                        <button type="submit" class="btn btn-success waves-effect waves-light" id="BtnSearchId" onclick="LeaveTypesCAllingTableView(event)">Search</button>
                                    </div>
                                </div>
                                @*--------------------------*@

                            </div>
                        </div>
                  
                </form>
            </div>
        </div>
      
    @*searched result table*@
    <div id="LeaveTypesCAllingTableView_Id">

    </div>




