
@{
    Layout = null;
}

<table style=" border: 1px solid #66a8ec; width: 100%; border-collapse: separate;">
    <tbody>
        <tr>
            <th style=" background-color: #E8E8E8; font-size: 14px; font-weight: 700; height: 26px; text-align: center; color: black;">Question</th>
            <th style=" background-color: #E8E8E8; font-size: 14px; font-weight: 700; height: 26px; text-align: center; color: black;">Description</th>
            <th style=" background-color: #E8E8E8; font-size: 14px; font-weight: 700; height: 26px; text-align: center; color: black;">Posted By</th>
        </tr>
        @foreach (var item in ViewBag.PostedQuestions)
        {
            <tr>
                <td style="font-size: 10px; border: 1px solid #dbdbdb; height: 24px;">@item.Question</td>
                <td style="font-size: 10px;border: 1px solid #dbdbdb;height: 24px;">@item.Description</td>
                <td style="font-size: 10px;border: 1px solid #dbdbdb;height: 24px;">@item.FirstName on <b>@item.CreatedDate</b></td>
            </tr>
        }
    </tbody>
</table>