@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Insatnceids
@{
    ViewData["Title"] = "SchoolWelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <input type="hidden" value="@ViewBag.Instanceid" asp-for="InstanceId" />
            <input type="hidden" value="@ViewBag.LoginUserId" asp-for="UserId" />
            <!-- View sales -->
            <div class="col-xl-6 mb-4 col-lg-6 col-12">
                <div class="accordion mt-3" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                @ViewBag.items
                            </button>
                        </h2>

                        <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Flassnews_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample2">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="true" aria-controls="accordionThree">
                                @ViewBag.itemss
                            </button>
                        </h2>

                        <div id="accordionThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span> E - NOTICE BOARD</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample4">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingFive">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="true" aria-controls="accordionFive">
                                COOL LINKS
                            </button>
                        </h2>

                        <div id="accordionFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample4" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Coollinks_PartailConatiner">


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample6">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingSeven">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionSeven" aria-expanded="true" aria-controls="accordionSeven">
                                TIME TABLE
                            </button>
                        </h2>

                        <div id="accordionSeven" class="accordion-collapse collapse show" data-bs-parent="#accordionExample6" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span> TIME TABLE</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample8">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingNine">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionNine" aria-expanded="true" aria-controls="accordionNine">
                                STUDENT(S) UNDER WITHDRAWAL PROCESS
                            </button>
                        </h2>

                        <div id="accordionNine" class="accordion-collapse collapse show" data-bs-parent="#accordionExample8" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>STUDENT(S) UNDER WITHDRAWAL PROCESS</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample10">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingEleven">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionEleven" aria-expanded="true" aria-controls="accordionEleven">
                                CALENDAR
                            </button>
                        </h2>

                        <div id="accordionEleven" class="accordion-collapse collapse show" data-bs-parent="#accordionExample10" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>CALENDAR</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- View sales -->
            <!-- Statistics -->
            <div class="col-xl-6 mb-4 col-lg-6 col-12">
                <div class="accordion mt-3" id="accordionExample1">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="true" aria-controls="accordionTwo">
                                BIRTHDAYS IN SCHOOL FOR THE DAY
                            </button>
                        </h2>

                        <div id="accordionTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>Birthdays in School for the Day</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample3">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingFour">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="true" aria-controls="accordionFour">
                                ABSENTEE STUDENTS FOR THE DAY
                            </button>
                        </h2>

                        <div id="accordionFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample3" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>
                                    ABSENTEE STUDENTS FOR THE DAY
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample5">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingSix">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionSix" aria-expanded="true" aria-controls="accordionSix">
                                LEAVE STATUS
                            </button>
                        </h2>

                        <div id="accordionSix" class="accordion-collapse collapse show" data-bs-parent="#accordionExample5" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>
                                    LEAVE STATUS
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample7">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingEight">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionEight" aria-expanded="true" aria-controls="accordionEight">
                                NEW ADMISSION(S)
                            </button>
                        </h2>

                        <div id="accordionEight" class="accordion-collapse collapse show" data-bs-parent="#accordionExample7" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>
                                    NEW ADMISSION(S)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion mt-3" id="accordionExample9">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingTen">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionTen" aria-expanded="true" aria-controls="accordionTen">
                                QUESTIONS POSTED TO ME
                            </button>
                        </h2>

                        <div id="accordionTen" class="accordion-collapse collapse show" data-bs-parent="#accordionExample9" style="">

                            <div class="accordion-body" style="min-height:250px;">
                                <span>
                                    QUESTIONS POSTED TO ME
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/ Statistics -->
        </div>
    </div>
</body>
</html>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
   $(document).ready(function () {


       //function Calendarevents() {
       //    $.ajax({
       //        url: url,
       //        type: method,
       //        data: data,
       //        success: successCallback,
       //        error: function (xhr, status, error) {
       //            errorCallback(xhr.status, error);
       //        }
       //    });
       //}

       function CallToAjax(method, url, successCallback, errorCallback) {
                $.ajax({
                    url: url,
                    type: method,
                    success: successCallback,
                    error: function (xhr, status, error) {
                        errorCallback(xhr.status, error);
                    }
                });
            }

       CallToAjax('GET', '/UserScreens/Coollinks',
           function (response) {
               $('#Coollinks_PartailConatiner').html(response);
               pagination();
           },
           function (status, error) {
               // Handle error if needed
           }
       );
       CallToAjax('GET', '/UserScreens/LeaveStatus',
           function (response) {
               $('#Leavestatus_PartailConatiner').html(response);

           },
           function (status, error) {
               // Handle error if needed
           }
       );
       CallToAjax('GET', '/UserScreens/Absenteestudentsfortheday',
           function (response) {
               
               $('#Absenteestudents_PartailConatiner').html(response);
               
           },
           function (status, error) {
               // Handle error if needed
           }
       );

 

       CallToAjax('GET', '/UserScreens/PostedQuestions',
           function (response) {

               $('#PostedQuestion_Containerdiv').html(response);

           },
           function (status, error) {
               // Handle error if needed
           }
       );



       CallToAjax('GET', '/UserScreens/CalendarEvents',
           function (response) {

               $('#EventsCalenderdiv').html(response);

           },
           function (status, error) {
               // Handle error if needed
           }
       );
       var FlassNews = $('#FlassNewsbtn').val();
       var FlassNewsIsGlobalNotice = $('#FlassNewsbtn').attr('title');     

       var dataToSend = {
           ENoticeType: FlassNews,
           IsGlobalNotice: FlassNewsIsGlobalNotice
       };
       datawithAjax('GET', '/UserScreens/FlashNews', dataToSend,
           function (response) {
               $('#Flassnews_PartailConatiner').html(response);
           },
           function (status, error) {
               // Handle error if needed
           }
       );

       function datawithAjax(method, url, data, successCallback, errorCallback) {
           $.ajax({
               url: url,
               type: method,
               data: data,
               success: successCallback,
               error: function (xhr, status, error) {
                   errorCallback(xhr.status, error);
               }
           });   
       }

       
       var ENoticeType = $('#ENoticebtn').val();
       var IsGlobalNotice = $('#ENoticebtn').attr('title');
       
       var dataToSend = {
           ENoticeType: ENoticeType,
           IsGlobalNotice: IsGlobalNotice
       };
       datawithAjax('GET', '/UserScreens/E_Noticeboard', dataToSend,
           function (response) {
               $('#EnoticeConatiner').html(response);
           },
           function (status, error) {
               // Handle error if needed
           }
       );
   });

    function pagination() {
        debugger;
        var listId = 'Coollinkslist_Ul';
        var paginationDiv = document.getElementById('Pagination_div');
        var itemsPerPage = 10;
        var currentPage = 1;
        var list = document.getElementById(listId);
        var items = Array.from(list.getElementsByTagName('li'));
        var numItems = items.length;
        var totalPages = Math.ceil(numItems / itemsPerPage);

        debugger;

        if (numItems >= itemsPerPage) {
            function showPage(page) {
                currentPage = page;
                var startIndex = (page - 1) * itemsPerPage;
                var endIndex = Math.min(startIndex + itemsPerPage, numItems);

                items.forEach(function (item) {
                    item.style.display = 'none';
                });

                for (var i = startIndex; i < endIndex; i++) {
                    items[i].style.display = 'list-item';
                }
            }

            function updatePagination() {
                paginationDiv.innerHTML = '';

                for (var i = 1; i <= totalPages; i++) {
                    var link = document.createElement('a');
                    link.href = '#';
                    link.textContent = i;
                    link.classList.add('pagination-link');
                    link.dataset.page = i;
                    link.addEventListener('click', function (e) {
                        e.preventDefault();
                        var page = parseInt(this.dataset.page);
                        showPage(page);
                        updatePagination();
                    });

                    if (i === currentPage) {
                        link.classList.add('current-page');
                        link.style.cursor = 'unset';
                        link.style.fontWeight = 'bold';
                        link.style.color = '#ff0000';
                        link.style.margin = '0px 5px';
                    }
                    paginationDiv.appendChild(link);
                }
            }

            showPage(currentPage);
            updatePagination();
        }
    }

</script>