@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Insatnceids
@{
    ViewData["Title"] = "SchoolWelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl-6 mb-4 col-lg-6 col-12"  id="Firstdiv">
                <div class="accordion mt-3" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageFirstbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne"></button>
                        </h2>
                        <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="First_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Twodiv">
                <div class="accordion mt-3" id="accordionExample2">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageSecoundbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordiontwo" aria-expanded="true" aria-controls="accordiontwo"></button>
                        </h2>
                        <div id="accordiontwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Two_PartailConatiner">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Threediv">
                <div class="accordion mt-3" id="accordionExamplethree">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageThirdbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionthree" aria-expanded="true" aria-controls="accordionthree"></button>
                        </h2>
                        <div id="accordionthree" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplethree" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Third_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Fourdiv">
                <div class="accordion mt-3" id="accordionExamplefour">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageFourthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionfour" aria-expanded="true" aria-controls="accordionfour"></button>
                        </h2>
                        <div id="accordionfour" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplefour" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Four_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Fivediv">
                <div class="accordion mt-3" id="accordionExamplefive">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageFifthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionfive" aria-expanded="true" aria-controls="accordionfive"></button>
                        </h2>
                        <div id="accordionfive" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplefive">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Five_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Sixdiv">
                <div class="accordion mt-3" id="accordionExamplesix">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageSixthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionsix" aria-expanded="true" aria-controls="accordionsix"></button>
                        </h2>
                        <div id="accordionsix" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplesix" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Sixth_PartailConatiner"  style="height: 250px; overflow-y: scroll; padding: 10px; margin: 0px 0px 0px 11px; ">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Sevendiv">
                <div class="accordion mt-3" id="accordionExampleseven">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageSeventhbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionseven" aria-expanded="true" aria-controls="accordionseven"></button>
                        </h2>
                        <div id="accordionseven" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleseven">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Eightdiv">
                <div class="accordion mt-3" id="accordionExampleeight">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageEighthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordioneight" aria-expanded="true" aria-controls="accordioneight"></button>
                        </h2>
                        <div id="accordioneight" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleeight" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Ninediv">
                <div class="accordion mt-3" id="accordionExamplenine">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageNinthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionnine" aria-expanded="true" aria-controls="accordionnine"></button>
                        </h2>
                        <div id="accordionnine" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplenine">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Tendiv">
                <div class="accordion mt-3" id="accordionExampleten">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageTenthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionten" aria-expanded="true" aria-controls="accordionten"></button>
                        </h2>
                        <div id="accordionten" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleten" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Tenth_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-12 mb-4 col-lg-6 col-12" id="Elevendiv">
                <div class="accordion mt-3" id="accordionExampleeleven">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="SchoolwellcomepageEleventhbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordioneleven" aria-expanded="true" aria-controls="accordioneleven"></button>
                        </h2>
                        <div id="accordioneleven" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleeleven" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Eleven_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Schoolwelcomepage.js"></script>

@*<script>

    //    function CallToAjax(method, url, successCallback, errorCallback) {
    //        $.ajax({
    //            url: url,
    //            type: method,
    //            success: successCallback,
    //            error: function (xhr, status, error) {
    //                errorCallback(xhr.status, error);
    //            }
    //        });
    //    }

    //--------------->7
    //    CallToAjax('GET', '/UserScreens/Coollinks',
    //        function (response) {
    //            $('#Coollinks_PartailConatiner').html(response);
    //            pagination();
    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );
    //----------------->6
    //    CallToAjax('GET', '/UserScreens/LeaveStatus',
    //        function (response) {
    //            $('#Leavestatus_PartailConatiner').html(response);

    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );
    //-------------->5
    //    CallToAjax('GET', '/UserScreens/Absenteestudentsfortheday',
    //        function (response) {

    //            $('#Absenteestudents_PartailConatiner').html(response);

    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );


    //------------->4
    //    CallToAjax('GET', '/UserScreens/PostedQuestions',
    //        function (response) {

    //            $('#PostedQuestion_Containerdiv').html(response);

    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );


    //------------>3
    //    CallToAjax('GET', '/UserScreens/CalendarEvents',
    //        function (response) {

    //            $('#EventsCalenderdiv').html(response);

    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );
    //-------------->2
    //    var FlassNews = $('#FlassNewsbtn').val();
    //    var FlassNewsIsGlobalNotice = $('#FlassNewsbtn').attr('title');

    //    var dataToSend = {
    //        ENoticeType: FlassNews,
    //        IsGlobalNotice: FlassNewsIsGlobalNotice
    //    };
    //    datawithAjax('GET', '/UserScreens/FlashNews', dataToSend,
    //        function (response) {
    //            $('#PartailConatiner').html(response);
    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );

    //    function datawithAjax(method, url, data, successCallback, errorCallback) {
    //        $.ajax({
    //            url: url,
    //            type: method,
    //            data: data,
    //            success: successCallback,
    //            error: function (xhr, status, error) {
    //                errorCallback(xhr.status, error);
    //            }
    //        });
    //    }

    ///-------------->1
    //    var ENoticeType = $('#ENoticebtn').val();
    //    var IsGlobalNotice = $('#ENoticebtn').attr('title');

    //    var dataToSend = {
    //        ENoticeType: ENoticeType,
    //        IsGlobalNotice: IsGlobalNotice
    //    };
    //    datawithAjax('GET', '/UserScreens/E_Noticeboard', dataToSend,
    //        function (response) {
    //            $('#EnoticeConatiner').html(response);
    //        },
    //        function (status, error) {
    //            // Handle error if needed
    //        }
    //    );
    //});
    //-------------->1
    //function pagination() {
    //    debugger;
    //    var listId = 'Coollinkslist_Ul';
    //    var paginationDiv = document.getElementById('Pagination_div');
    //    var itemsPerPage = 10;
    //    var currentPage = 1;
    //    var list = document.getElementById(listId);
    //    var items = Array.from(list.getElementsByTagName('li'));
    //    var numItems = items.length;
    //    var totalPages = Math.ceil(numItems / itemsPerPage);

    //    debugger;

    //    if (numItems >= itemsPerPage) {
    //        function showPage(page) {
    //            currentPage = page;
    //            var startIndex = (page - 1) * itemsPerPage;
    //            var endIndex = Math.min(startIndex + itemsPerPage, numItems);

    //            items.forEach(function (item) {
    //                item.style.display = 'none';
    //            });

    //            for (var i = startIndex; i < endIndex; i++) {
    //                items[i].style.display = 'list-item';
    //            }
    //        }

    //        function updatePagination() {
    //            paginationDiv.innerHTML = '';

    //            for (var i = 1; i <= totalPages; i++) {
    //                var link = document.createElement('a');
    //                link.href = '#';
    //                link.textContent = i;
    //                link.classList.add('pagination-link');
    //                link.dataset.page = i;
    //                link.addEventListener('click', function (e) {
    //                    e.preventDefault();
    //                    var page = parseInt(this.dataset.page);
    //                    showPage(page);
    //                    updatePagination();
    //                });

    //                if (i === currentPage) {
    //                    link.classList.add('current-page');
    //                    link.style.cursor = 'unset';
    //                    link.style.fontWeight = 'bold';
    //                    link.style.color = '#ff0000';
    //                    link.style.margin = '0px 5px';
    //                }
    //                paginationDiv.appendChild(link);
    //            }
    //        }

    //        showPage(currentPage);
    //        updatePagination();
    //    }
    //}

</script>*@