@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Insatnceids
@{
    ViewData["Title"] = "SchoolWelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl-6 mb-4 col-lg-6 col-12"  id="Firstdiv">
                <div class="accordion mt-3" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageFirstbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne"></button>
                        </h2>
                        <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="First_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Twodiv">
                <div class="accordion mt-3" id="accordionExample2">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageSecoundbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordiontwo" aria-expanded="true" aria-controls="accordiontwo"></button>
                        </h2>
                        <div id="accordiontwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Two_PartailConatiner">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Threediv">
                <div class="accordion mt-3" id="accordionExamplethree">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageThirdbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionthree" aria-expanded="true" aria-controls="accordionthree"></button>
                        </h2>
                        <div id="accordionthree" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplethree" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Third_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Fourdiv">
                <div class="accordion mt-3" id="accordionExamplefour">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageFourthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionfour" aria-expanded="true" aria-controls="accordionfour"></button>
                        </h2>
                        <div id="accordionfour" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplefour" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Four_PartailConatiner" style="height: 250px; overflow-y: scroll;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Fivediv">
                <div class="accordion mt-3" id="accordionExamplefive">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header">
                            <button id="SchoolwellcomepageFifthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionfive" aria-expanded="true" aria-controls="accordionfive"></button>
                        </h2>
                        <div id="accordionfive" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplefive">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Five_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Sixdiv">
                <div class="accordion mt-3" id="accordionExamplesix">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header">
                            <button id="SchoolwellcomepageSixthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionsix" aria-expanded="true" aria-controls="accordionsix"></button>
                        </h2>
                        <div id="accordionsix" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplesix" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Sixth_PartailConatiner"  style="height: 250px; overflow-y: scroll; padding: 10px; margin: 0px 0px 0px 11px; ">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-xl-6 mb-4 col-lg-6 col-12" id="Sevendiv">
                <div class="accordion mt-3" id="accordionExampleseven">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header">
                            <button id="SchoolwellcomepageSeventhbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionseven" aria-expanded="true" aria-controls="accordionseven"></button>
                        </h2>
                        <div id="accordionseven" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleseven">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Seventh_PartailConatiner">-->
                                    @*Timetablefun*@
                                <!--</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Eightdiv">
                <div class="accordion mt-3" id="accordionExampleeight">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageEighthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordioneight" aria-expanded="true" aria-controls="accordioneight"></button>
                        </h2>
                        <div id="accordioneight" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleeight" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Eight_PartailConatiner" style="height: 250px; overflow-y: scroll; padding: 0px; margin: 0px 0px 0px 11px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 mb-4 col-lg-6 col-12" id="Ninediv">
                <div class="accordion mt-3" id="accordionExamplenine">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageNinthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionnine" aria-expanded="true" aria-controls="accordionnine"></button>
                        </h2>
                        <div id="accordionnine" class="accordion-collapse collapse show" data-bs-parent="#accordionExamplenine">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Ninth_PartailConatiner">
                                    @*Studentsunderwithdrawalfun*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xl-6 mb-4 col-lg-6 col-12" id="Tendiv">
                <div class="accordion mt-3" id="accordionExampleten">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageTenthbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionten" aria-expanded="true" aria-controls="accordionten"></button>
                        </h2>
                        <div id="accordionten" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleten" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Tenth_PartailConatiner" style="overflow-y: scroll;">
                                    PostedQuestions
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@


            <div class="col-xl-12 mb-4 col-lg-6 col-12" id="Elevendiv">
                <div class="accordion mt-3" id="accordionExampleeleven">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header"  >
                            <button id="SchoolwellcomepageEleventhbtn" type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordioneleven" aria-expanded="true" aria-controls="accordioneleven"></button>
                        </h2>
                        <div id="accordioneleven" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleeleven" style="">
                            <div class="accordion-body" style="min-height:250px;">
                                <div id="Eleven_PartailConatiner">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Schoolwelcomepage.js"></script>

