@*@model Connect4m_Web.Models.Attendenceproperites.UserScreen.NoticeTypes*@
@model Connect4m_Web.Models.Attendenceproperites.UserScreen.ENoticeTypes
@{
    ViewData["Title"] = "CreateSmsNNotice";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="col-md-12 col-lg-12 mb-3" id="Noticeandsms_Insertingdivid">
        <input type="hidden" id="ENoticesmsinsertedtxtid" />
        <span id="Errormessage" class="text-danger"></span>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    SAVE NOTICE
                </h5>
            </div>

            @*<div id="Noticeandsms_Insertingdivid">*@
            @*<div>
                    <span id="Errormessage" class="text-danger" style="position: fixed; margin: -20px 10px 0px 5px; "></span>
                </div>
                <div class="default-according style-1" id="accordionoc1">
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="collapsed  btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" style="width:99%;">
                                    <span class="Header_text_<span></span>">
                                        SAVE NOTICE
                                    </span>
                                </button>
                            </h5>
                        </div>*@



            <div class="card-body">
                <form id="Insert_Noticeandsms" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end required space">Notice Type</label>
                        <div class="col-sm-4">
                            <select id="ENoticeTypedd_Id" asp-for="ENoticeTypeId" asp-items="@ViewBag.NoticeTypedd" class="form-select select2 form-select select2-hidden-accessible">
                                <option value="">--Select--</option>

                            </select>
                            <span asp-validation-for="ENoticeTypeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end required space">Notice Subject</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" asp-for="Subject" id="Subjecttxtid" maxlength="1000" oninput="Letterscount()"></textarea>
                            <span id="LtCounts" style="font-size: 12px;"></span>
                            <span id="Ltlengths" style="font-size: 12px;"></span>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end  space">Description</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="ENoticeDescriptiontxt" asp-for="ENoticeDescription" maxlength="6500" oninput="remaingcount()"></textarea>
                            <span id="RCount" style="font-size: 12px;"></span>
                            <span id="RCountlength" style="font-size: 12px;"></span>
                        </div>
                    </div>

                    @*<div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="form-group col-2">
                            <label asp-for="ENoticeDescription" class="form-grop control-label space"> Description </label>
                        </div>
                        <div class="form-group col-4">
                            <textarea class="form-control" asp-for="ENoticeDescription"></textarea>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-2"></div>*@

                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end "></label>
                        <div class="col-sm-6">
                            <b> NOTE:</b> Invalid Characters in sending SMS:<b> % & < > "</b>
                            Some Characters like <b> ` ~ ^ + $</b> may not deliver properly to all mobiles.<br />
                            <b>Messages sent between 9PM and 9AM will be delivered after 9AM</b>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end required  space">Start Date</label>
                        <div class="col-sm-4">
                            <input type="date" id="StartDateid" asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>


                    @*<div class="col-1"></div>
                        <div class="col-3"></div>
                        <div class="form-group col-2">
                            <label asp-for="SDate" class="form-grop control-label required space">Start Date  </label>
                        </div>
                        <div class="form-group col-4">

                        </div>*@
                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end required  space">End Date</label>
                        <div class="col-sm-4">
                            <input type="date" id="EndDateid" asp-for="ExpiryDate" class="form-control" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                            <span class="text-danger compare"></span>
                            <span id="Ermsgsp" class="text-danger"></span>
                        </div>
                    </div>


                    @*<div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="form-group col-2"><label asp-for="ExDate" class="form-grop control-label required space">End Date  </label></div>
                        <div class="form-group col-4">
                            <input type="date" id="EndDate" asp-for="ExDate" class="form-control" />
                            <span asp-validation-for="ExDate" class="text-danger"></span>
                            <span class="text-danger compare"></span>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3"></div>*@
                    <div class="row mb-3">
                        <label class="control-label col-sm-4 col-form-label text-end   space">Attach document</label>
                        <div class="col-sm-4">
                            <input type="file" id="AttachedDocument" name="AttachedDocument" asp-for="AttachedDocument" class="form-control" />
                        </div>
                    </div>



                    @*<div class="form-group col-2">
                            <label class="form-grop control-label space"> Attach document </label>
                        </div>
                        <div class="form-group col-4">

                        </div>
                        <div class="col-3"></div>
                        <div class="col-3"></div>*@

                    <div class="row mb-3" id="NoticeDisplayloginrRadio_btn">
                        <label class="control-label col-sm-4 col-form-label text-end required space">Display this Notice in Login </label>
                        <div class="col-sm-4">
                            <div class="radio radio-primary">
                                <input id="radio55" type="radio" asp-for="ShowInLogin" name="radio1" value="0" checked>
                                <label class="mb-0" for="radio55">No</label>
                                <input id="radio55" type="radio" asp-for="ShowInLogin" name="radio1" value="1">
                                <label class="mb-0" for="radio55">Yes</label>
                            </div>
                        </div>
                    </div>



                    @*<div id="NoticeDisplayloginrRadio_btn" class="col-12" style="display: flex;">
                            <div class="col-3"></div>
                            <div class="form-group col-2" style=" text-align: right; margin-top: 7px;"><label asp-for="ShowInLogin" class="form-grop control-label required space">Display this Notice in Login   </label></div>
                            <div class="form-group col-4" style=" margin: 8px;">
                                <div class="radio radio-primary">
                                    <input id="radio55" type="radio" asp-for="ShowInLogin" name="radio1" value="0" checked>
                                    <label class="mb-0" for="radio55">No</label>
                                    <input id="radio55" type="radio" asp-for="ShowInLogin" name="radio1" value="1">
                                    <label class="mb-0" for="radio55">Yes</label>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-12" style="text-align: center;">
                            <button id="btnClear" class="btn btn-pill btn-outline-warning btn-air-warning">Clear</button>
                            <button id="btnBackToSearch" class="btn btn-pill btn-outline-secondary btn-sm">Back To Search</button>
                            <button id="btnppostthisnotice" class="btn btn-pill btn-outline-primary btn-aprimary">Post this Notice</button>
                            <button id="btnSave" class="btn btn-pill btn-outline-success btn-air-success">Save</button>
                            <button id="btnsaveandpost" class="btn btn-pill btn-outline-info btn-air-info">Save and Post</button>
                        </div>*@
                    <div class="row justify-content text-center">
                        <div class="col-sm-12">
                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="btnClear">Clear</button>
                            <button type="button" class="btn btn-dark waves-effect waves-light" id="btnBackToSearch">Back To Search</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light" id="btnppostthisnotice">Post this Notice</button>
                            <button type="submit" class="btn btn-success waves-effect waves-light" id="btnSave">Save</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="btnsaveandpost">Save and Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="Noticeandsms_Inserted_Postingemailorsmsdivid">

    </div>
</body>
</html>



<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>


@*<script src="~/js/CommonScripts.js"></script>
    <script src="~/js/Notice_sms.js"></script>*@

<script src="~/js/Managenotice_3.js"></script>