@model Connect4m_Web.Models.Attendenceproperites.UserScreen.NoticeTypes
@{
    ViewData["Title"] = "CreateSmsNNotice";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div id="Noticeandsms_Insertingdivid">
        <div>
            <span id="Errormessage" class="text-danger" style="position: fixed; margin: -20px 10px 0px 5px; "></span>
        </div>
        <div class="default-according style-1" id="accordionoc1">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-header bg-primary">
                    <h5 class="mb-0">
                        <button class="collapsed  btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" style="width:99%;">
                            <span class="Header_text_<span></span>">
                                SAVE NOTICE
                            </span>
                        </button>
                    </h5>
                </div>
                <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordionoc1" style="">
                    <div class="card-body">
                        <form id="Insert_Noticeandsms" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="form-group col-2">
                                        <label asp-for="ENoticeTypeId" class="form-grop control-label required space">Notice Type </label>                                       
                                    </div>
                                    <div class="form-group col-4">
                                        <select asp-for="ENoticeTypeId" asp-items="@ViewBag.NoticeTypedd" class="form-select" id="ENoticeTypedd_Id" style="width:90%;" >
                                            <option value="">---Select----</option>
                                        </select>
                                        <span asp-validation-for="ENoticeTypeId" class="text-danger"></span>
                                        @*@Html.DropDownListFor(Model => Model.CategoryName, (List<SelectListItem>)ViewBag.NoticeTypedd, "---Select----", new { @class = "form-select", @id = "ENoticeTypedd_Id", style = "width:90%;" })*@
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div class="form-group col-2">
                                        <label asp-for="Subject" class="form-grop control-label required space"> Notice Subject </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <textarea class="form-control" asp-for="Subject" id="Subjecttxtid"></textarea>
                                        <span asp-validation-for="Subject" class="text-danger"></span>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div class="form-group col-2">
                                        <label asp-for="ENoticeDescription" class="form-grop control-label space"> Description </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <textarea class="form-control" asp-for="ENoticeDescription"></textarea>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div class="col-2"></div>
                                    <div class="col-6" style="font-size: smaller; color: rgb(89, 92, 150); line-height: 16px; ">
                                        <b> NOTE:</b> Invalid Characters in sending SMS:<b> % & < > "</b>
                                        Some Characters like <b> ` ~ ^ + $</b> may not deliver properly to all mobiles.<br />
                                        <b>Messages sent between 9PM and 9AM will be delivered after 9AM</b>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3"></div>
                                    <div class="form-group col-2">
                                        <label asp-for="StartDate" class="form-grop control-label required space">Start Date  </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="date" id="StartDate" asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div class="form-group col-2"><label asp-for="ExpiryDate" class="form-grop control-label required space">End Date  </label></div>
                                    <div class="form-group col-4">
                                        <input type="date" id="EndDate" asp-for="ExpiryDate" class="form-control" />
                                        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                                        <span class="text-danger compare"></span>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div class="form-group col-2">
                                        <label class="form-grop control-label space"> Attach document </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="file" id="AttachedDocument" name="AttachedDocument" asp-for="AttachedDocument" class="form-control" />                                       
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>
                                    <div id="NoticeDisplayloginrRadio_btn" class="col-12" style="display: flex;">
                                        <div class="col-3"></div>
                                        <div class="form-group col-2" style=" text-align: right; margin-top: 7px;"><label asp-for="ShowInLogin" class="form-grop control-label required space">Display this Notice in Login   </label></div>
                                        <div class="form-group col-4" style=" margin: 8px;">
                                            <div class="radio radio-primary">
                                                <input id="radio1" type="radio" asp-for="ShowInLogin" name="radio1" value="0" checked>
                                                <label class="mb-0" for="radio1">No</label>
                                                <input id="radio2" type="radio" asp-for="ShowInLogin" name="radio1" value="1">
                                                <label class="mb-0" for="radio2">Yes</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" style="text-align: center;">

                                        <!--<button id="btnClear" class="btn btn-pill btn-outline-warning btn-air-warning">Clear</button>--> @*btnClear*@
                                        <!--<button id="btnBackToSearch" class="btn btn-pill btn-outline-secondary btn-sm">Back To Search</button>-->@*BacktosearchNotice_SaBtn*@
                                        <!--<button id="btnppostthisnotice" class="btn btn-pill btn-outline-primary btn-aprimary">Post this Notice</button>-->@*btnppostthisnotice*@
                                        <!--<button id="btnsubmit" class="btn btn-pill btn-outline-success btn-air-success">Save</button>-->   @*SaveNotice_SaBtn*@
                                        <!--<button id="btnsaveandpost" class="btn btn-pill btn-outline-info btn-air-info">Save and Post</button>-->@*btnSubmitandPost*@

                                        <input type="button" id="btnBackToSearch" class="btn btn-pill btn-outline-secondary btn-sm" value="Back To Search" />
                                        <input type="button" id="btnClear" class="btn btn-pill btn-outline-warning btn-air-warning" value="Clear" />
                                        <input type="submit" id="btnppostthisnotice" class="btn btn-pill btn-outline-warning btn-air-warning" value="Post this Notice" />
                                        <input type="submit" id="btnSave" class="btn btn-pill btn-outline-success" value="Save" />
                                        <input type="submit" id="btnsaveandpost" class="btn btn-pill btn-outline-info btn-air-info" value="Save and Post" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Noticeandsms_Inserted_Postingemailorsmsdivid">

    </div>

</body>
</html>



<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>


@*<script src="~/js/CommonScripts.js"></script>
<script src="~/js/Notice_sms.js"></script>*@

<script src="~/js/Managenotice_3.js"></script>