@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Manageholidays

@{
    ViewData["Title"] = "Insert_Holiday";
    Layout = null;

}

<span id="Errormessage" class="text-danger" style="position: fixed; margin: -20px 10px 0px 5px; "></span>

<div class="col-12" id="accordionoc1">
    <div class="card-header bg-primary">
        <h5 class="mb-0">
            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" id="FlassNewsbtn"><span id="HolidaymethodName"></span> HOLIDAYS</button>
        </h5>
    </div>
    <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordionoc1">
        <form id="Insertholiday" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="padding-search row">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Start Date </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="date" asp-for="Sdate" id="SDate_txtid" class="form-control" />
                        <span asp-validation-for="Sdate" class="text-danger"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">End Date </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="date" asp-for="Edate" id="EDate_txtid" class="form-control" />
                        <span asp-validation-for="Edate" class="text-danger" id="Error_Sp"></span>
                        <span class="text-danger" id="Error_Sp"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Holiday Name  </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="text" asp-for="HolidayName"id="Holidaytxtid" class="form-control" />
                        <span asp-validation-for="HolidayName" class="text-danger"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Holiday Type </label>

                    </div>
                    <div class="form-group col-6 radio radio-success">
                        <input id="radio55" type="radio" name="radio1" value="1" asp-for="HType">
                        <label for="radio55">Holidays</label>
                        <input id="radio54" type="radio" name="radio1" value="2" asp-for="HType">
                        <label for="radio54">Week-Ends</label>
                        <input id="radio53" type="radio" name="radio1" value="3" asp-for="HType">
                        <label for="radio53">Restricted Holidays</label>
                    </div>
                    <span asp-validation-for="HolidayType" id="HolidaySp_id" class="text-danger"></span><div class="col-3"></div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-6">
                        <input type="button" id="Clearbtn" name="Clear" value="Clear" class="btn btn-pill btn-outline-warning btn-air-warning">
                        <input type="button" id="BackToSearchbtn" name="BackToSearch" value="BackToSearch" class="btn btn-pill btn-outline-primary btn-aprimary">
                        <input type="submit" id="Savebtn" name="save" value="Save" class="btn btn-pill btn-outline-success btn-air-success">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </form>
    </div>
</div>





<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<script src="~/js/Manageholiday.js"></script>