@*@model Connect4m_Web.Models.Attendenceproperites.UserScreen.TemplateDetails*@
@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Templatesms
@{
    ViewData["Title"] = "ManageNotices_CreateSMS";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <link href="~/css/Managehomepage.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12 col-lg-12 mb-3" id="Managenotice_CreateSMS_Divid">
        <span id="SmsErrormessage" class="text-danger"></span>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    SAVE SMS
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="row">
                        <div class="col-2">
                            <label class="control-label col-sm-10 col-form-label text-end space" style=" margin-top: 125px; margin-right: 26px;">SMS Template  </label>
                        </div>
                        <div class="col-10">
                            <form>
                                <div style="height: 297px; width: 100%; overflow: scroll;">
                                    <table class="table-responsive">
                                        @foreach (var item in ViewBag.SMSTemplates)
                                        {
                                            <tr style="height: 31px;">
                                                <td style=" font: 14px arial; color: #333333; "><input type="radio" value="@item.TemplateMasterPK" name="Radio1" id="@item.NumberofParameter" /></td>
                                                <td style=" color: black; font-size: 12px; font-weight: normal; font-style: normal;">      @item.TemplateDescription    </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-6">
                            <span style=" font: 12px arial; color: black;">
                                <b>NOTE:</b>   Following characters are restricted:<b>< > & | % "</b>
                                Some Characters like <b>` ~ ^ + $</b> may not deliver properly to all mobiles.
                                <b> Date format can be: dd/mm/yy or dd/mm/yyyy</b>
                            </span>
                        </div>
                        <div class="row justify-content text-center">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success waves-effect waves-light" id="btnSMSNext">Edit SMS Template</button>
                                <button type="button" class="btn btn-dark waves-effect waves-light" id="btnSMSBackToSearch">Back To Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="SmsTemplatedetailsViewDiv_ManageNotices_createsms">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Managenoticesmstemplate_2.js"></script>
<script src="~/js/Managenotice_2.js"></script>


<script>

    function RestrictDateChar(event) {
        var charCode = event.which || event.keyCode;
        var charStr = String.fromCharCode(charCode);

        if (/[\d\/]/.test(charStr) && event.target.value.length < 10) {
            return true;
        } else {
            event.preventDefault();
            return false;
        }
    }


    function RestrictNumericInput(event) {
        var charCode = event.which || event.keyCode;
        var charStr = String.fromCharCode(charCode);

        if (/^\d+$/.test(charStr) && event.target.value.length < 5) {
            return true;
        } else {
            event.preventDefault();
            return false;
        }
    }

</script>
