@model Connect4m_Web.Models.Attendenceproperites.UserScreen.ManageSubClassification
@{
    //ViewData["Title"] = "ManageSubClassification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="flex-grow-1 container-p-y container-xxl " id="Managedepartmentmaindiv">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin /</span>MANAGE CLASS </h4>
        <div class="row mb-2" id="Searchuserfields_tabledatadiv1">
            <div class="row justify-content" id="Manageholidays_Heaingmaindiv0">
                <div class="col-sm-12 text-end" id="Addnewclassdiv">
                    <button class="btn rounded-pill btn-info waves-effect waves-light " id="addnewsubclass">Create Class</button>
                </div>
            </div>
            <div id="ManageSubclassification_Containermaindiv">
                <div class="col-md-12 col-lg-12 mb-3">
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                SEARCH CLASS
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <form id="Classificaitionformid">
                                        <div class="row mb-3">
                                            <label class="control-label col-sm-4 col-form-label text-end space">Department </label>
                                            <div class="col-sm-4">
                                                <select asp-for="InstanceClassificationId" id="ddldepartmentid" class="select2 form-select select2-hidden-accessible">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="control-label col-sm-4 col-form-label text-end space">Class Name </label>
                                            <div class="col-sm-4">
                                                <input type="text" asp-for="SubClassificationName" id="txtclassid" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="control-label col-sm-4 col-form-label text-end space">Description </label>
                                            <div class="col-sm-4">
                                                <textarea class="form-control" asp-for="SubClassificationDescription" id="txtdescrid"></textarea>
                                            </div>
                                        </div>


                                        <div class="row justify-content text-center">
                                            <div class="col-sm-12">
                                                <button type="reset" class="btn btn-warning waves-effect waves-light" onclick="Clearcommonfunction('Classificaitionformid', null)" id="btnclear">Clear</button>
                                                <button type="button" class="btn btn-success waves-effect waves-light" id="btnsearch">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <span id="Errmsg" class="text-danger" style="position: absolute; margin: -20px 10px 0px 5px; "></span>

                <a href="javascript:void(0)" id="exportToExcel">Export To Excel</a>
                <div class="col-md-12 col-lg-12 mb-3">
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">
                                YOUR SEARCH RESULTED <span id="Subclassification_Recordscount" style="background-color: black; color: white; border-radius: 7px; font-weight: bold; padding: 2px; "></span> RECORDS.
                            </h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" id="ManageSubclassificationtbl">
                                <thead class="table-dark">
                                    <tr>
                                        <th>SNO</th>
                                        <th>Class</th>
                                        <th>Department</th>
                                        <th>Description</th>
                                        <th>Class Teacher Name</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ManagesubclassificationInsertUpdatediv">

            </div>
            @*<div id="ManageSubclassification_Updatecontainerdiv3">

                </div>*@
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Datatable/jquery.dataTables.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="~/js/ManageSubclassification.js"></script>
@*<script src="~/js/Subclassificattionddls_1.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.2.1/exceljs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



