@model Connect4m_Web.Models.Attendenceproperites.UserScreen.Managequote
@{
    ViewData["Title"] = "Update_Quote";
    Layout = null;
}

<span id="Errormsg" class="text-danger" style=" margin: -20px 10px 0px 5px; "></span>

<div class="col-12" id="accordionoc1">
    <div class="card-header bg-primary">
        <h5 class="mb-0">
            <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapse11" id="FlassNewsbtn">
                UPDATE QUOTE
            </button>

        </h5>
    </div>
    <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordionoc1">
        <form id="UpdateQuote" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="padding-search row">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Quote </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="hidden" asp-for="QuoteId" id="QuoteId_txtid" />
                        <input type="text" asp-for="Quote" id="Quote_txtid" class="form-control" />
                        <span asp-validation-for="Quote" class="text-danger"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-2">
                        <label class="form-grop control-label required  space">Display Date </label>
                    </div>
                    <div class="form-group col-4">
                        <input type="date" asp-for="DisplayDate" id="DisplayDate_txtid" class="form-control" />
                        <span asp-validation-for="DisplayDate" class="text-danger" id="Error_Sp"></span>
                        <span class="text-danger" id="Error_Sp"></span>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-5" style="margin-left: 31px;">
                        <input type="button" id="Dltbtn" name="Delete" value="Delete" class="btn btn-pill btn-outline-danger btn-air-danger">
                        <input type="button" id="BackToSearchUbtn" name="BackToSearch" value="BackToSearch" class="btn btn-pill btn-outline-primary btn-aprimary">
                        <input type="submit" id="Updatebtn" name="Update" value="Update" class="btn btn-pill btn-outline-success btn-air-success">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/js/Managequote.js"></script>
<script>

    $(document).ready(function () {
        debugger;
        var originalstartDate = '@ViewBag.Items.DisplayDate_';
        var startdateParts = originalstartDate.split(' ')[0].split('-');
        var formattedstartDate = startdateParts[2] + '-' + startdateParts[1] + '-' + startdateParts[0];
        document.getElementById("DisplayDate_txtid").value = formattedstartDate;
        $('#Quote_txtid').val('@ViewBag.Items.Quote');
        $('#QuoteId_txtid').val('@ViewBag.Items.QuoteId');
    });

</script>