@model Connect4m_Web.Models.LMSproperties.ManageCategory
@{
    ViewData["Title"] = "CreateManageCategory";
    Layout = null;
}
<link href="~/css/CommonStyle.css" rel="stylesheet" />


 

                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white" @*data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11"*@>
                                    <span id="updatesalaryattribute" style=" font-weight: 900;">INSERT</span> CATEGORY DETAILS  <span style=" margin-left: 50%;" class="required"> INDICATES REQUIRED FIELDS</span>

                                </button>
                            </h5>
                        </div>
                        @*<div class="alert alert-success">

                            </div>
                            <div class="alert alert-danger">

                            </div>*@
                        <div @*class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc"*@>

                            <div class="row padding-search">
                                <div class="row">

                                    <form id="Insert_MC">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="text" asp-for="PayrollCategoryId" name="PayrollCategoryId" hidden style="display:none" readonly />

                                        <div class="row">

                                            @*<input asp-for="InstanceSubjectId" class="form-control" id="formInstanceSubjectId" hidden />*@

                                            <div class="col-3"></div>
                                            <div class="form-group col-2">


                                                <label asp-for="PayrollCategoryName" class="control-label required space"></label>

                                            </div>
                                            <div class="form-group col-4">

                                                <input asp-for="PayrollCategoryName" class="form-control" />


                                                <span asp-validation-for="PayrollCategoryName" class="text-danger"></span>

                                            </div>
                                            <div class="col-3"></div>  <div class="col-3"></div>
                                            <div class="form-group col-2">
                                                <label asp-for="PayrollCategoryDescription" class="control-label  space"></label>
                                            </div>
                                            <div class="form-group col-4" style="display:flex">

                                                <input asp-for="PayrollCategoryDescription" class="form-control" />


                                                <span asp-validation-for="PayrollCategoryDescription" class="text-danger"></span>

                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">


                                                <label asp-for="isLeaveApplicable" class="control-label required space"></label>
                                                @*<i class="fa fa-asterisk" style="font-size:11px;color:red"></i>*@

                                            </div>
                                            <div class="form-group col-4" style="display:flex">


                                                <input asp-for="isLeaveApplicable" type="radio" name="isLeaveApplicable" value="0" style="flex: 0.5;" checked /><span>PayRoll</span>
                                                <input asp-for="isLeaveApplicable" type="radio" name="isLeaveApplicable" value="1" style="flex: 0.5;" /><span>Leave</span>
                                                <input asp-for="isLeaveApplicable" type="radio" name="isLeaveApplicable" value="2" style="flex: 0.5;" /><span>Both</span>


                                                <span asp-validation-for="isLeaveApplicable" class="text-danger"></span>
                                            </div>
                                            <div class="col-3"></div>  <div class="col-3"></div>
                                            <div style=" display: flex; gap: 17px;">
                                                <div class="col-2"></div>


                                                @*<button style="padding: 6px;" class="btn btn-pill btn-outline-primary btn-aprimary" id="backtosearch_CSA">Back To Search</button>*@
                                                <input type="button" value="Previous Page" id="backtopage_MC" onclick="nextpage('SearchSalaryAttributesForRoles',null)" class="btn btn-pill btn-outline-primary btn-aprimary" />

                                                <input type="button" value="Back To Search" id="backtosearch_MC" class="btn btn-pill btn-outline-secondary btn-sm" />


                                                <input type="reset" value="Clear" class="btn btn-pill btn-outline-warning btn-awarning" id="clearform" />
                                                <input type="submit" value="Save" id="Save_MC" class="btn btn-pill btn-outline-success btn-auccess" />

                                                <input type="button" value="Next Page" id="Nextpage_MC" onclick="nextpage('SearchManageSubCatogory',null)" class="btn btn-pill btn-outline-info btn-air-info" />

                                                @*<button style=" padding: 6px;" class="btn btn-pill btn-outline-info btn-air-info" id="Nextpage_CSA">Next Page</button>*@


                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>

                 
@*<script src="~/Datatable/jquery.dataTables.js"></script>
    <script src="~/Datatable/jquery.dataTables.min.js"></script>*@
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/PayRoll_3.js"></script>
