@model Connect4m_Web.Models.LMSproperties.ManageCategory
@{
    ViewData["Title"] = "CreateManageCategory";
    Layout = null;
}
@*<link href="~/css/CommonStyle.css" rel="stylesheet" />*@

<h5 class="mb-3">
    <span id="updatesalaryattribute">CREATE</span>  Category Details

</h5>
<div class="card-body mb-2">

    @*=============================  Form Start ================================*@
    <form id="Insert_MC" class="needs-validation was-validated" novalidate>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" asp-for="PayrollCategoryId" name="PayrollCategoryId" hidden style="display:none" readonly />

        <div>
            <div class="row">
                <div class="col">

                    @*=====================        TEXT BOX                 =================*@

                    <div class="row mb-3">
                        <div class="col-sm-3">
                        </div>
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PayrollCategoryName"></label>
                        <div class="col-sm-4">
                            <input class="form-control" asp-for="PayrollCategoryName" required>
                            <span asp-validation-for="PayrollCategoryName" class="text-danger"></span>

                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    @*=====================        TEXT BOX                 =================*@

                    <div class="row mb-3">
                        <div class="col-sm-3">
                        </div>
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PayrollCategoryDescription"></label>
                        <div class="col-sm-4">
                            <input class="form-control" asp-for="PayrollCategoryDescription">
                            <span asp-validation-for="PayrollCategoryDescription" class="text-danger"></span>

                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>

                    @*=====================        TEXT BOX                 =================*@

                    <div class="row mb-3">
                        <div class="col-sm-3">
                        </div>
                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="isLeaveApplicable"></label>
                        <div class="col-sm-4" style="display:flex">


                            <div class="form-check form-check-primary ">
                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="0" checked required>
                                <label class="form-check-label">
                                    PayRoll
                                </label>
                            </div>
                            <div class="form-check form-check-primary ">
                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="1" required>
                                <label class="form-check-label">
                                    Leave
                                </label>
                            </div>
                            <div class="form-check form-check-primary ">
                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="2" required>
                                <label class="form-check-label">
                                    Both
                                </label>
                            </div>
                            <span asp-validation-for="isLeaveApplicable" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                        </div>

                    </div>
                    @*=====================         BUTTONS                =================*@

                    <div class="row justify-content">
                        <div class="col-sm-3">
                        </div>

                        <div class="col-sm-9">
                            <button type="button" class="btn btn-info waves-effect waves-light" id="backtopage_MC" onclick="nextpage('SearchSalaryAttributesForRoles',null)">Previous Page</button>

                            <button type="button" class="btn btn-dark waves-effect waves-light" id="backtosearch_MC">Back To Search</button>

                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                            <button type="submit" class="btn btn-success waves-effect waves-light" id="Save_MC">Save</button>

                            <button type="button" class="btn btn-primary waves-effect waves-light" id="Nextpage_MC" onclick="nextpage('SearchManageSubCatogory',null)">Next Page</button>

                        </div>
                    </div>



               
            </div>
        </div>

</div>
    </form>

@*=============================  Form End ================================*@


</div>


@*<script src="~/Datatable/jquery.dataTables.js"></script>
    <script src="~/Datatable/jquery.dataTables.min.js"></script>*@
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/PayRoll_3.js"></script>
