@model Connect4m_Web.Models.LMSproperties.SalaryAttributesforRoles
@{
    ViewData["Title"] = "SearchSalaryAttributesForRoles";
    Layout = null;
}
@*<link href="~/css/CommonStyle.css" rel="stylesheet" />*@

<h4 class="py-3 mb-4"><span class="text-muted fw-light"> Admin Module/</span>Manage Salary Attributes for Roles</h4>

<div class="row mb-2">
    <div class="col-md-12 col-lg-12 mb-3">

        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        MANAGE SALARY ATTRIBUTES FOR ROLES
                    </span>
                </h5>
            </div>

            <div id="appendsearchsalaryattributeforroles">
                <h5><label>SEARCH ROLE</label></h5>
                <div class="card-body mb-2">

                    @*=============================  Form Start ================================*@
                    <form id="Serach_SAR">
                        <div>
                            <div class="row">
                                <div class="col">

                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RoleName"></label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="RoleName" asp-for="RoleName">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="RoleDescription"></label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="RoleDescription" asp-for="RoleDescription">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    @*=====================         BUTTONS                =================*@

                                    <div class="row justify-content">
                                        <div class="col-sm-4">
                                        </div>

                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="backtopage_SAR" onclick="nextpage('SearchSalaryAttributes',null)">Previous Page</button>

                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                            <button type="button" class="btn btn-success waves-effect waves-light" id="sub_tblSAR">Search</button>

                                            <button type="button" class="btn btn-primary waves-effect waves-light" id="Nextpage_SAR" onclick="nextpage('SearchManageCatogory',null)">Next Page</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    @*=============================  Form End ================================*@

                </div>

                @*=============================  TABLE START ================================*@

                <div class="card">

                    <h6 class="card-title mb-0">
                        <span>YOUR SEARCH RESULTED <span id="totalrecords_Tranctions_SAR" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                    </h6>
                    <div class="table-responsive text-nowrap">
                        <table id="tblSARsearchresults" class="link table table-hover table-bordered ">
                            <thead class="table-dark">

                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Roll Name
                                    </th>
                                    <th>
                                        Description
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                @*=============================  TABLE END ================================*@
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/js/PayRoll_2.js"></script>
