@model Connect4m_Web.Models.LMSproperties.ManageSubCategory
@{
    ViewData["Title"] = "SearchManageSubCatogory";
    Layout = null;
}



<style>
    #appendinsertmanagecategory {
        display: none
    }
</style>

@*<link href="~/css/CommonStyle.css" rel="stylesheet" />*@

<h4 class="py-3 mb-4"><span class="text-muted fw-light"> Admin Module/</span>Manage Sub Category</h4>

<div class="row mb-2">
    <div class="col-md-12 col-lg-12 mb-3">

        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        MANAGE SUB CATEGORY
                    </span>
                </h5>
            </div>
            <div class="demo-inline-spacing text-end">

                <button type="button" class="btn rounded-pill btn-info waves-effect waves-light" id="addnewmanagesubcategorybtn"> Create New Sub Category</button>
            </div>
            <div id="appendsearchmanagesubcategory">
                <h5><label>SEARCH SUB CATEGORY</label></h5>

                <div class="card-body mb-2">

                    @*=============================  Form Start ================================*@
                    <form id="Serach_MSC">
                        <div>
                            <div class="row">
                                <div class="col">

                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="PayrollSubCategoryName"></label>
                                        <div class="col-sm-4 form-group">
                                            <input class="form-control" asp-for="PayrollSubCategoryName" id="PayrollSubCategoryName">

                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    @*=====================        TEXT BOX                 =================*@

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                        </div>
                                        <label class="col-sm-2 col-form-label text-end" for="basic-default-name" asp-for="isLeaveApplicable"></label>
                                        <div class="col-sm-4" style="display:flex">


                                            <div class="form-check form-check-primary ">
                                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="0" checked>
                                                <label class="form-check-label">
                                                    PayRoll
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary ">
                                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="1">
                                                <label class="form-check-label">
                                                    Leave
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary ">
                                                <input asp-for="isLeaveApplicable" class="form-check-input" name="isLeaveApplicable" type="radio" value="2">
                                                <label class="form-check-label">
                                                    Both
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>

                                    </div>

                                    @*=====================         BUTTONS                =================*@

                                    <div class="row justify-content">
                                        <div class="col-sm-4">
                                        </div>

                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-info waves-effect waves-light" id="backtopage_MSC" onclick="nextpage('SearchManageCatogory',null)">Previous Page</button>


                                            <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                            <button type="button" class="btn btn-success waves-effect waves-light" id="sub_tblMSC">Search</button>

                                            <button type="button" class="btn btn-primary waves-effect waves-light" id="Nextpage_MC" onclick="nextpage('SearchManageEmployees',null)">Next Page</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    @*=============================  Form End ================================*@

                </div>
                @*=============================  TABLE START ================================*@

                <div class="card">

                    <h6 class="card-title mb-0">
                        <span>YOUR SEARCH RESULTS <span id="totalrecords_Tranctions_MSC" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                    </h6>
                    <div class="table-responsive text-nowrap">
                        <table id="tblMSCsearchresults" class="link table table-hover table-bordered ">
                            <thead class="table-dark">


                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Sub Category
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                @*=============================  TABLE END ================================*@
            </div>
            <div id="appendinsertmanagesubcategory">

            </div>

        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>*@
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<script src="~/js/PayRoll_4.js"></script>

