@*<style>
        select {
            width: 23em;
            height: 10em;
            /*        filter: drop-shadow(2px 4px 6px black);
        */ /*border: 1px solid green;*/
            border: 1px solid #11a5f1;
        }

        label {
            color: black;
            font-weight: 900;
        }

        option {
            color: black;
            font-weight: 500;
        }

        .row > div {
            position: relative;
            text-align: -webkit-right;
        }

        /*----------------------------------------Data TAble Design-------------------*/

        .table [class*='bg-'] {
            color: black;
            border: 2px solid black;
        }

        .dataTables_wrapper {
            position: relative;
            clear: both;
            /* border: 1px solid;*/
        }

            .dataTables_wrapper table.dataTable tbody td, .dataTables_wrapper table.dataTable tbody th {
                /*  background-color: #fff;*/
                border: 1px solid black !important;
                padding: 5px !important;
                font-size: 13px;
                font-weight: 600;
            }

        .default-according .card .card-header .btn-link {
            font-size: 11px;
        }
        /*#tblsubjecttools*/
        tr:nth-child(even) {
            background-color: #65655662 !important;
            /*  color: #fff;*/
        }

        .dataTables_wrapper .dataTables_info {
            display: none;
        }
        /*#tblsubjecttools*/
        td:nth-child(2):hover, .fa-trash-o:hover, img:hover {
            background-color: deepskyblue !important;
            cursor: pointer !important;
            filter: drop-shadow(2px 4px 6px black);
        }

        td:nth-child(2) {
            color: blue;
            text-decoration: underline;
        }

        tr:hover {
            background-color: antiquewhite !important;
        }


        .dataTables_wrapper .dataTables_paginate {
            margin-left: 304px !important;
            float: left;
            color: black !important;
            font-weight: 900 !important;
            background-color: antiquewhite;
            border: 1px solid;
        }



            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                border: 2px solid;
            }

        .default-according .card .card-header.bg-primary .btn, .default-according .card .card-header.bg-secondary .btn {
            border-color: rgba(0,0,0,0);
            background-color: #121451;
            border: 1px solid black;
            height: 32px;
            width: 101% !important;
            font-weight: 700;
        }

        .card {
            letter-spacing: 0px;
        }

        table.dataTable thead > tr > th.sorting {
            padding-right: 0px !important;
        }

        .dataTables_wrapper table.dataTable tbody td {
            padding: 1px !important;
        }

        table.dataTable:not(.fixedHeader-locked):not(.fixedHeader-floating) {
            text-align: center;
        }

        .dataTables_wrapper .dataTables_paginate {
            float: left !important;
        }

        lable {
            font-weight: 700;
        }
    </style>
    <link href="~/Datatable/jquery.dataTables.css" rel="stylesheet" />*@





<style>

       /* .default-according.style-1 button {
            width: auto !important;
        }
*/
    td:nth-child(2):hover, .fa-trash-o:hover, img:hover {
        background-color: deepskyblue !important;
        cursor: pointer !important;
        filter: drop-shadow(2px 4px 6px black);
    }
  


        /*.buttons-print {
            color: black;
            background-color: deepskyblue;*/
            /*        box-shadow: 0px 15px 20px rgb(170 163 163);*/
        /*}

        .buttons-pdf {
            color: white;
            background-color: #f36f17;*/
            /* box-shadow: 0px 15px 20px rgb(0 255 216);*/
        /*}

        .buttons-excel {
            color: white;
            background-color: green;*/
            /*   box-shadow: 0px 15px 20px rgb(255 0 0);*/
        /*}*/
    </style>

<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">


        <h4 class="py-3 mb-4"><span class="text-muted fw-light">/</span>Upload Lectures / Docs</h4>

        <!-- Examples -->
        <div class="row mb-2">
            <div class="col-md-12 col-lg-12 mb-3">
                @*<span class="ErrorMessageSpan"></span>*@
                @*<a id="BtnCreateNewSubjects" class="text-end" onclick="CreateNewSubjects()">Create Subject</a>*@
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span id="AddNewText_Span_CreatePage">
                                SEARCH FOR SUBJECT TOOLS
                            </span>
                        </h5> @*<small class="text-muted float-end">Default label</small>*@
                    </div>


                    @*=====================         BUTTONS                =================*@

                    <div class="row justify-content">
                        <div class="col-sm-4">
                        </div>

                        <div class="col-sm-8 text-end">
                            <a type="button" class="btn rounded-pill btn-info waves-effect waves-light" href="/Videos/UploadLecturedocs"> Upload Lecture Docs</a>

                        </div>
                    </div>
                    <div class="card-body">
                        @*=============================  Form Start ================================*@
                        <form id="formsearchvideouploading">
                            <div>
                                <div class="row">
                                    <div class="col">

                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name"> Department</label>
                                            <div class="col-sm-4">
                                                <select name="Department" id="Department" class="select2 form-select select2-hidden-accessible" multiple asp-items="@ViewBag.Departmentlist">
                                                </select>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Class</label>
                                            <div class="col-sm-4">
                                                <select name="ClassificationIds" id="ClassificationIds" multiple class="select2 form-select select2-hidden-accessible">
                                                </select>
                                            </div>
                                        </div>
                                        @*=====================         DROP DOWN               =================*@

                                        <div class="row mb-3">

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name"> Subject</label>
                                            <div class="col-sm-4">
                                                <select name="InstanceSubClassificationId" id="InstanceSubClassificationId" multiple class="select2 form-select select2-hidden-accessible">
                                                </select>
                                            </div>

                                            <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Subject Tool</label>
                                            <div class="col-sm-4">
                                                <select name="InstanceSubjectsId" id="InstanceSubjectsId" multiple class="select2 form-select select2-hidden-accessible">
                                                </select>
                                            </div>
                                        </div>

                                        @*=====================         BUTTONS                =================*@

                                        <div class="row justify-content">
                                            <div class="col-sm-5">
                                            </div>

                                            <div class="col-sm-7">
                                                <button type="reset" class="btn btn-warning waves-effect waves-light" id="videos_uploading_clear">Clear</button>
                                                <button type="submit" class="btn btn-success waves-effect waves-light" id="videos_uploading_search">Search</button>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                        </form>
                        @*=============================  Form End ================================*@

                    </div>

                    <div class="card">

                        <h6 class="card-title mb-0">
                            <span>YOUR SEARCH RESULTED <span id="totalrecords_uploadlecturedocs" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                        </h6>
                        <div class="table-responsive text-nowrap">
                            <table id="tbluploadlecturedocs" class="link table table-hover table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th hidden>

                                        </th>
                                        <th>
                                            <label> S.NO</label>
                                        </th>
                                        <th hidden>

                                        </th>

                                        <th>
                                            <label>Department</label>
                                        </th>
                                        <th>
                                            <label> Class </label>
                                        </th>
                                        <th>
                                            <label>Subject </label>
                                        </th>
                                        <th>
                                            <label> Subject Tool</label>
                                        </th>
                                        <th>
                                            <label>Restriction</label>
                                        </th>
                                        <th>
                                            <label>Lecture /Doc Name</label>

                                        </th>
                                        <th>
                                            <label> Lecture/Docs</label>

                                        </th>
                                        <th hidden>

                                        </th>
                                        <th hidden>

                                        </th>
                                        <th hidden>

                                        </th>
                                        <th hidden>

                                        </th>
                                        <th hidden>

                                        </th>
                                        <th hidden>

                                        </th>

                                        <th hidden>

                                        </th>

                                        <th hidden>

                                        </th>
                                        <th>
                                            <label> Lecture/Doc Uploaded</label>
                                        </th>


                                        <th>
                                            <label>Delete</label>
                                        </th>
                                    </tr>

                                </thead>
                            </table>
                        </div>

                        @*=============================  TABLE END ================================*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" id="TrailVideoviewbyadmin" style="display:none">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">
                    <span id="AddNewText_Span_CreatePage">
                        Video View
                    </span>
                </h5>
            </div>

            <div id="eg1" style="color: black; background-color: #07070787" class="text-center">
                <video id="videoviewtrail" controls style="width: 50%;  filter: drop-shadow(2px 4px 6px white);" nodownload class="text-center">

                    <source src="~/LMSVideos/Instance545/188254Animated Video.mp4" type="video/mp4">

                </video>
            </div>
        </div>



    </div>
    


</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/dropdown-change.js"></script>
@*<script src="~/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>*@

<script src="~/js/search-edit-delete-video-upload.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



@*@{
        string base64Data = ViewData["Base64Data"] as string;
    }

    <script>
        function openFileInNewWindow() {
            var dataUrl = "data:application/vnd.ms-excel," + '@base64Data';

            var link = document.createElement('a');
            link.href = dataUrl;
            link.target = '_blank';
            link.click();
        }
    </script>

    <button onclick="openFileInNewWindow()">Open File</button>*@
