
@{
    Layout = null;
}
@*=============================  TABLE START ================================*@
<div class="card" id="dispalyordersupdate">
    <div class="row mb-2">
        <div class="col-md-12 col-lg-12 mb-3">
            <div class="col-sm-12 errorofallemployeeattendence" style="color: red;"></div>

            <div class="card mb-4">
               

                <div class="table-responsive text-nowrap">
                    <h6 class="card-title mb-0">
                        <span>YOUR SEARCH RESULTED <span id="totalrecords_Tranctions_DO" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                    </h6>
                    <table id="tblDisplayOrder" class="table table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>

                                <th>
                                    SI.No
                                </th>
                                <th>
                                    Menu Name
                                </th>
                                <th>
                                    Display Name
                                </th>
                                <th>
                                    Display Order
                                </th>


                            </tr>
                        </thead>
                    </table>
                </div>
           
                <div class="row justify-content-end">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary waves-effect waves-light" id="backtosearch_CRorder">Back To Search</button>
                        <button type="button" class="btn btn-warning waves-effect waves-light" id="BacktoMenusorders">Back To Menus</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light" id="Update_CR">Update</button>
                    </div>
                </div>

            </div>
            @*=============================  TABLE END ================================*@


        </div>
        </div>
        </div>

           

        <script src="~/js/SearchRoles.js"></script>
