@model Connect4m_Web.Models.LMSproperties.MentorAttedanceProp
@{
    ViewData["Title"] = "PstAttendance";

}

<link href="~/css/CommonStyle.css" rel="stylesheet" />
<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />
<style>
    .dataTable td:nth-child(2) {
        color: #2B2B2B;
        /*  text-decoration: underline;*/
        font-weight: 600 !important;
    }

        .dataTable td:nth-child(2):hover {
            cursor: context-menu !important;
            color: #2B2B2B;
            text-decoration: none;
            font-weight: 600;
            background-color: antiquewhite;
        }

    #Serach_MA #ClearSection:hover {
        background-color: antiquewhite;
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<div class="col-sm-12 ">

    <div class="card">

        <div class="card-body">
            <div class="default-according style-1" id="accordionoc">
                <div class="card">
                    <h6><span>POST ATTENDANCE</span></h6>


                    <div>

                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11">SEARCH FOR MENTORS  <span style=" margin-left: 50%;" class="required"> INDICATES REQUIRED FIELDS</span></button>
                            </h5>
                        </div>
                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">

                            <div class="row padding-search">
                                <div class="row">


                                    <form id="Serach_MA">
                                        <div class="row">

                                            <input type="text" value="@ViewBag.instancceidME" class="form-control" id="InstanceidforMA" disabled hidden />
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">
                                                <label class="control-label space required" asp-for="StartDate"></label>
                                            </div>
                                            <div class="form-group col-4">
                                                <input asp-for="StartDate" class="form-control" id="StartDate" />

                                                <span asp-validation-for="StartDate" class="text-danger"></span>

                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">
                                                <label class="control-label space required" asp-for="EndDate"> </label>
                                            </div>
                                            <div class="form-group col-4">

                                                <input asp-for="EndDate" class="form-control" id="EndDate" />

                                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                                <span class="compare"></span>
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">
                                                <label class="control-label space required" asp-for="Department"></label>
                                            </div>
                                            <div class="form-group col-4">

                                                <div id="Drop_Format_SEM_2">
                                                    @Html.DropDownListFor(
                                               x => x.Department,
                                                new SelectList(ViewBag.Department, "Value", "Text"),
                                                "-------select-------", new { @class = "form-select readonly", @id = "dropdown_Department_MA", @style = "color:black;" })

                                                </div>
                                                <span asp-validation-for="Department" class="text-danger"></span>

                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">


                                                <label class="control-label required space" asp-for="Slots"> </label>

                                            </div>
                                            <div class="form-group col-4">

                                                <div id="Drop_Format_SEM_3">
                                                    @Html.DropDownListFor(
                                               x => x.Slots,
                                                new SelectList(ViewBag.Slots, "Value", "Text"),
                                            "-------select-------", new { @class = "form-select readonly", @id = "dropdown_Slots_MA", @style = "color:black;" })

                                                </div>
                                                <span asp-validation-for="Slots" class="text-danger"></span>

                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                            <div class="form-group col-2">
                                                <label class="control-label space" asp-for="Mentors"> </label>

                                            </div>
                                            <div class="form-group col-4">
                                                <div id="Drop_Format_SEM_4">
                                                    @Html.DropDownListFor(
                                               x => x.Mentors,
                                                new SelectList(ViewBag.Mentors, "Value", "Text"),
                                            new { @class = "form-select readonly", @id = "dropdown_Mentors_MA", @style = "color:black;height:97px;", @multiple = "multiple" })

                                                </div>
                                                <span asp-validation-for="Mentors" class="text-danger"></span>
                                                <div style="display: flex; gap: 96px; "><span style="color: dodgerblue; cursor: pointer;" id="ClearSection">Clear Selection</span><span><input type="checkbox" id="Select_All" /> Select All</span></div>

                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>


                                            <div style=" display: flex; gap: 17px;" id="deletebutton">
                                                <div class="col-4"></div>
                                                <div id="deleteinner">

                                                </div>
                                                <input type="submit" value="Get Attendance Form" id="sub_tblPA" class="btn btn-pill btn-outline-success btn-air-success" />

                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="GetMentorAttendenceAppend"></div>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/Mentor_Attendance.js"></script>





