
@{
    ViewData["Title"] = "PostAttendanceSave";
    Layout = null;
}

@*=============================  TABLE START ================================*@

<div class="card">

    <div id="checksall">
        <div class="card-header d-flex align-items-center justify-content-between" id="appendsearchsalaryattributeforroles">
            <h6 class="mb-0">
                <span>
                    NOTE
                </span>
            </h6>
        </div>

        <div class="row mb-3">

            <label class="col-sm-6 col-form-label" for="basic-default-name" style="color: green;">
                Green Date--Indicates attendance already posted.
            </label>
            <label class="col-sm-6 col-form-label" for="basic-default-name">
                <img src="~/Images_IMP/tick_16.png" style="width: 16px;" />
                -- Indicates Send Sms is true.
            </label>
        </div>
        <div class="row mb-3">

            <label class="col-sm-6 col-form-label" for="basic-default-name" style="color: red;">
                Red Date--Indicates attendance not yet posted.
            </label>
            <label class="col-sm-6 col-form-label" for="basic-default-name">
                <img src="~/Images_IMP/cross.png" style="width: 16px;" />
                -- Indicates Send Sms is false.
            </label>
        </div>
        <div class="row mb-3">
            <label class="col-sm-6 col-form-label" for="basic-default-name">
                <img src="~/Images_IMP/AuditIcon.png" style="width: 16px;" />
                --Indicates Attendance modified.
            </label>
        </div>
        <div class="row mb-3">
            <label class="col-sm-12 col-form-label errorofallemployeeattendence" for="basic-default-name" style="color:red">

            </label>
        </div>
        <div style="background-color: antiquewhite ">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <input class="form-check-input" type="checkbox">
                    <label class="col-form-label " for="basic-default-name">
                        Send SMS
                    </label>
                </div>
            </div>
            <div class="row mb-3" >
                <div class="col-sm-12">
                    <input class="form-check-input" type="checkbox" id="_checkallattendance">
                    <label class="col-form-label " for="basic-default-name">
                        Check All
                    </label>
                </div>
            </div>
        </div>


        <h6 class="card-title mb-0">
            <span>YOUR SEARCH RESULTED <span id="totalrecords_Tranctions_MA" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
        </h6>
        <div class="table-responsive text-nowrap" id="attendencetable">
            <table id="tblMAsearchresults" class="table table-hover table-bordered" style="background-color: whitesmoke;">
                <thead class="table-dark">

                    <tr>
                        <th>
                            S.No
                        </th>

                        <th>
                            Name
                        </th>
                        <th>
                            Registration No.
                        </th>
                        <th>
                            Mentor Sms Status
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @*=============================  TABLE END ================================*@
</div>

