@*@model SchoolConnect4M_WebApi.Models.RoleProp*@

@{
    ViewData["Title"] = "SearchRolewise";
}

@*<link href="~/css/CommonStyle.css" rel="stylesheet" />
<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />*@



@*<div class="card accordion-item active">
        <h2 class="accordion-header d-flex align-items-center">
            <button type="button" class="accordion-button table-dark" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-1" aria-expanded="true" >
                <i class="ti ti-star ti-xs me-2"></i>
                Header Option 1
            </button>
        </h2>

        <div id="accordionWithIcon-1" class="accordion-collapse collapse show" style="">
            <div class="accordion-body">
                Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing marzipan gummi
                bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping soufflé. Wafer gummi bears
                marshmallow pastry pie.
            </div>
        </div>
    </div>*@


<!DOCTYPE html>
<html>
<head>



</head>
<body>
    <div class="flex-grow-1 container-p-y container-fluid">
        <div id="SearchRoleWise">

            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Admin Module /</span> MANAGE ROLE</h4>

            <div class="row mb-2">
                <div class="col-md-12 col-lg-12 mb-3">

                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">
                                <span id="AddNewText_Span_CreatePage">
                                    MANAGE ROLE
                                </span>
                            </h6>
                        </div>
                        <div class="demo-inline-spacing text-end" >
                            <div class="col-sm-3">
                            </div>
                            <button type="button" class="btn rounded-pill btn-info waves-effect waves-light" id="addnewRoleformanage"> Create Role</button>
                        </div>
                        <div class="card-body mb-2">

                            @*=============================  Form Start ================================*@
                            <form id="Serach_MR">
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            @*=====================        TEXT BOX                 =================*@

                                            <div class="row mb-3">
                                                <div class="col-sm-3">
                                                </div>
                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Role Name</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="RoleName" placeholder="Role Name">
                                                </div>
                                                <div class="col-sm-3">
                                                </div>
                                            </div>
                                            @*=====================         TEXT BOX                =================*@

                                            <div class="row mb-3">
                                                <div class="col-sm-3">
                                                </div>
                                                <label class="col-sm-2 col-form-label text-end" for="basic-default-name">Role Description</label>
                                                <div class="col-sm-4">
                                                    <textarea class="form-control" id="RoleDescription" placeholder="Role Description"></textarea>
                                                </div>
                                                <div class="col-sm-3">
                                                </div>
                                            </div>
                                            @*=====================         BUTTONS                =================*@

                                            <div class="row justify-content-end">
                                                <div class="col-sm-5">
                                                </div>
                                                <div class="col-sm-7">
                                                    <button type="reset" class="btn btn-warning waves-effect waves-light" id="clearform">Clear</button>
                                                    <button type="button" class="btn btn-success waves-effect waves-light" id="sub_tblMR">Search</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </form>
                            @*=============================  Form End ================================*@

                        </div>
                    </div>
                </div>
            </div>

            @*=============================  TABLE START ================================*@

            <div class="card">

                <h6 class="card-title mb-0">
                    <span>YOUR SEARCH RESULTED <span id="totalrecords_Tranctions_MR" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
                </h6>
                <div class="table-responsive text-nowrap">
                    <table id="tblMRsearchresults" class="link table table-hover table-bordered ">
                        <thead class="table-dark">
                            <tr>
                                <th>
                                    S.No
                                </th>
                                <th>
                                    Role Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Folder Size(In MB)
                                </th>
                                <th>
                                    Delete
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            @*=============================  TABLE END ================================*@
        </div>
        <div id="CreateRoleScreenAll" style="display:none"></div>

    </div>


</body>
</html>


<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/SearchRoles.js"></script>
<script src="~/js/CommonScripts.js"></script>




