@*@model SchoolConnect4M_WebApi.Models.RoleProp*@

@{
    ViewData["Title"] = "SearchRolewise";
}

<link href="~/css/CommonStyle.css" rel="stylesheet" />
<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />

<div class="col-sm-12 ">

    <div class="card">

        <div class="card-body">
            <div class="default-according style-1" id="accordionoc">
                <div class="card">
                    <h6><span>MANAGE ROLE</span></h6>



                    <div class="card-header pb-0">
                        <button class="btn btn-pill btn-outline-primary btn-aprimary" style=" margin-left: 81%; border-radius: 15px; height: 35px;  margin-bottom: 3px;" id="addnewRoleformanage">
                            Create Role

                        </button>

                    </div>
                    <div id="SearchRoleWise">

                        <div class="card-header bg-primary">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapse11">SEARCH ROLE</button>
                            </h5>
                        </div>
                        <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordionoc">

                            <div class="row padding-search">
                                <div class="row">

                                    <form id="Serach_MR">
                                        <div class="row">

                                            @*<input asp-for="InstanceSubjectId" class="form-control" id="formInstanceSubjectId" hidden />*@

                                            <div class="col-3"></div>
                                            <div class="form-group col-2">


                                                <label class="control-label space">Role Name</label>
                                                @*<i class="fa fa-asterisk" style="font-size:11px;color:red"></i>*@

                                            </div>
                                            <div class="form-group col-4">

                                                <input class="form-control" id="RoleName" />
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>

                                            <div class="form-group col-2">


                                                <label class="control-label space">Role Description</label>
                                                @*<i class="fa fa-asterisk" style="font-size:11px;color:red"></i>*@

                                            </div>
                                            <div class="form-group col-4">

                                                <textarea class="form-control" id="RoleDescription"></textarea>

                                            </div>
                                            <div class="col-3"></div>

                                            <div style=" display: flex; gap: 17px;">
                                                <div class="col-5"></div>
                                                <input type="reset" value="Clear" class="btn btn-pill btn-outline-warning btn-air-warning" id="clearform" />
                                                <input type="button" value="Search" id="sub_tblMR" class="btn btn-pill btn-outline-success btn-air-success" />

                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed text-white" data-bs-toggle="collapse"> YOUR SEARCH RESULTS <span id="totalrecords_Tranctions_MR" style=" background-color: white; color: red; font-weight: 900; background-color: white; padding: 5px; border-radius: 16px;"></span> RECORD(S)</button>
                                </h5>
                            </div>

                            <div id="eg1" style="color: black; background-color: whitesmoke">
                                <table class=" table table-bordered" id="tblMRsearchresults" style="background-color: whitesmoke; border-color: red; font-size: 11px;">
                                    <thead>
                                        <tr style="border-color: black;">

                                            <th style=" border-color: blue; width: 92px !important;" class="bg-primary">
                                                S.No
                                            </th>
                                            <th style="border-color: blue" class="bg-primary">
                                                Role Name
                                            </th>
                                            <th style="border-color: blue" class="bg-primary">
                                                Description
                                            </th>
                                            <th style=" border-color: blue" class="bg-primary">
                                                Folder Size(In MB)
                                            </th>
                                            <th style=" border-color: blue" class="bg-primary">
                                                Delete
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>



                        </div>

                    </div>

                    <div id="CreateRoleScreenAll" style="display:none"></div>


                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Datatable/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/SearchRoles.js"></script>
<script src="~/js/CommonScripts.js"></script>




