
@{
    ViewData["Title"] = "StaffattendanceSearch";
    Layout = null;
}
<style>
    .table > :not(caption) > * > * {
        padding: 4px !important;
    }
    .card #tblStaffattendancesearchresults tbody td:hover {
        background-color: black !important;
        color: white;
        font-weight: 900
    }
</style>
<div class="card">
    <div class="card-body" id="checksall">
        <div class="demo-inline-spacing">
            <button type="button" class="btn rounded-pill btn-label-primary waves-effect" id="_staffattendanceExportExcel" title="Export Excel">Export Excel</button>
            <button type="button" class="btn rounded-pill btn-label-primary waves-effect" id="_staffattendancePrint" title="Print">PRINT</button>
        </div>

        <h6 class="card-title mb-0">
            <span>YOUR SEARCH RESULTS <span id="totalrecords_Tranctions_StaffA" class="badge badge-center rounded-pill bg-primary bg-glow">0</span> RECORD(S).</span>
        </h6>

        <div class="table-responsive text-nowrap">
            <table id="tblStaffattendancesearchresults" class="table table-hover table-bordered ">

                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Month
                        </th>
                        <th>
                            Year
                        </th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>



                    </tr>
                </thead>

            </table>
        </div>

        @*=============================  TABLE END ================================*@

        <div class="table-responsive text-nowrap">

            <table id="ctl00_ContentPlaceHolder1_tblBusInfo" class="table table-hover table-bordered " style=" width: 38%; margin-left: 29%;">
                <tbody>
                    <tr>
                        <td align="left">
                            <b>P   : Present</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>H   : School Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>CL  : Casual Leave </b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>ML  : Medical Leave </b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>LOP : Loss of pay</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>EL  : Earned Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>MAL : Maternity Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>PTL : Paternity Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>PAL : Professional Advancement Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>MAL : Maternity Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>PEL : Previous Earned Leaves</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>OD  : ON Duty</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <b>SL : Short Leave</b>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 3px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






