/*.description {
    font-size: 21px;
    line-height: 30px;
    width: 796px;
    margin-top: -370px;
}

.title {
  font-size: 96px;
  margin: 0;
}*/
.required::before {
    content: "*";
    color: red;
    font-size: 12px;
}

.space::after {
    content: " : ";
    /* display: inline-block;*/
    font-weight: 900;
    padding-right: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: rgba(71,207,96,0.8);
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    /* text-align: center;*/
    display: none;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 73%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.alert-danger {
    color: #a94442;
    background-color: rgba(255,56,108,0.8);
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
    text-align: center;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 73%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /*    animation: slowMotionX 5s linear infinite alternate;
*/
}

@keyframes slowMotionX {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-250%); /* Adjust the distance and direction as needed */
    }
}

#Print_SEM_table {
    position: absolute;
    left: 30%;
    font: 14px aria;
}

    #Print_SEM_table td:nth-child(1) {
        text-align: end;
        padding: 5px;
        font-weight: 900;
    }

    #Print_SEM_table td:nth-child(2) {
        text-align: center;
        padding: 5px;
        font-weight: 500;
    }

#appendprint_SEM td, #appendprint_SEM table {
    border: 1px solid;
}

#appendprint_SEM table {
    width: 100%;
}

#appendprint_SEM #tblappendprntdiv_sem {
    font-weight: 900;
    background-color: lightcyan;
    padding: 10px;
    text-align: center;
}

/* -------------------------  Data Table Design  -------------------*/
.default-according.style-1 button {
    width: auto;
    text-align: left;
}
/*.buttons-pdf {
    background-color: green !important;
}

.buttons-print {
    background-color: black !important;
}*/

.dataTables_info {
    display: none;
}

.dt-buttons {
    display: inline-flex;
    gap: 9px;
}
