body {
    width: 101%;
}
/*---------- Loading Spinner CSS Code Start-------------*/

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1998;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.loading-text {
    margin-top: 39px;
    font-size: 12px;
    margin-left: 123px;
    color: #fd2d63;
    font-weight: bold;
}


.spinner {
    width: 100px;
    height: 100px;
    border: 0px solid #011015;
    border-radius: 50%;
    position: absolute;
    z-index: 9998;
}

    .spinner:nth-child(1) {
        border-bottom-width: 8px;
        border-color: #fd2d63;
        animation: rotate1 3s linear infinite;
    }

    .spinner:nth-child(2) {
        border-right-width: 8px;
        border-color: rgb(0, 162, 265);
        animation: rotate2 3s linear infinite;
    }

    .spinner:nth-child(3) {
        border-top-width: 8px;
        border-color: rgb(0, 247, 255);
        animation: rotate3 3s linear infinite;
    }

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


/*---------- Loading Spinner CSS Code End-------------*/


/*----HEADER BTN NAMES AND STYLE CODE START----*/
.Headers_Btn {
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 3px;
    font-family: emoji;
    border: 2px solid black;
    height: 29px;
    font-size: 14px;
    font-weight: bolder;
    width: 99%;
}

.Header_text_span {
    color: white;
    font-size: 13px;
    font-weight: bolder;
}

/*----HEADER BTN NAMES AND STYLE CODE END----*/



.form-group {
    margin-bottom: 12px;
}

.label-normal {
    height: 21px;
    margin-top: 2px;
}

.label-modified {
    height: 30px;
    margin-top: 40px;
}



input[type="text"] {
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
}

    input[type="text"]:focus {
        border: 2px solid blue;
        outline: none;
    }

select {
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 13.5px;
    height: 24px;
}





/*Table Data Css start*/
.tabledata {
    width: 99%;
    border: 1px solid #CDD;
    margin: 3px 0px 0px 8px;
}

    .tabledata thead th {
        /*border-color: #CD4;
        padding: 7px;
        border: 1px solid;*/
        height: 24px;
        border-left: 1px solid #dfdfdf;
        font-size: 11px;
        font-weight: bold;
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        padding: 0px 4px;
        text-align: left;
    }

    .tabledata tbody td {
        border-color: #CD4;
        padding: 7px;
        border: 1px solid;
    }

    .tabledata tr:hover {
        background-color: snow;
    }

/*Table Data Css End*/
